app-flight-home{

	/*fsinc*/
	.flight-search-area{
		mat-form-field{
			font-size: 16px;     width: 100%;
			&.mat-focused{
				.mat-form-field-label{display: none;}
			}
			&.mat-form-field-should-float{
				.mat-form-field-label{display: none;}
			}
			.mat-form-field-infix{margin: 0;border: 0;}
			.mat-form-field-wrapper{padding: 0 !important;}
			.mat-form-field-underline{display: none;}
			.mat-datepicker-toggle-default-icon {width: 25px !important; fill: #b1acac; position: relative; right: 5px;}
			mat-datepicker-toggle{outline: none;}
			button[ng-reflect-disabled=true]{right: 5px;
				.mat-datepicker-toggle-default-icon{right: 0; background: #ffffff !important;}
			}
		}
	}
	@media screen and (min-width:768px) {
	.flight-search-area .flight-search-left-area {
		mat-form-field{    width: calc(100% + 30px) !important; margin-left: -15px; 
			.mat-form-field-infix, .mat-form-field-label-wrapper{text-indent: 15px;padding-right: 15px; text-overflow: ellipsis;} 
			input{    width: calc(100% - 20px) !important; font-weight: 500;}
		}  
		.flight-to{
			mat-form-field{    width: calc(100% + 35px) !important; margin-left: -20px; 
				.mat-form-field-infix, .mat-form-field-label-wrapper{text-indent: 20px;padding-right: 15px; text-overflow: ellipsis;}
				input{    width: calc(100% - 20px) !important; font-weight: 500;}
			} 
		}
	  }
	}
	@media screen and (max-width:767px) {
		.flight-search-area .flight-search-left-area {
			mat-form-field{    width: calc(100% + 10px) !important; margin-left: -5px; 
				.mat-form-field-infix, .mat-form-field-label-wrapper{text-indent: 10px;padding-right: 18px; text-overflow: ellipsis;} 
				input{    width: calc(100% - 20px) !important;}
			}  
			.flight-to{
				mat-form-field{    width: calc(100% + 18px) !important; margin-left: -20px; 
					.mat-form-field-infix, .mat-form-field-label-wrapper{text-indent: 20px;padding-right: 10px; text-overflow: ellipsis;}
					input{    width: calc(100% - 20px) !important;}
				} 
			}
		}
	}
	/*fsinc*/

	.footerTabs{height: 50px; background: #fff; color: #949494; position: fixed; bottom: 0; z-index: 9; border-top: solid #dadada 1px; font-size: 10px;
		width: 100%;
		figure{margin: 0; padding-top: 5px; height: 30px;
			.business_menu {width: 17px;}
			.wallet_menu {width: 23px;}
			.mat-icon{height: 18px;}
		}
		.footLogo{
			aside{border-radius: 90%;
				border: solid 2px #fff;
				width: 50px;
				height: 50px;
				padding: 5px;
				position: absolute;
				top: -7px;
				background: #f4f4f8;
				left: 50%;
				margin-left: -25px;
				-webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,.1);
				box-shadow: 0 0 0 1px rgba(0,0,0,.2);
				overflow: hidden;
				img{margin-top: 9px;
					width: 38px;}
			}
		}
		& + ._footerTabs{height: 50px;}
	}


	// Common Css

	// .newContainer{
	// 	max-width: 1200px !important;
	// 	width: 100%;
	// }
	
	.section-heading {
		position: relative;
		text-align: center;
		margin-bottom: 50px;
		h3{
			font-size: 24px;
			font-weight: 600;
			color: #642782;
			text-transform: uppercase;
		}
		span.heading-separator{
			position: absolute;
			width: 65px;
			height: 2px;
			background: #f08c2e;
			margin: 0 auto;
			bottom: -15px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	

	// Header Banner Css
	section.header-banner {
		background: #652783;
		height: 380px;
		.header-user-menu {
			padding: 45px 0px;
			ul.user-menu-main{
				padding: 0px !important;
				max-width: 1015px;
				width: 100%;
				margin: 0 auto;
				justify-content: center;
				align-items: center;
				list-style: none;
				li{
					width: 105px;
					text-align: center;
				}
				button.user-menu-item {
					width: 65px;
					margin: 0 auto;
					padding: 0;
					background: transparent;
					.icon-container {
						width: 60px;
						height: 60px;
						margin: 0 auto;
						background: #fff;
						display: flex;
						justify-content: center;
						align-items: center;
						border-radius: 50%;
						margin-bottom: 10px;
						img{
							max-width: 35px;
						}
					}
					.menu-text{
						span{
							color: #fff;
							font-size: 16px;
						}
					}
					&.active{
						.menu-text{
							span{
								color: #f08c2e;
								font-weight: 700;
							}
						}
					}
				}
			}
		}
	}


	


	// Flash Sales CSs

	section.flash-sale-area {
		position: relative;
		padding-top: 65px;
		.newContainer{
			position: relative;
		}
		.flash-sales-main{
			position: relative;
			padding-bottom: 40px; z-index: 0;
			.sales-single-item {
				display: block !important;
				position: relative;
				text-align: center;
				padding: 20px 0px;
				background: #fff;
				box-shadow: 0 15px 35px -15px rgba(0, 0, 0, 0.07);
				border: 1px solid rgba(51, 51, 51, 0.08);
				border-radius: 8px;
				transition: .3s;
				.icon-container{
					width: 49px;
					height: 49px;
					margin: 5px auto;;
				}
				.sales-heading{
					margin-bottom: 10px;
					h4{
						font-size: 20px;
						color: #f08c2e;
					}
				}
				.sales-description{
					span{
						font-size: 15px;
						color: #383838;
					}
				}
			}
			.swiper-pagination1 {
				display: none;
				.swiper-pagination-bullet-active{
					background: #f08c2e ;
				}
			}
		}
		.swiper-button-next1 {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 35px;
			height: 35px;
			right: -40px;
			top: 50%;
			background: #fff;
			background-image: none !important;
			border-radius: 50%;
			box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.07);
			margin-top: -5px !important;
			z-index: 11 !important;
			cursor: pointer;
			mat-icon{color: #f08c2e;}
			&:focus{outline: none;}
		}
		.swiper-button-prev1 {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 35px;
			height: 35px;
			top: 50%;
			left: -40px;
			background: #fff !important;
			background-image: none !important;
			border-radius: 50%;
			box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.07);
			margin-top: -5px !important;
			z-index: 11 !important;
			cursor: pointer;
			margin: auto;
			mat-icon{color: #f08c2e;}
			&:focus{outline: none;}
		}
	}


	
	// Recent-activity-area Css


	section.recent-activity-area{
		position: relative;
		.newContainer{
			position: relative;
		}
		.recent-activity-main{
			position: relative;
			padding-bottom: 40px;
			.activity-single-item{
				display: block;
				position: relative;
				padding: 15px;
				background: #fff;
				border-radius: 8px;
				box-shadow: 0 15px 35px -15px rgba(0, 0, 0, 0.07);
				border: 1px solid rgba(51, 51, 51, 0.08);
				.activity-slider-inner{
					h4{
						font-size: 16px;
						font-weight: 600;
						color: #642782;
					}
					.activity-top-area{
						justify-content: space-between;
						margin-bottom: 70px;
						.activity-tag{
							position: absolute;
							top: 0;
							left: 0;
							max-width: 95px;
							width: 100%;
							padding: 8px;
							background: rgba(240, 140, 46, 0.7607843137254902);
							border-top-left-radius: 8px;
							border-bottom-right-radius: 8px;
							span{
								display: block;
								font-size: 13px;
								color: #fff;
								font-weight: 700;
							}
						}
						.icon-container{
							position: absolute;
							right: 15px;
							top: 15px;
							width: 55px;
    						height: 55px;
							display: flex;
							justify-content: center;
							align-items: center;
							background: #fff;
							border-radius: 50%;
							box-shadow: 0px 0px 25px rgba(21, 19, 18, 0.12156862745098039);
							img{
								width: 30px;
							}
						}
					}
					.activity-details-area{
						justify-content: space-between;
						margin-bottom: 20px;
						.title-left-area{
							span.date{
								font-size: 14px;
								color: #737373
							}
						}
						.details-icon-area{
							margin-top: -5px;
							i{
								color: #f08c2e;
								border: 1px solid rgba(51, 51, 51, 0.18823529411764706);
								border-radius: 50%;
								font-size: 20px;
								padding: 3px;
							}
						}
						&.restaurent{
							justify-content: center;
							.title-left-area{
								text-align: center;
							}
						}

					}
					.activity-bottom-area{
						justify-content: space-between;
						p{
							color: #737373;
							font-size: 13px;
						}
						a{
							color: #f08c2e;
							position: relative;
							font-size: 14px;
							&:before{
								position: absolute;
								content: "";
								left: 0;
								bottom: -2px;
								width: 0;
								height: 1px;
								background: #f08c2e;
								transform-origin: left;
								transition:  .4s;
							}
							&:hover{
								&:before{
									width: 100%;
								}
							}
						}
					}
				}
			}
			.swiper-pagination2 {
				display: none;
				.swiper-pagination-bullet-active{
					background: #f08c2e ;
				}
			}
		}
		.swiper-button-next-activity {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 35px;
			height: 35px;
			right: -40px;
			top: 50%;
			background: #fff;
			background-image: none !important;
			border-radius: 50%;
			box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.07);
			margin-top: -5px !important;
			z-index: 11 !important;
			cursor: pointer;
			mat-icon{color: #f08c2e;}
			&:focus{outline: none;}
		}
		.swiper-button-prev-activity {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 35px;
			height: 35px;
			top: 50%;
			left: -40px;
			background: #fff !important;
			background-image: none !important;
			border-radius: 50%;
			box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.07);
			margin-top: -5px !important;
			z-index: 11 !important;
			cursor: pointer ;
			margin: auto;
			mat-icon{color: #f08c2e;}
			&:focus{outline: none;}
		}
	}


	// top deals area Css

	section.top-deals-area{
		.top-deals-main{
			.mat-tab-labels {
				display: flex;
				justify-content: center;
			}
			.mat-tab-label{
				min-width: 90px;
			}
			mat-tab-body{
				padding: 30px 0px;
				
			}
			.mat-tab-body-wrapper{
				overflow: initial !important;
				.mat-tab-body.mat-tab-body-active{
					overflow: inherit !important;
					.mat-tab-body-content{
						overflow: initial !important;
					}
				}
			}
			.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
				background: #f08c2e !important;
			}
			.mat-tab-label-active{
				.mat-tab-label-content{
					color: #f08c2e;
				}
			}
			.top-deals-single-item {
				padding: 20px;
				background: #fff;
				border: 1px solid #33333312;
				border-radius: 8px;
				margin-bottom: 20px;
				box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.05);
				.deals-title-box.d-flex {
					justify-content: space-between;
				}
				h4.deal-title{
					font-size: 20px;
					color: #642782;
					margin-bottom: 10px;
				}
				p.deal-text {
					font-size: 16px;
					color: #6f6f6f;
					max-width: 310px;
					width: 100%;
				}
				.deals-btn-area{
					a{
						position: relative;
						font-size: 15px;
						color: #f08c2e;
						&:before{
							position: absolute;
							content: "";
							left: 0;
							bottom: -2px;
							width: 0;
							height: 1px;
							background: #f08c2e;
							transform-origin: left;
							transition:  .4s;
						}
						&:hover{
							&:before{
								width: 100%;
							}
						}
					}
				}
				.tc-text{
					span{
						font-size: 12px;
						text-transform: uppercase;
						color: #a7a7a7;
					}
				}
			}
		}
	}


	// Search form 3s way
	
	// .travaler-count-form {
	// 	mat-form-field{ font-size: 16px; padding: 9px !important ;
	// 		.mat-form-field-infix{ margin: 0; border: 0; padding: 0;
	// 		}
	// 		.mat-form-field-underline{display: none;}
	// 		 .mat-select-arrow { margin-top: -5px !important; border-style: solid !important; border-width: 0 2px 2px 0 !important; border-left: 0; border-right: 0; content: ''; display: inline-block !important; padding: 3px !important; -webkit-transform: rotate(45deg) !important; transform: rotate(45deg) !important; vertical-align: middle !important; color: #373737;
	// 		}
	// 	}
	// }
	// End Search form 3s way
	

	.swiper-button-disabled{opacity: 0.5; cursor: not-allowed !important;}

	@media screen and (max-width:991px) {
		.swiper-button-next1, .swiper-button-prev1, .swiper-button-next-activity, .swiper-button-prev-activity{display: none !important;}
	}
	// Mobile Screen Css
	@media screen and (max-width:767px) {	
		
		section.header-banner{
			.newContainer{padding: 0 !important; margin: 0 !important;}
			height: 115px;
			background: #fff;
			background-image:linear-gradient(0deg, #fbefe58a 5%, #fde8d5 100%);
			background-image: -webkit-linear-gradient(0deg, #fbefe58a 5%, #fde8d5 100%);
			background-image: -ms-linear-gradient(0deg, #fbefe58a 5%, #fde8d5 100%);
			background-image: -moz-linear-gradient(0deg, #fbefe58a 5%, #fde8d5 100%);
			background-image: -webkit-linear-gradient(0deg, #fbefe58a 5%, #fde8d5 100%);
			background-image: -ms-linear-gradient(0deg, #fbefe58a 5%, #fde8d5 100%);
			.header-user-menu{
				overflow-x: auto;
				padding: 15px 0px 0px 0px; text-align: center;
			}
			.header-user-menu ul.user-menu-main{
				justify-content: normal;
				li{
					display: inline-block;
					margin-bottom: 10px;
					width: 67px !important;
					button{
						width: 52px !important;
						.icon-container{
							width: 48px !important;
							height: 48px !important;
							box-shadow: 0px 0px 25px #00000017 !important;
							border: 1px solid #3333332b;
							img{
								width: 30px;
							}
						}
						span{
							font-size: 13px !important;
							color: #5d5d5d !important;
							font-weight: 600;
						}
						&.active{
							span{
								color: #f08c2e !important;
							}
						}
					}
				}
			}
		}
		section.main-search-area.hotel-booking-feild.bg-mobile {
			background: linear-gradient(0deg, #fdf6f08f 15%, #fdf6f0 100%) !important;
			background-image: -webkit-linear-gradient(0deg, #fdf6f08f 15%, #fdf6f0 100%) !important;
			background-image: -ms-linear-gradient(0deg, #fdf6f08f 15%, #fdf6f0 100%) !important;
			background-image: -moz-linear-gradient(0deg, #fdf6f08f 15%, #fdf6f0 100%) !important;
			background-image: -webkit-linear-gradient(0deg, #fdf6f08f 15%, #fdf6f0 100%) !important;
			background-image: -ms-linear-gradient(0deg, #fdf6f08f 15%, #fdf6f0 100%) !important;
		}

		
		.flight-search-main mat-form-field .mat-form-field-wrapper .mat-form-field-infix{width: 100%;}
		.section-heading{margin-bottom: 30px;
			h3{font-size: 20px;}
		}
		section.flash-sale-area {padding-top: 85px;}
		
	}
	@media screen and (max-width:480px) {	
		.top-deals-area .tab-content{overflow-x: hidden;}
	}

}