<!-- <button mat-icon-button (click)="firstComponentFunction()">
    <mat-icon>more_vert</mat-icon>
</button> -->
<div class="flight-home-main" style="width: 100%;">
    <section class="header-banner">
        <div class="newContainer">
            <div class="header-user-menu">
                <ul class="user-menu-main d-flex">
                    <li>
                        <button class="user-menu-item active" >
                            <div class="icon-container">
                                <img src="assets/img/business/flight.png" alt="menu-icon" class="menu-icon">
                            </div>
                            <div class="menu-text">
                                <span>Flights</span>
                            </div>
                        </button>
                    </li>
                    <li>
                        <button class="user-menu-item" routerLink="/eat/home">
                            <div class="icon-container">
                                <img src="assets/img/business/eat.png" alt="menu-icon" class="menu-icon">
                            </div>
                            <div class="menu-text">
                                <span>Eat</span>
                            </div>
                        </button>
                    </li>
                    <li>
                        <button class="user-menu-item "  routerLink="/hotel/home">
                            <div class="icon-container">
                                <img src="assets/img/business/hotel.png" alt="menu-icon" class="menu-icon">
                            </div>
                            <div class="menu-text">
                                <span>Hotel</span>
                            </div>
                        </button>
                    </li>
                    <li>
                        <button class="user-menu-item" >
                            <div class="icon-container">
                                <img src="assets/img/business/taxi.png" alt="menu-icon" class="menu-icon">
                            </div>
                            <div class="menu-text">
                                <span>Texi</span>
                            </div>
                        </button>
                    </li>
                    <li>
                        <button class="user-menu-item" >
                            <div class="icon-container">
                                <img src="assets/img/business/coupon.png" alt="menu-icon" class="menu-icon">
                            </div>
                            <div class="menu-text">
                                <span>Boucher</span>
                            </div>
                        </button>
                    </li>
                    <li>
                        <button class="user-menu-item" >
                            <div class="icon-container">
                                <img src="assets/img/business/courier.png" alt="menu-icon" class="menu-icon">
                            </div>
                            <div class="menu-text">
                                <span>Courier</span>
                            </div>
                        </button>
                    </li>
                    <li>
                        <button class="user-menu-item" >
                            <div class="icon-container">
                                <img src="assets/img/business/bus.png" alt="menu-icon" class="menu-icon">
                            </div>
                            <div class="menu-text">
                                <span>Bus</span>
                            </div>
                        </button>
                    </li>
                    <li>
                        <button class="user-menu-item" >
                            <div class="icon-container">
                                <img src="assets/img/business/shop.png" alt="menu-icon" class="menu-icon">
                            </div>
                            <div class="menu-text">
                                <span>Shop</span>
                            </div>
                        </button>
                    </li>
                    <li>
                        <button class="user-menu-item" >
                            <div class="icon-container">
                                <img src="assets/img/business/more.png" alt="menu-icon" class="menu-icon">
                            </div>
                            <div class="menu-text">
                                <span>More</span>
                            </div>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </section>


    <!-- Header User Menu End -->

        <!-- Main Search & Boking Start -->
        
        <app-flight-home-search></app-flight-home-search>

         <!-- Main Search & Boking End -->
        

         <!-- Flash Sale area start -->
        
        <section class="flash-sale-area bg-mobile">
            <div class="newContainer position-relative">
                <div class="section-heading">
                    <div class="heading-text">
                        <h3>Flash Sales</h3>
                        <span class="heading-separator"></span>
                    </div>
                </div>
                <!-- <swiper [config]="config" [(index)]="index"></swiper> -->
                <div class="flash-sales-main swiper-container">
                    <swiper [config]="config" class="swiper-wrapper">
                        <div class="animated bounceIn sales-single-item slider-single-item swiper-slide">
                            <div class="icon-container">
                                <img src="assets/img/business/taxi.png" alt="">
                            </div>
                            <div class="sales-heading">
                                <h4>
                                    Free Taxi
                                </h4>
                            </div>
                            <div class="sales-description">
                                <span>Up to $1.20</span>
                            </div>
                        </div>
                        <div class="animated bounceIn sales-single-item slider-single-item swiper-slide">
                            <div class="icon-container">
                                <img src="assets/img/business/eat.png" alt="">
                            </div>
                            <div class="sales-heading">
                                <h4>
                                    50% Discount
                                </h4>
                            </div>
                            <div class="sales-description">
                                <span>Up to $0.50</span>
                            </div>
                        </div>
                        <div class="animated bounceIn sales-single-item slider-single-item swiper-slide">
                            <div class="icon-container">
                                <img src="assets/img/business/courier.png" alt="">
                            </div>
                            <div class="sales-heading">
                                <h4>
                                    50% cashback
                                </h4>
                            </div>
                            <div class="sales-description">
                                <span>925 per package</span>
                            </div>
                        </div>
                        <div class="animated bounceIn sales-single-item slider-single-item swiper-slide">
                            <div class="icon-container">
                                <img src="assets/img/business/flight.png" alt="">
                            </div>
                            <div class="sales-heading">
                                <h4>
                                    @ Rs.1000* OFF
                                </h4>
                            </div>
                            <div class="sales-description">
                                <span>SpiceJet business class</span>
                            </div>
                        </div>
                        <div class="animated bounceIn sales-single-item slider-single-item swiper-slide">
                            <div class="icon-container">
                                <img src="assets/img/business/eat.png" alt="">
                            </div>
                            <div class="sales-heading">
                                <h4>
                                    50% Discount
                                </h4>
                            </div>
                            <div class="sales-description">
                                <span>Up to $0.50</span>
                            </div>
                        </div>
                        <div class="animated bounceIn sales-single-item slider-single-item swiper-slide">
                            <div class="icon-container">
                                <img src="assets/img/business/courier.png" alt="">
                            </div>
                            <div class="sales-heading">
                                <h4>
                                    50% cashback
                                </h4>
                            </div>
                            <div class="sales-description">
                                <span>925 per package</span>
                            </div>
                        </div>
                    </swiper>
                    <div class="swiper-pagination1"></div>
                </div>
                <!-- Main swipe slider end -->   
                <!-- Swipe Arrows -->
                <div class="swiper-button-next1">
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </div>
                <div class="swiper-button-prev1">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                </div>
            </div>
        </section>

        <!--  Flash Sale area End -->

        <!-- Recent Activity Area start -->

        <section class="recent-activity-area bg-mobile">
            <div class="newContainer position-relative">
                <div class="section-heading">
                    <div class="heading-text">
                        <h3>recent activities</h3>
                        <span class="heading-separator"></span>
                    </div>
                </div>
                <div class="recent-activity-main activity-slider swiper-container"  id="acitivty-slider">
                    <swiper [config]="config2" class="swiper-wrapper">
                        <div class="activity-single-item slider-single-item swiper-slide">
                            <div class="activity-slider-inner">
                                <div class="activity-top-area d-flex">
                                    <div class="activity-tag">
                                        <span>
                                            {{Flight_Trip}}
                                        </span>
                                    </div>
                                    <div class="icon-container">
                                        <img src="assets/img/business/flight.png" alt="">
                                    </div>
                                </div>
                                <div class="activity-details-area d-flex">
                                    <div class="title-left-area">
                                        <h4>{{Flight_From}}</h4>
                                        <span class="date">{{Flight_Departure | date: 'EEE, dd-LLL-yyyy'}}</span>
                                    </div>
                                    <div class="details-icon-area">
                                        <i class="material-icons">
                                            sync_alt
                                        </i>
                                    </div>
                                    <div class="title-right-area">
                                        <h4>{{Flight_To}}</h4>
                                    </div>
                                </div>
                                <div class="activity-bottom-area d-flex">
                                    <div class="amount-details">
                                        <p class="amount">Amount: £ <span>24.50</span></p>
                                    </div>
                                    <div class="activity-btn-area">
                                        <a href="" class="btn-activity">Show Result</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="activity-single-item slider-single-item swiper-slide">
                            <div class="activity-slider-inner">
                                <div class="activity-top-area d-flex">
                                    <div class="activity-tag">
                                        <span>
                                            Car
                                        </span>
                                    </div>
                                    <div class="icon-container">
                                        <img src="assets/img/business/taxi.png" alt="">
                                    </div>
                                </div>
                                <div class="activity-details-area d-flex">
                                    <div class="title-left-area">
                                        <h4>Mumbai</h4>
                                        <span class="date">01-Jul-2019</span>
                                    </div>
                                    <div class="details-icon-area">
                                        <i class="material-icons">
                                            trending_flat
                                        </i>
                                    </div>
                                    <div class="title-right-area">
                                        <h4>Bengaluru</h4>
                                    </div>
                                </div>
                                <div class="activity-bottom-area d-flex">
                                    <div class="amount-details">
                                        <p class="amount">Amount: £ <span>24.50</span></p>
                                    </div>
                                    <div class="activity-btn-area">
                                        <a href="" class="btn-activity">Show Result</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="activity-single-item slider-single-item swiper-slide">
                            <div class="activity-slider-inner">
                                <div class="activity-top-area d-flex">
                                    <div class="activity-tag">
                                        <span>
                                            Eat
                                        </span>
                                    </div>
                                    <div class="icon-container">
                                        <img src="assets/img/business/eat.png" alt="">
                                    </div>
                                </div>
                                <div class="activity-details-area d-flex restaurent">
                                    <div class="title-left-area">
                                        <h4>Taste of India</h4>
                                        <span class="date">01-Jul-2019</span>
                                    </div>
                                </div>
                                <div class="activity-bottom-area d-flex">
                                    <div class="amount-details">
                                        <p class="amount">Amount: £ <span>24.50</span></p>
                                    </div>
                                    <div class="activity-btn-area">
                                        <a href="" class="btn-activity">Order Again</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="activity-single-item slider-single-item swiper-slide">
                            <div class="activity-slider-inner">
                                <div class="activity-top-area d-flex">
                                    <div class="activity-tag">
                                        <span>
                                            Car
                                        </span>
                                    </div>
                                    <div class="icon-container">
                                        <img src="assets/img/business/taxi.png" alt="">
                                    </div>
                                </div>
                                <div class="activity-details-area d-flex">
                                    <div class="title-left-area">
                                        <h4>Mumbai</h4>
                                        <span class="date">01-Jul-2019</span>
                                    </div>
                                    <div class="details-icon-area">
                                        <i class="material-icons">
                                            trending_flat
                                        </i>
                                    </div>
                                    <div class="title-right-area">
                                        <h4>Bengaluru</h4>
                                    </div>
                                </div>
                                <div class="activity-bottom-area d-flex">
                                    <div class="amount-details">
                                        <p class="amount">Amount: £ <span>24.50</span></p>
                                    </div>
                                    <div class="activity-btn-area">
                                        <a href="" class="btn-activity">Show Result</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="activity-single-item slider-single-item swiper-slide">
                            <div class="activity-slider-inner">
                                <div class="activity-top-area d-flex">
                                    <div class="activity-tag">
                                        <span>
                                            Eat
                                        </span>
                                    </div>
                                    <div class="icon-container">
                                        <img src="assets/img/business/eat.png" alt="">
                                    </div>
                                </div>
                                <div class="activity-details-area d-flex restaurent">
                                    <div class="title-left-area">
                                        <h4>Taste of India</h4>
                                        <span class="date">01-Jul-2019</span>
                                    </div>
                                </div>
                                <div class="activity-bottom-area d-flex">
                                    <div class="amount-details">
                                        <p class="amount">Amount: £ <span>24.50</span></p>
                                    </div>
                                    <div class="activity-btn-area">
                                        <a href="" class="btn-activity">Order Again</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </swiper>
                    <div class="swiper-pagination2"></div>
                </div>
                <!-- Swipe Arrows -->
                <div class="swiper-button-next-activity">
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </div>
                <div class="swiper-button-prev-activity">
                        <mat-icon>keyboard_arrow_left</mat-icon>
                </div>
            </div>
        </section>

        <!-- Recent Activity Area Ends -->

        <!-- Top Deals Area Start -->

        <section class="top-deals-area bg-mobile">
            <div class="newContainer">
                <div class="section-heading">
                    <div class="heading-text">
                        <h3>Top Deals</h3>
                        <span class="heading-separator"></span>
                    </div>
                </div>
                <div class="top-deals-main top-deals-tab">
                    <mat-tab-group>
                        <mat-tab label="All">
                            <div class="tab-content">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="top-deals-single-item">
                                            <div class="deals-title-box d-flex">
                                                <div class="title-text">
                                                    <h4 class="deal-title">
                                                        SpiceJet
                                                    </h4>
                                                    <p class="deal-text">
                                                        Get up to ₹1,000 Cashback on flight ticket booking,
                                                        No minimum order value.
                                                    </p>
                                                </div>
                                                <div class="deals-btn-area">
                                                    <a href="" class="btn-deals">Book Now</a>
                                                </div>
                                            </div>
                                            <div class="tc-text text-right">
                                                <span>
                                                    t&c Apply
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="top-deals-single-item">
                                            <div class="deals-title-box d-flex">
                                                <div class="title-text">
                                                    <h4 class="deal-title">
                                                        Hotel 50% OFF
                                                    </h4>
                                                    <p class="deal-text">
                                                        Flat 53% Off + 50% Money Cashback on Room Bookings- Use Code- MYCDRP
                                                    </p>
                                                </div>
                                                <div class="deals-btn-area">
                                                    <a href="" class="btn-deals">Order Now</a>
                                                </div>
                                            </div>
                                            <div class="tc-text text-right">
                                                <span>
                                                    t&c Apply
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="top-deals-single-item">
                                            <div class="deals-title-box d-flex">
                                                <div class="title-text">
                                                    <h4 class="deal-title">
                                                        Domestic flight offers
                                                    </h4>
                                                    <p class="deal-text">
                                                        Exclusive: Upto Rs. 800 Instant Discount on Domestic Flights
                                                    </p>
                                                </div>
                                                <div class="deals-btn-area">
                                                    <a href="" class="btn-deals">Book Now</a>
                                                </div>
                                            </div>
                                            <div class="tc-text text-right">
                                                <span>
                                                    t&c Apply
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="top-deals-single-item">
                                            <div class="deals-title-box d-flex">
                                                <div class="title-text">
                                                    <h4 class="deal-title">
                                                        Taxi - 25% Cashback
                                                    </h4>
                                                    <p class="deal-text">
                                                        Get up to ₹1,000 Cashback on flight ticket booking,
                                                        No minimum order value
                                                    </p>
                                                </div>
                                                <div class="deals-btn-area">
                                                    <a href="" class="btn-deals">Book Now</a>
                                                </div>
                                            </div>
                                            <div class="tc-text text-right">
                                                <span>
                                                    t&c Apply
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Flights">
                            <div class="tab-content">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="top-deals-single-item">
                                            <div class="deals-title-box d-flex">
                                                <div class="title-text">
                                                    <h4 class="deal-title">
                                                        SpiceJet
                                                    </h4>
                                                    <p class="deal-text">
                                                        Get up to ₹1,000 Cashback on flight ticket booking,
                                                        No minimum order value.
                                                    </p>
                                                </div>
                                                <div class="deals-btn-area">
                                                    <a href="" class="btn-deals">Book Now</a>
                                                </div>
                                            </div>
                                            <div class="tc-text text-right">
                                                <span>
                                                    t&c Apply
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="top-deals-single-item">
                                            <div class="deals-title-box d-flex">
                                                <div class="title-text">
                                                    <h4 class="deal-title">
                                                        Hotel 50% OFF
                                                    </h4>
                                                    <p class="deal-text">
                                                        Flat 53% Off + 50% Money Cashback on Room Bookings- Use Code- MYCDRP
                                                    </p>
                                                </div>
                                                <div class="deals-btn-area">
                                                    <a href="" class="btn-deals">Order Now</a>
                                                </div>
                                            </div>
                                            <div class="tc-text text-right">
                                                <span>
                                                    t&c Apply
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="top-deals-single-item">
                                            <div class="deals-title-box d-flex">
                                                <div class="title-text">
                                                    <h4 class="deal-title">
                                                        Domestic flight offers
                                                    </h4>
                                                    <p class="deal-text">
                                                        Exclusive: Upto Rs. 800 Instant Discount on Domestic Flights
                                                    </p>
                                                </div>
                                                <div class="deals-btn-area">
                                                    <a href="" class="btn-deals">Book Now</a>
                                                </div>
                                            </div>
                                            <div class="tc-text text-right">
                                                <span>
                                                    t&c Apply
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="top-deals-single-item">
                                            <div class="deals-title-box d-flex">
                                                <div class="title-text">
                                                    <h4 class="deal-title">
                                                        Taxi - 25% Cashback
                                                    </h4>
                                                    <p class="deal-text">
                                                        Get up to ₹1,000 Cashback on flight ticket booking,
                                                        No minimum order value
                                                    </p>
                                                </div>
                                                <div class="deals-btn-area">
                                                    <a href="" class="btn-deals">Book Now</a>
                                                </div>
                                            </div>
                                            <div class="tc-text text-right">
                                                <span>
                                                    t&c Apply
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Hotels ">
                            <div class="tab-content">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="top-deals-single-item">
                                            <div class="deals-title-box d-flex">
                                                <div class="title-text">
                                                    <h4 class="deal-title">
                                                        SpiceJet
                                                    </h4>
                                                    <p class="deal-text">
                                                        Get up to ₹1,000 Cashback on flight ticket booking,
                                                        No minimum order value.
                                                    </p>
                                                </div>
                                                <div class="deals-btn-area">
                                                    <a href="" class="btn-deals">Book Now</a>
                                                </div>
                                            </div>
                                            <div class="tc-text text-right">
                                                <span>
                                                    t&c Apply
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="top-deals-single-item">
                                            <div class="deals-title-box d-flex">
                                                <div class="title-text">
                                                    <h4 class="deal-title">
                                                        Hotel 50% OFF
                                                    </h4>
                                                    <p class="deal-text">
                                                        Flat 53% Off + 50% Money Cashback on Room Bookings- Use Code- MYCDRP
                                                    </p>
                                                </div>
                                                <div class="deals-btn-area">
                                                    <a href="" class="btn-deals">Order Now</a>
                                                </div>
                                            </div>
                                            <div class="tc-text text-right">
                                                <span>
                                                    t&c Apply
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="top-deals-single-item">
                                            <div class="deals-title-box d-flex">
                                                <div class="title-text">
                                                    <h4 class="deal-title">
                                                        Domestic flight offers
                                                    </h4>
                                                    <p class="deal-text">
                                                        Exclusive: Upto Rs. 800 Instant Discount on Domestic Flights
                                                    </p>
                                                </div>
                                                <div class="deals-btn-area">
                                                    <a href="" class="btn-deals">Book Now</a>
                                                </div>
                                            </div>
                                            <div class="tc-text text-right">
                                                <span>
                                                    t&c Apply
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Shop ">
                            <div class="tab-content">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="top-deals-single-item">
                                            <div class="deals-title-box d-flex">
                                                <div class="title-text">
                                                    <h4 class="deal-title">
                                                        SpiceJet
                                                    </h4>
                                                    <p class="deal-text">
                                                        Get up to ₹1,000 Cashback on flight ticket booking,
                                                        No minimum order value.
                                                    </p>
                                                </div>
                                                <div class="deals-btn-area">
                                                    <a href="" class="btn-deals">Book Now</a>
                                                </div>
                                            </div>
                                            <div class="tc-text text-right">
                                                <span>
                                                    t&c Apply
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="top-deals-single-item">
                                            <div class="deals-title-box d-flex">
                                                <div class="title-text">
                                                    <h4 class="deal-title">
                                                        Hotel 50% OFF
                                                    </h4>
                                                    <p class="deal-text">
                                                        Flat 53% Off + 50% Money Cashback on Room Bookings- Use Code- MYCDRP
                                                    </p>
                                                </div>
                                                <div class="deals-btn-area">
                                                    <a href="" class="btn-deals">Order Now</a>
                                                </div>
                                            </div>
                                            <div class="tc-text text-right">
                                                <span>
                                                    t&c Apply
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="top-deals-single-item">
                                            <div class="deals-title-box d-flex">
                                                <div class="title-text">
                                                    <h4 class="deal-title">
                                                        Domestic flight offers
                                                    </h4>
                                                    <p class="deal-text">
                                                        Exclusive: Upto Rs. 800 Instant Discount on Domestic Flights
                                                    </p>
                                                </div>
                                                <div class="deals-btn-area">
                                                    <a href="" class="btn-deals">Book Now</a>
                                                </div>
                                            </div>
                                            <div class="tc-text text-right">
                                                <span>
                                                    t&c Apply
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Courier ">
                            <div class="tab-content">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="top-deals-single-item">
                                            <div class="deals-title-box d-flex">
                                                <div class="title-text">
                                                    <h4 class="deal-title">
                                                        SpiceJet
                                                    </h4>
                                                    <p class="deal-text">
                                                        Get up to ₹1,000 Cashback on flight ticket booking,
                                                        No minimum order value.
                                                    </p>
                                                </div>
                                                <div class="deals-btn-area">
                                                    <a href="" class="btn-deals">Book Now</a>
                                                </div>
                                            </div>
                                            <div class="tc-text text-right">
                                                <span>
                                                    t&c Apply
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="top-deals-single-item">
                                            <div class="deals-title-box d-flex">
                                                <div class="title-text">
                                                    <h4 class="deal-title">
                                                        Hotel 50% OFF
                                                    </h4>
                                                    <p class="deal-text">
                                                        Flat 53% Off + 50% Money Cashback on Room Bookings- Use Code- MYCDRP
                                                    </p>
                                                </div>
                                                <div class="deals-btn-area">
                                                    <a href="" class="btn-deals">Order Now</a>
                                                </div>
                                            </div>
                                            <div class="tc-text text-right">
                                                <span>
                                                    t&c Apply
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="top-deals-single-item">
                                            <div class="deals-title-box d-flex">
                                                <div class="title-text">
                                                    <h4 class="deal-title">
                                                        Domestic flight offers
                                                    </h4>
                                                    <p class="deal-text">
                                                        Exclusive: Upto Rs. 800 Instant Discount on Domestic Flights
                                                    </p>
                                                </div>
                                                <div class="deals-btn-area">
                                                    <a href="" class="btn-deals">Book Now</a>
                                                </div>
                                            </div>
                                            <div class="tc-text text-right">
                                                <span>
                                                    t&c Apply
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Bus">
                            <div class="tab-content">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="top-deals-single-item">
                                            <div class="deals-title-box d-flex">
                                                <div class="title-text">
                                                    <h4 class="deal-title">
                                                        SpiceJet
                                                    </h4>
                                                    <p class="deal-text">
                                                        Get up to ₹1,000 Cashback on flight ticket booking,
                                                        No minimum order value.
                                                    </p>
                                                </div>
                                                <div class="deals-btn-area">
                                                    <a href="" class="btn-deals">Book Now</a>
                                                </div>
                                            </div>
                                            <div class="tc-text text-right">
                                                <span>
                                                    t&c Apply
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="top-deals-single-item">
                                            <div class="deals-title-box d-flex">
                                                <div class="title-text">
                                                    <h4 class="deal-title">
                                                        Domestic flight offers
                                                    </h4>
                                                    <p class="deal-text">
                                                        Exclusive: Upto Rs. 800 Instant Discount on Domestic Flights
                                                    </p>
                                                </div>
                                                <div class="deals-btn-area">
                                                    <a href="" class="btn-deals">Book Now</a>
                                                </div>
                                            </div>
                                            <div class="tc-text text-right">
                                                <span>
                                                    t&c Apply
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="top-deals-single-item">
                                            <div class="deals-title-box d-flex">
                                                <div class="title-text">
                                                    <h4 class="deal-title">
                                                        Taxi - 25% Cashback
                                                    </h4>
                                                    <p class="deal-text">
                                                        Get up to ₹1,000 Cashback on flight ticket booking,
                                                        No minimum order value
                                                    </p>
                                                </div>
                                                <div class="deals-btn-area">
                                                    <a href="" class="btn-deals">Book Now</a>
                                                </div>
                                            </div>
                                            <div class="tc-text text-right">
                                                <span>
                                                    t&c Apply
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Taxi">
                            <div class="tab-content">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="top-deals-single-item">
                                            <div class="deals-title-box d-flex">
                                                <div class="title-text">
                                                    <h4 class="deal-title">
                                                        Hotel 50% OFF
                                                    </h4>
                                                    <p class="deal-text">
                                                        Flat 53% Off + 50% Money Cashback on Room Bookings- Use Code- MYCDRP
                                                    </p>
                                                </div>
                                                <div class="deals-btn-area">
                                                    <a href="" class="btn-deals">Order Now</a>
                                                </div>
                                            </div>
                                            <div class="tc-text text-right">
                                                <span>
                                                    t&c Apply
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="top-deals-single-item">
                                            <div class="deals-title-box d-flex">
                                                <div class="title-text">
                                                    <h4 class="deal-title">
                                                        Domestic flight offers
                                                    </h4>
                                                    <p class="deal-text">
                                                        Exclusive: Upto Rs. 800 Instant Discount on Domestic Flights
                                                    </p>
                                                </div>
                                                <div class="deals-btn-area">
                                                    <a href="" class="btn-deals">Book Now</a>
                                                </div>
                                            </div>
                                            <div class="tc-text text-right">
                                                <span>
                                                    t&c Apply
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Voucher">
                            <div class="tab-content">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="top-deals-single-item">
                                            <div class="deals-title-box d-flex">
                                                <div class="title-text">
                                                    <h4 class="deal-title">
                                                        SpiceJet
                                                    </h4>
                                                    <p class="deal-text">
                                                        Get up to ₹1,000 Cashback on flight ticket booking,
                                                        No minimum order value.
                                                    </p>
                                                </div>
                                                <div class="deals-btn-area">
                                                    <a href="" class="btn-deals">Book Now</a>
                                                </div>
                                            </div>
                                            <div class="tc-text text-right">
                                                <span>
                                                    t&c Apply
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="top-deals-single-item">
                                            <div class="deals-title-box d-flex">
                                                <div class="title-text">
                                                    <h4 class="deal-title">
                                                        Hotel 50% OFF
                                                    </h4>
                                                    <p class="deal-text">
                                                        Flat 53% Off + 50% Money Cashback on Room Bookings- Use Code- MYCDRP
                                                    </p>
                                                </div>
                                                <div class="deals-btn-area">
                                                    <a href="" class="btn-deals">Order Now</a>
                                                </div>
                                            </div>
                                            <div class="tc-text text-right">
                                                <span>
                                                    t&c Apply
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="top-deals-single-item">
                                            <div class="deals-title-box d-flex">
                                                <div class="title-text">
                                                    <h4 class="deal-title">
                                                        Domestic flight offers
                                                    </h4>
                                                    <p class="deal-text">
                                                        Exclusive: Upto Rs. 800 Instant Discount on Domestic Flights
                                                    </p>
                                                </div>
                                                <div class="deals-btn-area">
                                                    <a href="" class="btn-deals">Book Now</a>
                                                </div>
                                            </div>
                                            <div class="tc-text text-right">
                                                <span>
                                                    t&c Apply
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </section>

        <!-- Top Deals Area Ends -->


         
</div>



<div class="footerTabs visible-xs">
    <div class="row no-gutters text-center">
        <div class="col">
            <figure><img class="business_menu" src="assets/img/business_icon_gray.png"></figure>
            Business
        </div>
        <div class="col">
            <figure><img class="wallet_menu" src="assets/img/wallet.png"></figure>
            Wallet
        </div>
        <div class="col footLogo">
            <aside><img src="assets/img/logo_mobile.png"></aside>
        </div>
        <div class="col">
                <figure><mat-icon>help</mat-icon></figure>
            Help
        </div>
        <div class="col" (click)="firstComponentFunction()">
            <figure><mat-icon>menu</mat-icon></figure>
            Menu
        </div>
    </div>
</div>
<div class="_footerTabs visible-xs"></div>