<header class="hidden-xs mainHeader">
  <div class="newContainer">
    <div class="row">
      <div class="col-3">
        <a routerLink="/"
          ><img class="logo pointer" src="assets/img/logo.png"
        /></a>
      </div>
      <div class="col-9">
        <nav>
          <ul class="unstyled">
            <!-- <li>
                            <mat-icon>local_airport</mat-icon>
                            Flight </li>
                        <li> -->
            <li>
              <img class="business" src="assets/img/business_icon.png" />
              Business
            </li>
            <li><mat-icon>help</mat-icon> Help</li>
            <li>
              Sign In
            </li>
            <li>
              <figure><img src="assets/img/avatar.png" /></figure>
              Narendra
              <mat-icon>keyboard_arrow_down</mat-icon>
              <ul class="MenuDropDown">
                <li>
                  <mat-icon>person</mat-icon>
                  <p>My Account</p>
                </li>
                <li>
                  <mat-icon>account_balance_wallet</mat-icon>
                  <!-- <img class="wallet" src="assets/img/wallet3.png"> -->
                  <p>
                    Wallet
                  </p>
                </li>
                <li>
                  <mat-icon>library_books</mat-icon>
                  <p>Order History</p>
                </li>
                <li>
                  <mat-icon>assignment</mat-icon>
                  <p>Booking History</p>
                </li>
                <li>
                  <mat-icon>thumb_up</mat-icon>
                  <p>Following</p>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>

<nav class="navbar navbar-light bg-light"  *ngIf="mobile_navbar">  
    <div class="nav-header align-self-start">
        <div class="close" (click)="firstFunction()"><mat-icon>close</mat-icon></div>
        <img src="assets/img/sidebar_logo.png" class="logo" (click)="firstFunction()">
    </div>
    <div class="navbar-collapse collapse show">
        <ul class="navbar-nav mr-auto">
            <li *ngFor="let navdata of navLink" (click)="firstFunction()">
                <a class="nav-link" routerLink="{{navdata.routerlinks}}"><mat-icon>{{navdata.icon}}</mat-icon>{{navdata.name}}</a>
            </li>        
        </ul>
    </div>
    <div class="nav_footer align-self-end">
        <mat-icon class=" align-bottom">person</mat-icon> Create account / Sign in                
    </div>
</nav>
      
<!-- 
<div class="visible-xs">
<mat-drawer-container class="example-container " autosize>
        <mat-drawer #drawer1 class="example-sidenav" mode="side">
          <p>Auto-resizing sidenav</p>
          <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
          <button (click)="showFiller = !showFiller" mat-raised-button>
            Toggle extra text
          </button>
        </mat-drawer>
      
        <div class="example-sidenav-content">
          <button type="button" mat-button (click)="drawer1.toggle()">
            Toggle sidenav
          </button>
        </div>      
</mat-drawer-container>
</div> -->
