header{
&.mainHeader{width: 100%; height: 80px !important; background: #652783; z-index: 99; position: relative; border-bottom: solid 1px rgba(255,255,255,0.1);
  .logo{ width: 140px; margin-top: 20px;}
	nav ul{list-style: none; margin: 14px 0 0 0; padding: 0; text-align: right; font-size: 14px;
		li{display: inline-block; color: #fff; padding: 7px 15px; vertical-align: middle; cursor: pointer; position: relative; font-weight: normal;
			img.business{width: 15px; vertical-align: bottom; margin-right: 1px;}
			img.service{width: 22px; vertical-align: sub; margin-right: 1px;}
			img.wallet{width: 18px; vertical-align: sub;}
			figure { width: 35px; margin: 0 5px 0 0; display: inline-block; vertical-align: middle; border-radius: 90%; overflow: hidden; height: 35px; position: relative;
        	img{position: absolute; top: 50%;  left: 50%; -webkit-transform: translateY(-50%) translateX(-50%); transform: translateY(-50%) translateX(-50%); height: calc(100% + 2px); width: auto; max-width: initial;}
			  }
			mat-icon{vertical-align: middle;}
			&:last-child{padding-right: 0;}
		}
		
		li:hover > ul{display: block;}
		ul{ display: none; box-shadow: 0 2px 8px rgba(0, 0, 0, 0.21); position: relative; margin: 0; position: absolute; background: #fff; border-radius: 3px; top: 45px; padding: 5px 0; width: 160px; right: 0; text-align: left;
			&:after{position: absolute; content: ''; border-bottom: solid #fff 7px; border-right: 8px solid transparent; border-left: 8px solid transparent;
				top: -7px; right: 5px;}
			li{color: #666; padding: 5px 10px; margin: 0; font-size: 13px; display: block;
				mat-icon, img{color: #652783; float: left; font-size: 20px; margin-top: 1px;}
				p{margin: 0 0 0 25px;}
				&.boss {     border-bottom: solid #e6e5e5 1px; text-align: center;  padding: 2px 10px 8px 10px;
					&:hover{background: transparent !important;}
					img{width: 50px; float: none;}
				}
				&:hover {background: #f08c2e; color: #652783; }
				&.active{background: #f7b77a; color: #652783; }
			}
		}
	}
}
}


nav.navbar {position: fixed; width: 100%; z-index: 99; top: 0; bottom: 0; padding: 0; 
	.nav-header{width: 100%; height: 90px; text-align: center; box-shadow: 0 0 5px 5px rgba(0,0,0,.15);
		.logo{width: 130px; margin-top: 20px;}
		.close{padding: 5px;}
	}
	.nav_footer{ border-top: solid 1px #dedede; width: 100%; padding: 12px 15px;}
	.navbar-collapse{
		margin: 90px 0 50px 0;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		position: absolute;
		z-index: 1;
		display: block;
		overflow-x: hidden;
		overflow-y: scroll;
		scroll-behavior: auto;
		will-change: scroll-position;
		contain: size style layout;
		li a{padding: 8px 20px;
			mat-icon{vertical-align: sub; font-size: 22px;}
		}
	}

}
