<!-- Footer -->
<footer class="page-footer font-small hidden-xs ">


    <div class="container big-footer">
        <div class="row">
            <div class="col-sm-6">
                <img  src="assets/img/logo.png" class="flogo">
            </div>
            <div class="col-sm-6 text-right">
                <button class="btn btn-outline-secondary"><img class="ert" src="assets/img/ert.png">    English <mat-icon>arrow_drop_up</mat-icon></button>
                <button class="btn btn-outline-secondary" > <mat-icon>stay_primary_portrait</mat-icon> Get the App</button>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-7">
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <ul class="list-inline">
                            <li><span class="pointer" >Help & FAQ</span></li>
                            <li><span class="pointer" >Contact Us</span></li>
                            <li><span class="pointer" >Restaurant signup</span></li>                                
                        </ul>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <ul class="list-inline">
                            <li><span class="pointer" >Privacy</span></li>                                                              
                            <li><span class="pointer" >Legal</span></li>
                            <li><span class="pointer" >Site Map</span></li>  
                        </ul>
                    </div>
                    <div class="col-md-6 col-lg-4 mt-md-4 mt-lg-0">
                        <ul class="list-inline">
                            <li><span class="pointer" >Allergy Info</span></li>                                                              
                            <li><span class="pointer">Cookies</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-5 text-right">
                <button class="btn btn-outline-secondary feedback"> 
                    <img src="assets/img/feedback.png">
                    <p><span class="text-uppercase m-0">Send feedback</span><br>
                    Help us improve our website</p>
                </button>
                <div class="clear"></div>

                <span class="bankcard"><img src="assets/img/martercard.png"> </span>   
                <span class="bankcard"><img src="assets/img/visaverifiedcard.png"> </span>   
                <span class="bankcard"><img src="assets/img/americanexpress.png"> </span>   
                <span class="bankcard"><img src="assets/img/paypal.png"> </span>   
                <span class="bankcard"><img src="assets/img/digitalwallet.png"> </span>   
            </div>
        </div>
    </div>

    <div class="innerFooter">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <span class="socialIcon"><img src="assets/img/tri.png"> </span>
                    <span class="socialIcon inF"></span>
                    <span class="socialIcon intF"></span>
                    <span class="socialIcon fbF"></span>  
                    <span class="socialIcon twF"></span>                      
                </div>
                <div class="col-md-6 text-right">
                    <p class="mt-3">Version 4.1.1</p>
                </div>
            </div>
        </div>
    </div>

</footer>

