
    .page-footer{ color: #e5e5e5; background: #1d2331; margin-top: 25px;

        
        .btn-outline-secondary{background: #212735; border-color: #373c44; float: none; padding: 11px 10px 10px 8px; font-size: 15px; width: auto; color: #e5e5e5;
            mat-icon {color: #d4d4d4; vertical-align: middle; font-size: 20px;}
            .ert{width: 18px; vertical-align: middle; margin-right: 3px;}
        } 
        .feedback{    text-align: left; font-size: 12px; line-height: 16px; color: #e5e5e5; margin-bottom: 33px; padding: 7px;
            img{float: left; width: 29px;}
            span{text-indent: 0;}
            p{margin-left: 34px; margin-bottom: 0;}
        }
  
            
        .socialIcon{background-size: 148px; opacity: 0.7; width: 36px; height: 36px; display: inline-block; margin-top: 2px; margin-right: -6px; background-repeat: no-repeat; cursor: pointer;  margin-right: 10px; margin-top: 10px; vertical-align: middle;
            &:hover{opacity: 1;}          
        }
        
        // .copyright_Link{text-align: center; font-size: 13px; text-align: right;
        //     ul{ text-align: left;
        //         li{margin-right: 25px; font-size: 13px; margin-top: 10px; line-height: normal;
        //         &:hover{color: #b6b5b5;}
        //         }
        //     }
        //     p{margin-top: 10px;}
        // }

        .bankcard{ height: 25px; display: inline-block; margin: 0 5px;
            img{height: 100%; width: auto;    opacity: 0.8;}
            &:last-child{margin-right: 0;}
        }
   
   
        hr{background: rgba(255, 255, 255, 0.13) !important; margin: 0 !important;}
        .container > .row{padding-top: 40px; padding-bottom: 40px;}

        .flogo{width: 160px; float: left; margin-top: 5px; cursor: pointer;}

        ul{margin: 0;
            li{padding: 0 0 20px 0; font-size: 16px; line-height: normal; text-align: left;
                &:last-child{padding-bottom: 0;}
                &:hover{color: #fff;}
            }
        }
        

        .innerFooter{background: #1d2331;border-top: solid #2e3035  1px; padding: 10px 0;
            .container > .row{padding-top: 0px; padding-bottom: 0px;}
            .socialIcon{margin-top: 0;}
        }

    }

//     @media screen and (min-width: 992px) and (max-width: 1199px){
//         .page-footer .bankcard {height: 22px;}
//     }
//     @media screen and (min-width: 768px) and (max-width: 991px){
//         .page-footer ul li{ font-size: 14px;}
//         .page-footer .bankcard{margin: 7px 2px;}
//     }



// @media screen and (min-width: 768px){
//     .bodyContainer {min-height: calc(100% - 341px)!important;
//         &:after, &:before{content: ''; display: table; clear: both;}
//     }   
// }
// @media screen and (max-height: 850px){
//     .bodyContainer {min-height: 400px !important;}   
// }
// @media screen and (max-width: 767px){
//     .bodyContainer{min-height: auto !important; height: 100%;} 
// }
