app-guest-details {
    .moreoption{color: #f08c2e; cursor: pointer;}

	// Common Css

	.bg-white{
		background: #fff;
	}
	.label{
		margin-bottom: 5px;
		span{
			font-size: 16px;
			font-weight: 600;
		}
	}
	.no-gutter{
		margin-right: 0px !important;
		margin-left: 0px !important;
	}
	.no-col-padding{
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	ul{
		padding-left: 0 !important;
		list-style: none;
	}
	.section-inner{
		padding: 15px;
		border: 1px solid #d0d0d052;
		border-radius: 8px;
		background: #fff;
		box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.04);
	}
	button.btn-pr{
		width: 155px;
		height: 40px;
		border-radius: 5px;
		background: #642782;
		font-size: 17px;
		color: #fff;
	}
	section.filter-header-area-mobile-version{
		display: none;
	}
	.check-box-area{
		p{
			font-size: 14px;
			padding-left: 35px;
			max-width: 712px;
			width: 100%;
			line-height: 25px;
		}
		.mat-checkbox-inner-container{
			width: 20px;
			height: 20px;
		}
		.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background{
			background: #642782;
		}
		mat-checkbox{
			color: #642782;
			span.mat-checkbox-label{
				color: #642782;
				font-size: 16px;
			}
			span{
				font-size: 14px;
				color: #383737;
			}
		}
	}
	.agreement-check-box-area{
		padding-top: 15px;
		padding-left: 35px;
		padding-bottom: 5px;
		.mat-checkbox-inner-container{
			width: 16px;
			height: 16px;
		}
		mat-checkbox{
			color: #383737;
			span.mat-checkbox-label{
				color: #383737;
				font-size: 16px;
			}
			span{
				font-size: 14px;
				color: #383737;
			}
		}
		.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background{
			background: #8c8c8c ;
		}
	}
	// Typography


	h4.title{
		font-size: 16px;
		color: #f08c2e;
	}
	h4.title-big{
		font-size: 17px;
		color: #f08c2e;
	}
	h4.list-item-heading{
		font-size: 16px;
		color: #000000;
		margin-bottom: 20px;
	}
	h6.list-heading{
		font-size: 15px;
		color: #642782;
		margin-bottom: 10px;
		span{
			margin-right: 5px;
		}
	}
	


	// Guest Details Area Css

	section.guest-details-area{
		margin-top: 30px;
		.left-menu-area{
			border: 1px solid rgba(51, 51, 51, 0.1411764705882353);
			border-radius: 8px;
			background: #fff;
			.inner-padding{
				padding: 15px;
			}
			.b-border{
				border-bottom:1px solid rgba(148, 140, 140, 0.43137254901960786);
			}
			.main-menu{
				ul{
					li{
                        a{display: block;                          
                            pointer-events: none;
							position: relative;
							padding: 10px 15px;
							color: #948c8c;
							font-size: 15px;
							border-bottom:1px solid rgba(148, 140, 140, 0.43137254901960786);
							i{
								position: absolute;
								right: 5px;
								top: 5px;
								color: #909090;
								font-size: 30px;
							}
							&.active{
								color: #f08c2e;
							}
						}
					}
				}
			}
			.img-area{
				max-width: 242px;
				width: 100%;
				margin: 0 auto;
				margin-bottom: 10px;
			}
			.hotel-info{
				.hotel-rating{
					ul{
						justify-content: center;
						li{
							color: #f08c2e;
						}
					}
				}
				.hotel-location{
					p{
						font-size: 15px;
						color: #383737;
						margin-bottom: 0px;
					}
				}
			}
			.room-details{
				p{
					font-size: 15px;
					color: #642782;
					&.selected-room{
						margin-bottom: 0px;
					}
				}
			}
			.date-info{
				justify-content: space-between;
				p{
					font-size: 14px;
					color: #939090;
					&.check-in, &.check-out{
						font-size: 16px;
						color: #5d5d5d;
						margin-bottom: 0px;
					}
				}
			}
			.guest-room-details{
				.guest-room-inner{
					justify-content: space-between;
				}
				p.heading{
					font-size: 16px;
					color: #642782;
					margin-bottom: 10px;
				}
				p{
					font-size: 14px;
					color: #939090;
					margin-bottom: 0px;
				}
				p.count-room , p.count-adult , p.count-children{
					font-size: 16px;
					color: #5d5d5d;
					margin-bottom: 5px;
					
				}
			}
		}

		// Guest dtails main area css
		.guest-info-field{
			mat-accordion{
				.mat-expansion-panel-spacing{
					margin: 0;
				}
				mat-expansion-panel-header{
					padding: 0;
					mat-panel-title.mat-expansion-panel-header-title{
						color: #f08c2e;
						font-size: 16px;
						position: relative;
						span{
							font-size: 14px;
							color: #383737;
							display: inline-block;
							margin-left: 5px;
							margin-top: 1px;
							&.i-text{
								font-size: 13px;
								color: #777777;
							}
						}
					}
					&:hover{
						background: transparent !important;
					}
					.mat-expansion-indicator::after{
						color: #f08c2e;
					}
					&.more-option-panel-header{
						.mat-expansion-indicator::after{
							display: none;
						}
						i.material-icons {
							position: absolute;
							top: -5px;
							font-size: 30px;
							color: #f08c2e;
							transition: all .4s;
						}
					}
					&.mat-expanded{
						i.material-icons {
							transform: rotate(180deg)
						}
					}
				}
				mat-expansion-panel{
					box-shadow: none !important;
					border-bottom:1px solid rgba(147, 144, 144, 0.3215686274509804);
                    margin-bottom: 0px !important;
                    border-radius: 0 !important;
				}
				.mat-expansion-panel-body{
					padding-left: 0px;
					padding-right: 0px;
				}
			}
			mat-form-field{
				border: 1px solid #ced1d2;
				border-radius: 5px;
				padding: 8px 10px;
				height: 44px;
				width: 100%;
				&.text-area{
					height: 60px;
					margin-top: 10px;
				}
				.mat-form-field-wrapper {
					padding-bottom: 0px !important;
					.mat-form-field-infix {
						border-top: 0px !important;
					}
					span.mat-button-wrapper {
						font-size: 25px !important;
						color: #b1acac !important;
						padding-right: 15px;
					}
					.mat-form-field-underline{
						display: none !important;
					}
				}
				.mat-select-arrow {
					margin-top: -5px !important;
					border-style: solid !important;
					border-width: 0 2px 2px 0 !important;
					border-left: 0;
					border-right: 0;
					content: '';
					display: inline-block !important;
					padding: 3px !important;
					transform: rotate(45deg) !important;
					vertical-align: middle !important;
					color: #373737;
				}
				
			}
			.birth-date-area{
				margin-top: 15px;
			}
			.guest-mobile-email-feild-area{
				margin-top: 30px;
				h4{
					margin-bottom: 10px;
				}
				.email{
					margin-left: 15px;
				}
			}
			.other-request-area{
				margin-top: 30px;
			}
			.insurance-area{
				margin-top: 30px;
				h4{
					margin-bottom: 20px;
				}
				
				.insurance-menu{
					padding-left: 35px;
					margin: 20px 0px;
					ul{
						li{
							a{
								margin-right: 35px;
								font-size: 14px;
								font-weight: 700;
								color: #f08c2e;
							}
						}
					}
				}
			}
			.ride-pickup-area{
				margin-top: 30px;
				h4{
					margin-bottom: 20px;
				}
				.ride-input-feild-area{
					padding-left: 35px;
					margin-top: 20px;
					margin-bottom: 35px;
					.input-wrap{
						.ride-input-label {
							width: 22%;
							height: 40px;
							padding: 10px;
							border: 1px solid #ced4da;
							border-top-left-radius: 3px;
							border-bottom-left-radius: 3px;
							span{
								font-size: 15px;
								color: #8b8383;
								text-transform: uppercase;
							}
						}
						.input-area{
							width: 78%;
							position: relative;
							input{
								font-size: 13px;
								height: 40px;
								border-left: 0px;
								border-top-left-radius: 0px;
								border-bottom-left-radius: 0px;
								&:focus{
									outline: none;
									box-shadow: none;
									border-color: #ced4da;
								}
							}
							.icon {
								position: absolute;
								right: 10px;
								top: 10px;
								i{
									font-size: 18px;
									color: #aeaeae;
								}
							}
						}
					}
				}
			}
			.payment-section-area{
				margin-top: 30px;
				.payment-area-main{
					h4{
						font-size: 15px;
					}
					.payment-left-area{
						h4{
							margin-bottom: 10px;
						}
						.voucher-area {
							padding: 15px;
							text-align: center;
							margin-bottom: 15px;
							border: 1px solid #ced4da;
							border-radius: 3px;
							p.voucher{
								font-size: 19px;
								color: #f08c2e;
							}
							p.voucher-title{
								font-size: 15px;
								color: #000000;
								margin-bottom: 0px;
							}
						}
						.voucher-input-area{
							input{
								height: 40px;
								border-right: 0px;
								border-top-right-radius: 0px;
								border-bottom-right-radius: 0px;
								&:focus{
									box-shadow: none;
									border-color: #ced1d2;
								}
							}
							button{
								height: 40px;
								background: #f08c2e;
								border-radius: 0;
								min-width: auto;
								border-top-right-radius: 3px;
								border-bottom-right-radius: 3px;
								color: #fff;
							}
						}
					}
					.payment-right-area{
						h4{
							margin-bottom: 10px;
						}
						.payment-inner {
							border: 1px solid #ced1d2;
							border-radius: 3px;
						}
						.payment-summary-area {
							padding: 10px;
							border-bottom: 1px solid #ced1d2;
							padding-bottom: 0px;
							p{
								font-size: 13px;
								color: #575757;
								position: relative;
								margin-bottom: 10px;
								&.fare-title{
									font-size: 14px;
								}
								&.adilt-payment{
									padding-left: 10px;
								}
								&.children-payment{
									padding-left: 10px;
								}
								span.r-align{
									position: absolute;
									right: 0;
									font-weight: 700;
								}
								sup{
									font-size: 12px;
								}
							}
						}
						.payment-bottom-area{
							padding: 10px;
							border-bottom: 1px solid #ced1d2;
							padding-bottom: 0px;
							P{
								position: relative;
								font-size: 14px;
								span.r-align{
									position: absolute;
									right: 0;
									font-weight: 700;
								}
								&.pr-total{
									color: #000000;
									font-weight: 700;
								}
								&.insurence-total{
									color: #642782;
									font-weight: 700;
								}
								&.voucher-total{
									color: #f08c2e;
									font-weight: 700;
								}
							}
						}
						.grand-total{
							padding: 10px;
    						padding-bottom: 0px;
							p{
								position: relative;
								font-size: 17px;
								font-weight: 700;
								color: #f08c2e;
								span.r-align{
									position: absolute;
									right: 0;
									font-weight: 700;
								}
							}
						}
					}
				}
			}
			.booking-area{
				padding: 15px;
				.booking-area-main{
					justify-content: space-between;
					.bottom-check-box-area{
						.mat-checkbox-inner-container{
							width: 16px;
							height: 16px;
						}
						mat-checkbox{
							color: #f08c2e;
							span.mat-checkbox-label{
								color: #f08c2e;
								font-size: 16px;
							}
						}
						.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background{
							background: #f08c2e ;
						}
					}
					.booking-btn-area{
						button{
							max-width: 250px;
							height: 50px;
							background: #f08c2e;
							color: #fff;
							font-size: 20px;
							font-weight: 400;
							border-radius: 3px;
							text-transform: uppercase;
							box-shadow: 0px 0px 20px #06040214;
						}
					}
				}
			}
		}
	}




	@media screen and (max-width:1199px){
		.check-box-area mat-checkbox span {
			font-size: 12px;
			color: #383737;
		}
		section.guest-details-area .guest-info-field .ride-pickup-area .ride-input-feild-area .input-wrap .ride-input-label span{
			font-size: 12px;
		}
		section.guest-details-area .guest-info-field .ride-pickup-area .ride-input-feild-area .input-wrap .input-area input{
			font-size: 12px;
		}
	}

	@media screen and (max-width:999px){
		.left-menu-area{
			display: none;
		}
	}


	@media screen and (max-width:767px) {
		.newContainer{
			max-width: 550px;
		}
		.n-bb{
			border-bottom: 0px !important;
		}
		section{
			background:#f7f7f7;
			margin-top: 0px !important;
		}
		.section-inner{
			background: transparent;
		}
		mat-expansion-panel{
			background: transparent !important;
		}
		.guest-mobile-email-feild-area{
			margin-top: 0px !important;
		}
		.left-menu-area{
			display: none;
		}
		.col-md-3.col-sm-3.col-xs-3.md-30 {
			width: 35%;
		}
		.col-md-9.col-sm-9.col-xs-9.md-70{
			width: 65%;
		}
		.guest-mobile-email-feild-area .email{
			padding-left: 0px !important;
		}
		.guest-mobile-email-feild-area{
			.section-inner{
				padding-bottom: 0px !important;
			}
		}
		section.guest-details-area .guest-info-field mat-form-field{
			background: #fff;
		}
		.section-inner{
			padding: 15px 5px;
			border: 0px;
			border-bottom: 1px solid #ced1d2;
			border-radius: 0px;
			padding-bottom: 0px;
			box-shadow: none;
		}
		.no-padding-mb{
			padding-left: 0px !important;
			padding-right: 0px !important;
		}
		h4.title{
			font-size: 14px;
    		line-height: 20px;
		}
		.label span{
			font-size: 14px !important;
		}
		.mat-form-field{
			margin-bottom: 10px;
			height: 40px !important;
		}
        mat-form-field {
			padding: 5px 10px !important;
		}
		section.filter-header-area-mobile-version{
			position: relative;
			background: #fde9d6;
			border-bottom: 1px solid #f08c2ec2;
			display: block !important;
			height: 65px;;
			.bg-gradient{
				position: absolute;
				left: 0;
				bottom: -201px;
				width: 100%;
				height: 200px;
				background-image:linear-gradient(0deg, #f7f7f752 10%, #fde9d6 90%);
				background-image: -moz-linear-gradient(0deg, #f7f7f752 10%, #fde9d6 90%);
				background-image: -webkit-linear-gradient(0deg, #f7f7f752 10%, #fde9d6 90%);
				background-image: -ms-linear-gradient(0deg, #f7f7f752 10%, #fde9d6 90%);
			}
			 
			.filter-mobile-menu-main{
				justify-content: space-between;
				.header-menu-left-area{
					button{
						min-width: 20px !important;
						padding: 0 !important;
						i{
							color: #f08c2e;
						}
					}
					span.location{
						font-size: 13px;
						color: #444444;
					}
					
				}
				.header-menu-right-area{
					ul{
						padding: 0 !important;
						list-style: none;
						margin-top: 15px;
						margin-bottom: 0px;
						li{
							margin-right: 0px;
						}
					}
					button{
						min-width: 20px;
						padding: 0 5px !important;
						i{
							color: #949494;
						}
						&:hover , &:active , &:focus{
							i{
								color: #f08c2e;
							}
						}
					}
				}

			}
			.date-room-details {
				position: relative;
				margin-top: -12px;
				p{
					color: #686868;
					font-size: 13px;
					span.icon {
						position: absolute;
						left: 25px;
						top: -3px;
						i{
							color: #686868;
							font-size: 22px;
						}
					}
					span.date {
						padding-left: 50px;
					}
				}
				
			}
		}
		.guest-info-field mat-accordion mat-expansion-panel-header mat-panel-title.mat-expansion-panel-header-title{
			color: #f08c2e;
			font-size: 14px !important;
			position: relative;
			height: 30px;
			span{
				font-size: 12px;
			}
			span.i-text{
				font-size: 11px !important;
				position: absolute;
				top: 15px;
				left: -5px;
			}
		}
		mat-expansion-panel-header.more-option-panel-header{
			padding-top: 15px !important;
		}
		.title-select{
			.mat-form-field{
				width: 100px !important;
			}
		}
		.guest-info-field .guest-mobile-email-feild-area h4{
			margin-bottom: 10px !important;
		}
		.other-request-area{
			margin-top: 0px !important;
		}
		.mat-checkbox-layout {
			cursor: inherit;
			align-items: baseline;
			vertical-align: middle;
			display: flex !important;
			white-space: inherit !important;
		}
		.check-box-area .mat-checkbox-inner-container {
			width: 16px !important;
			height: 16px !important;
			margin-top: 2px !important;
			margin-left: 0px;
		}
		mat-checkbox span.mat-checkbox-label {
			font-size: 12px !important;
		}
		.check-box-area mat-checkbox .title-side-text{
			font-size: 12px !important;
		}
		.check-box-area p {
			font-size: 12px;
			padding-left: 30px;
			max-width: 712px;
			width: 100%;
			line-height: 20px;
		}
		.mat-checkbox-layout .mat-checkbox-label {
			line-height: 20px;
		}
		.insurance-area{
			margin-top: 0px !important;
			hr{
				display: none;
			}
		}
		.insurance-menu{
			margin-top: 10px !important;
			margin-bottom: 10px !important;
			padding-left: 30px !important;
		}
		.insurance-menu ul{
			display: block !important;
			li{
				display: inline-block;
				width: 49%;
				a{
					margin-right: 0px !important;
					font-size: 13px !important;
					margin-bottom: 5px;
				}
			}
		}
		.agreement-check-box-area {
			padding-top: 0px;
			padding-left: 0px !important;
			padding-bottom: 0px;
			.mat-checkbox-inner-container{
				margin-left: 0px;
			}
		}
		.ride-pickup-area .ride-input-feild-area{
			padding-left: 0px !important;
			margin-top: 15px !important;
    		margin-bottom: 0px !important;
		}
		.ride-pickup-area {
			margin-top: 0px !important;
			.agreement-check-box-area{
				padding-left: 0px !important;
			}
			hr{
				display: none;
			}
		}
		.ride-pickup-area h4 {
			margin-bottom: 15px !important;
		}
		.input-wrap{
			margin-bottom: 10px;
			background: #fff;
		}
		.input-wrap .ride-input-label span{
			font-size: 11px !important;
		}
		.input-wrap .input-area input{
			font-size: 11px;
		}
		.payment-section-area {
			margin-top: 0px !important;
		}
		.voucher-area{
			padding: 10px !important;
			background: #fff;
		}
		.guest-info-field .payment-section-area .payment-area-main .payment-right-area .payment-inner{
			background: #fff;
		}
		.payment-right-area h4{
			margin-top: 10px;
		}
		.bottom-check-box-area{
			margin-bottom: 10px;
		}
		.booking-area {
			padding: 15px 5px !important;
			.mat-checkbox-inner-container{
				margin-left: 0px;
			}
		} 
		.booking-area .booking-area-main{
			display: block !important;
			button.btn-booking.mat-button {
				max-width: 100% !important;
				width: 100%;
				height: 40px !important;
				font-size: 16px !important;
			}
		}
	}












}




