<div class="guest-details-main">


    
        <!-- Filter header area mobile version -->
            
    
        <section class="filter-header-area-mobile-version">
            <div class="bg-gradient"></div>
            <div class="mobilenewContainer">
                <div class="filter-mobile-menu-main d-flex">
                    <div class="header-menu-left-area">
                        <div class="btn-back-wrap">
                            <button class="btn-back" mat-button>
                                <i class="material-icons">
                                    arrow_back
                                </i>
                            </button>
                            <span class="location">
                                New delhi, india
                            </span>
                        </div>
                    </div>
                    <div class="header-menu-right-area">
                        <ul class="menu-main d-flex">
                            <li>
                                <button class="btn-back" mat-button>
                                    <i class="material-icons">
                                        room
                                    </i>
                                </button>
                            </li>
                            <li>
                                <button class="btn-back" mat-button>
                                    <img src="assets/img/room/filter-mobile.png" alt="">
                                </button>
                            </li>
                            <li>
                                <button class="btn-back" mat-button>
                                    <i class="material-icons">
                                        house
                                    </i>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="date-room-details">
                    <p class="date-room-people">
                        <span class="date-area">
                            <span class="icon">
                                <i class="material-icons">
                                    date_range
                                </i>
                            </span>
                            <span class="date">
                                01 May | 05 May, 
                            </span>
                            <span class="people-count">
                                2 Adult,
                            </span>
                            <span class="night-count">
                                4 nights
                            </span>
                        </span>
                    </p>
                </div>
            </div>
        </section>
            
        <!-- Filter header area mobile version end -->
        
    
        <!-- Guest Deatils Start -->
        
        <section class="guest-details-area">
            <div class="newContainer">
                <div class="row">
                    <!-- Left menu start -->
                    <div class="col-lg-3">
                        <div class="left-menu-area">
                            <div class="main-menu">
                                <ul>
                                    <li>
                                        <a class="menu-item active" href="">
                                            Guest Details
                                            <i class="material-icons">
                                                keyboard_arrow_right
                                            </i>
                                        </a>
                                    </li>
                                    <li><a class="menu-item" href="">Final Payment</a></li>
                                </ul>
                            </div>
                            <div class="hotel-info text-center inner-padding b-border">
                                <div class="img-area">
                                    <img src="assets/img/room/hotel2.png" alt="" class="hotel-image">
                                </div>
                                <div class="hotel-title">
                                    <h4 class="title">Welcome Hotel</h4>
                                </div>
                                <div class="hotel-rating">
                                    <ul class="d-flex">
                                        <li>
                                            <i class="material-icons">
                                                star
                                            </i>
                                        </li>
                                        <li>
                                            <i class="material-icons">
                                                star
                                            </i>
                                        </li>
                                        <li>
                                            <i class="material-icons">
                                                star
                                            </i>
                                        </li>
                                        <li>
                                            <i class="material-icons">
                                                star
                                            </i>
                                        </li>
                                    </ul>
                                </div>
                                <div class="hotel-location">
                                    <p>
                                        Area 12, Hospitality District, Aero City, 
                                        Near Aero City Metro Station, 110037, 
                                        Delhi,New Delhi, India
                                    </p>
                                </div>
                            </div>
                            <div class="room-details text-center inner-padding b-border">
                                <p><strong>Selected Room</strong></p>
                                <p class="selected-room">Deluxe Double Room</p>
                            </div>
                            <div class="date-info d-flex inner-padding b-border">
                                <div class="check-in-date text-left">
                                    <p>Check in</p>
                                    <p class="check-in">14/06/2019 </p>
                                </div>
                                <div class="check-out-date text-right">
                                    <p>Check out</p>
                                    <p class="check-out">16/06/2019 </p>
                                </div>
                            </div>
                            <div class="guest-room-details inner-padding">
                                <p class="heading text-center"><strong>Room & Guests</strong></p>
                                <div class="guest-room-inner d-flex">
                                    <div class="room-count text-center">
                                        <p class="count-room"><strong>1</strong></p>
                                        <p >Rooms</p>
                                    </div>
                                    <div class="adult-count text-center">
                                        <p class="count-adult"><strong>2</strong></p>
                                        <p >Adults</p>
                                    </div>
                                    <div class="children-count text-center">
                                        <p class="count-room"><strong>3</strong></p>
                                        <p >Childrens</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- left menu end -->
                    <div class="col-lg-9 col-md-12">
                        <!-- Details main start -->
                        <div class="guest-info-field">
                            <div class="section-inner n-bb pt-1">
                                <mat-accordion>
                                    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
                                        <mat-expansion-panel-header [collapsedHeight]="customCollapsedHeight" [expandedHeight]="customExpandedHeight"
                                        [collapsedHeight]="customCollapsedHeight" [expandedHeight]="customExpandedHeight">
                                        <mat-panel-title>
                                            Adult 1: <span> Above 12 Years <span class="i-text">(Guest details should be as per ypur’s ID proff)</span></span>
                                        </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <div class="name-form-area">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <div class="title-select">
                                                        <div class="label"><span><strong>Title</strong></span></div>
                                                        <mat-form-field>
                                                            <mat-select [(ngModel)]="selectedOption">
                                                                <mat-option value="1"> Mr</mat-option>
                                                                <mat-option value="2"> Mrs</mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                                <div class="col-md-5">
                                                    <div class="first-name-input">
                                                        <div class="label"><span>First Name</span></div>
                                                        <mat-form-field class="example-full-width">
                                                            <input matInput  value="Enter First Name">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                                <div class="col-md-5">
                                                    <div class="last-name-input">
                                                        <div class="label"><span>Last Name</span></div>
                                                        <mat-form-field class="example-full-width">
                                                            <input matInput  value="Enter Last Name">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="mt-3 mb-0"><span class="moreoption" (click)="moreOptionFun()">More Option: 
                                                <i class="align-middle material-icons" *ngIf="moreOption">arrow_drop_up</i>
                                                <i class="align-middle material-icons" *ngIf="!moreOption">arrow_drop_down</i>
                                            </span></p>
                                            <div class="more-option-form-area mt-2" *ngIf="moreOption">
                                                <div class="special-selection-area col-md-6 no-col-padding">
                                                    <div class="label"><span><strong>Special Requests (Optional)</strong></span></div>
                                                    <mat-form-field>
                                                        <mat-select [(ngModel)]="selectedOption">
                                                            <mat-option value="1">Pizza</mat-option>
                                                            <mat-option value="2"> Honda</mat-option>
                                                            <mat-option value="3"> Personal Pool</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="comment-area" *ngIf="moreOption">
                                                <mat-form-field class="text-area">
                                                    <textarea matInput value="Comment"></textarea>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </mat-expansion-panel>
                                    <mat-expansion-panel >
                                        <mat-expansion-panel-header [collapsedHeight]="customCollapsedHeight" [expandedHeight]="customExpandedHeight"
                                        [collapsedHeight]="customCollapsedHeight" [expandedHeight]="customExpandedHeight">
                                            <mat-panel-title>
                                                Adult 2: <span> Above 12 Years <span class="i-text">(Guest details should be as per ypur’s ID proff)</span></span>
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <div class="name-form-area">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <div class="title-select">
                                                        <div class="label"><span><strong>Title</strong></span></div>
                                                        <mat-form-field>
                                                            <mat-select [(ngModel)]="selectedOption">
                                                                <mat-option value="1"> Mr</mat-option>
                                                                <mat-option value="2"> Mrs</mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                                <div class="col-md-5">
                                                    <div class="first-name-input">
                                                        <div class="label"><span>First Name</span></div>
                                                        <mat-form-field class="example-full-width">
                                                            <input matInput  value="Enter First Name">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                                <div class="col-md-5">
                                                    <div class="last-name-input">
                                                        <div class="label"><span>Last Name</span></div>
                                                        <mat-form-field class="example-full-width">
                                                            <input matInput  value="Enter Last Name">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="mt-3 mb-0"><span class="moreoption" (click)="moreOptionFun()">More Option: 
                                                <i class="align-middle material-icons" *ngIf="moreOption">arrow_drop_up</i>
                                                <i class="align-middle material-icons" *ngIf="!moreOption">arrow_drop_down</i>
                                            </span></p>
                                            <div class="more-option-form-area mt-2" *ngIf="moreOption">
                                                <div class="special-selection-area col-md-6 no-col-padding">
                                                    <div class="label"><span><strong>Special Requests (Optional)</strong></span></div>
                                                    <mat-form-field>
                                                        <mat-select [(ngModel)]="selectedOption">
                                                            <mat-option value="1">Pizza</mat-option>
                                                            <mat-option value="2"> Honda</mat-option>
                                                            <mat-option value="3"> Personal Pool</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="comment-area" *ngIf="moreOption">
                                                <mat-form-field class="text-area">
                                                    <textarea matInput value="Comment"></textarea>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </mat-expansion-panel>
                                        
                                    <mat-expansion-panel >
                                        <mat-expansion-panel-header [collapsedHeight]="customCollapsedHeight" [expandedHeight]="customExpandedHeight"
                                        [collapsedHeight]="customCollapsedHeight" [expandedHeight]="customExpandedHeight">
                                            <mat-panel-title>
                                                Child 1: <span> 2 to 12 Years   <span class="i-text">(Guest details should be as per ypur’s ID proff)</span></span>
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <div class="name-form-area">
                                            <div class="row">
                                                <div class="col-md-2">
                                                   <div class="title-select">
                                                        <div class="label"><span><strong>Title</strong></span></div>
                                                        <mat-form-field>
                                                            <mat-select [(ngModel)]="selectedOption">
                                                                <mat-option value="1"> Mr</mat-option>
                                                                <mat-option value="2"> Mrs</mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                   </div>
                                                </div>
                                                <div class="col-md-5">
                                                    <div class="first-name-input">
                                                        <div class="label"><span>First Name</span></div>
                                                        <mat-form-field class="example-full-width">
                                                            <input matInput  value="Enter First Name">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                                <div class="col-md-5">
                                                    <div class="last-name-input">
                                                        <div class="label"><span>Last Name</span></div>
                                                        <mat-form-field class="example-full-width">
                                                            <input matInput  value="Enter Last Name">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="birth-date-area col-md-6 no-col-padding">
                                                <div class="label"><span>Date of Birth</span></div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="day-input">
                                                            <mat-form-field>
                                                                <mat-select [(ngModel)]="selectedOption">
                                                                    <mat-option value="1"> DD</mat-option>
                                                                    <mat-option value="2"> 01</mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="month-input">
                                                            <mat-form-field>
                                                                <mat-select [(ngModel)]="selectedOption">
                                                                    <mat-option value="1"> MM</mat-option>
                                                                    <mat-option value="2"> 01</mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="year-input">
                                                            <mat-form-field>
                                                                <mat-select [(ngModel)]="selectedOption">
                                                                    <mat-option value="1"> YYYY</mat-option>
                                                                    <mat-option value="2"> 01</mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="mt-3 mb-0"><span class="moreoption" (click)="moreOptionFun()">More Option: 
                                                <i class="align-middle material-icons" *ngIf="moreOption">arrow_drop_up</i>
                                                <i class="align-middle material-icons" *ngIf="!moreOption">arrow_drop_down</i>
                                            </span></p>
                                            <div class="more-option-form-area mt-2" *ngIf="moreOption">
                                                <div class="special-selection-area col-md-6 no-col-padding">
                                                    <div class="label"><span><strong>Special Requests (Optional)</strong></span></div>
                                                    <mat-form-field>
                                                        <mat-select [(ngModel)]="selectedOption">
                                                            <mat-option value="1">Pizza</mat-option>
                                                            <mat-option value="2"> Honda</mat-option>
                                                            <mat-option value="3"> Personal Pool</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="comment-area" *ngIf="moreOption">
                                                <mat-form-field class="text-area">
                                                    <textarea matInput value="Comment"></textarea>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>
    
                            <!-- Guest Mobile Email Inout Area -->
                            <div class="guest-mobile-email-feild-area">
                                <div class="section-inner">
                                    <h4 class="title"><strong>Please confirm your email-id and mobile number</strong></h4>
                                    <div class="mobile-email-form">
                                        <div class="row">
                                            <div class="col-md-7">
                                                <div class="mobile-form">
                                                    <div class="label"><span>Mobile Number</span></div>
                                                    <div class="row md-flex">
                                                        <div class="col-md-3 col-sm-3 col-xs-3 md-30">
                                                            <mat-form-field>
                                                                <mat-select [(ngModel)]="selectedOption">
                                                                    <mat-option value="1">+91</mat-option>
                                                                    <mat-option value="2"> +11</mat-option>
                                                                    <mat-option value="3"> +002</mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                        </div>
                                                        <div class="col-md-9 col-sm-9 col-xs-9 md-70">
                                                            <mat-form-field class="example-full-width">
                                                                <input matInput  value="Enter Mobile Number">
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="label"><span>Email Id</span></div>
                                                <mat-form-field class="example-full-width">
                                                    <input matInput  value="Enter Email Id">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Guest Mobile Email Inout End -->
    
                            <!-- Other Request Area Start-->
                            <div class="other-request-area">
                                <div class="section-inner">
                                    <h4 class="title">Any Other Request?<span> (optional)</span></h4>
                                    <mat-form-field class="text-area">
                                        <textarea matInput ></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                            <!-- Other Request Area End -->
    
                            <!-- Insurance area start -->
    
                            <div class="insurance-area">
                                <div class="section-inner">
                                    <h4 class="title">
                                        <strong>To safeguard you and your luggage, please select insurance. Read terms and conditions for more information.</strong> 
                                    </h4>
                                    <div class="check-box-area">
                                        <mat-checkbox><strong>Add Travel insurance:</strong> <span class="title-side-text"><strong> Safeguard your trove, yourself @ 520 (Per Passenger)</strong></span></mat-checkbox>
                                        <p>
                                            <strong>
                                                Travel with peace of mind, with travel insurance from !GIG! 
                                                Lombard, no paperwork, comprehensive coverage ,Available from US)
                                            </strong>
                                        </p>
                                        <div class="insurance-menu">
                                            <ul class="d-flex">
                                                <li><a href="">Claim Process </a></li>
                                                <li><a href="">Policy Infrmation  </a></li>
                                                <li><a href="">Coverage	 </a></li>
                                                <li><a href="">FAQs </a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="agreement-check-box-area">
                                        <mat-checkbox>I have READ and AGREE to the Terrns & Conditions.</mat-checkbox>
                                    </div>
                                </div>
                            </div>
    
                            <!-- Insurance area end -->
    
                            <!-- Ride Pickup Area Start -->
    
                            <div class="ride-pickup-area">
                                <div class="section-inner">
                                    <h4 class="title">
                                        <strong>Book a cab for your destination, Read Term & Conditions for more infoemation.</strong> 
                                    </h4>
                                    <div class="check-box-area">
                                        <mat-checkbox><strong>Schedule A Ride :</strong> <span><strong class="title-side-text"> 10% OFF Lorem Ipsum is simply dummy text of the printing and typesetting industry.</strong></span></mat-checkbox>
                                    </div>
                                    <div class="ride-input-feild-area">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="input-wrap d-flex">
                                                    <div class="ride-input-label"><span>Pickup</span></div>
                                                    <div class="input-area">
                                                        <input type="text" class="form-control" value="Indira Gandhi International Airport">
                                                        <div class="icon">
                                                            <i class="material-icons">
                                                            edit
                                                            </i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="input-wrap d-flex">
                                                    <div class="ride-input-label"><span>Drop</span></div>
                                                    <div class="input-area">
                                                        <input type="text" class="form-control" value="Where to?">
                                                        <div class="icon">
                                                            <i class="material-icons">
                                                                 time_to_leave
                                                            </i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="agreement-check-box-area">
                                        <mat-checkbox>I have READ and AGREE to the Terrns & Conditions.</mat-checkbox>
                                    </div>
                                </div>
                            </div>
    
                            <!-- Ride Pickup Area End-->
    
                            <!-- Payment section area start -->
    
                            <div class="payment-section-area">
                                <div class="section-inner n-bb">
                                    <div class="payment-area-main">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="payment-left-area">
                                                    <h4 class="title">Payment and refund is subject to Airlines</h4>
                                                    <div class="voucher-area">
                                                        <p class="voucher">YOFooDy50</p>
                                                        <p class="voucher-title"><strong>Available Vouchers</strong></p>
                                                    </div>
                                                    <div class="voucher-input-area d-flex">
                                                        <input type="text" class="form-control" placeholder="Enter Voucher Code">
                                                        <button class="btn-voucher" mat-button>Validate</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="offset-md-1 col-md-6">
                                                <div class="payment-right-area">
                                                    <h4 class="title">Fare Summary</h4>
                                                    <div class="payment-inner">
                                                        <div class="payment-summary-area">
                                                            <p class="fare-title"><strong>Base Fare</strong></p>
                                                            <p class="adilt-payment">
                                                                Adult(s)
                                                                <span class="amount-details">
                                                                    (
                                                                        <span class="count-number">2</span>
                                                                        X
                                                                        <span class="count-amount">$15.00</span>
                                                                    )
                                                                </span>
                                                                <span class="adult-total r-align">$30.00</span>
                                                            </p>
                                                            <p class="children-payment">
                                                                Children(s)
                                                                <span class="amount-details">
                                                                    (
                                                                        <span class="count-number">1</span>
                                                                        X
                                                                        <span class="count-amount">$15.00</span>
                                                                    )
                                                                </span>
                                                                <span class="children-total r-align">$15.00</span>
                                                            </p>
                                                            <p class="fee-payment">Fee & Surcharges  <span class="fee-total r-align">$15.00</span></p>
                                                            <p class="other-payment">Other Service  <span class="other-total r-align">$15.00</span></p>
                                                        </div>
                                                        <div class="payment-bottom-area">
                                                            <p class="pr-total">Amount <span class="pr-amount r-align">$75.00</span></p>
                                                            <p class="insurence-total">Insurence <span class="insurence-amount r-align">$20.00</span></p>
                                                            <p class="voucher-total">Voucher <span class="voucher-amount r-align">-$15.00</span></p>
                                                        </div>
                                                        <div class="grand-total">
                                                            <p class="total-main">Total Amount:   <span class="g-total r-align">$80.00</span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Payment section area end -->
    
                            <!-- Booking Area Start -->
    
                            <div class="booking-area">
                                <div class="booking-area-main d-flex">
                                    <div class="bottom-check-box-area">
                                        <mat-checkbox>I agree with the Terms & Conditions</mat-checkbox>
                                    </div>
                                    <div class="booking-btn-area">
                                        <button class="btn-booking" mat-button>Proceed to Booking</button>
                                    </div>
                                </div>
                            </div>
    
                            <!-- Booking Area end -->
    
    
    
                        </div>
    
                        <!-- Details main end -->
                    </div>
                </div>
            </div>
        </section>
    
    
    
    
    
    
    
    
    
    
        <!-- Guest Deatils End -->
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
        </div>
            
s    