.flightTab {
  label {
    margin: 0;
    display: inline-flex;
    &:first-child {
      margin-left: 4px;
    }
    span {
      padding: 6px 20px 4px 5px;
      overflow: hidden;
      display: inline-block;
      background: #dedddd;
      color: #666;
      position: relative;
      cursor: pointer;
      &:after {
        content: "";
        position: absolute;
        width: 40px;
        height: 100%;
        right: -26px;
        top: -7px;
        background: #fff;
        transform: rotate(245deg);
      }
      mat-icon {
        transform: rotate(90deg);
        vertical-align: bottom;
        font-size: 21px;
        height: 21px;
        width: 21px;
      }
      mat-icon.delete {
        position: absolute;
        right: 3px;
        color: #f08c2e;
        font-size: 13px;
        z-index: 99;
        top: 0;
        background: #fff;
        border-radius: 90%;
        text-align: center;
        height: 15px;
        width: 15px;
        padding: 0px;
        border: solid 1px #ababab;
        display: none;
      }
    }
    &:last-child span mat-icon.delete {
      display: block;
    }
    &:nth-child(1) span mat-icon.delete,
    &:nth-child(2) span mat-icon.delete {
      display: none;
    }
    input[type="radio"] {
      display: none;
    }
    input[type="radio"]:checked + span {
      background: #f08c2e;
      color: #fff;
    }
    &.addFlight span {
      background: #fff;
      color: #f08c2e;
    }
  }
}
.flight-search-inner[hidden] {
  display: none !important;
}
.flight-search-inner[hidden]{display: none !important;}
// .is-loading {
//     position: absolute;
//     width: 100%;
//     height: 5px;
//     bottom: -2px;
// }
// Main-search-area

section.main-search-area{
    .box-inner { position: relative; width: 100%; padding: 30px 40px; padding-bottom: 45px; background: #fff; box-shadow:0 3px 40px 0 rgba(0, 0, 0, 0.07); border-radius: 10px; margin-top: -200px; z-index: 1;
    }
    .label{margin-bottom: 5px;
		span{font-size: 16px;}
	}
    .flight-search-area{
            
            
          

        .upper-menu-right-area{ position: relative;
            p.traveler-info{ color: #383838; cursor: pointer !important; margin-bottom: 0; display: flex;
                span.icon{ font-size: 10px; margin-right: 5px;}
                span.arrow-icon{ font-size: 10px; margin-left: 10px; transition: .3s;}
                &.active{
                    span.arrow-icon{transform: rotate(180deg);}
                }                
            }
            .travelllar-info-box {
                .label span{font-size: 14px; font-weight: 600;}
                position: absolute; right: 0; width: 360px; top: 30px; padding: 20px; border-radius: 8px; background: #fff; box-shadow:0px 0px 20px rgba(0, 0, 0, 0.1607843137254902); z-index: 111;
                &:before{ position: absolute; content: ""; right: 8px; transform: rotate(45deg); top: -3px; width: 13px; height: 13px; background: #fff; box-shadow: -7px -5px 21px #0000001c; z-index: -1;
                }
            }
            .flight-class-select{ justify-content: space-between; align-items: center; }
            .flight-class-select mat-form-field { padding: 5px 10px; border: 1px solid rgba(51, 51, 51, 0.18); border-radius: 5px; margin-top: 5px; width: auto; }
            .flight-class-chosing { padding-top: 10px; border-top:1px solid rgba(23, 15, 9, 0.14); 
                
                .mat-form-field-wrapper{padding: 0;}
                .mat-form-field-infix{margin: 0;border: 0;    line-height: normal;}
                .mat-form-field-underline{display: none;}
            }
            .show_travellar_box{display: block !important;}
            .counter{justify-content: space-between;margin-bottom: 10px;}
            .counter-right {display: flex;align-items: center;}
            button.icon-box { width: 35px; height: 35px; background: #f08c2e; border-radius: 50%; color: #fff; display: block; text-align: center; padding-top: 5px; padding-left: 5px; box-shadow: 0px 0px 20px #00000030; cursor: pointer;
                i{font-size: 25px;}
            }
            span.number{ font-size: 20px; color: #444444; font-weight: 700; margin: 0px 10px; }
            button.btn-apply.mat-button { background: #f08c2e; color: #fff; border-radius: 5px; font-weight: 400; padding: 2px 25px; margin-top: 5px; }
            
        }


        .flight-upper-menu{
            .tab-menu{
                mat-radio-button{margin-right: 30px;}
                .mat-radio-label-content{padding-left: 5px;font-size: 16px;color: #383838;}
            }
        }
        .flight-search-main{
            .flight-search-inner{ position: relative; border: 1px solid rgba(51, 51, 51, 0.23); border-radius: 5px; background: #fff;
                &.mt-30{margin-top: 20px;}
                .add-flight-btn{ position: absolute; right: 0; top: -55px;
                    button{ text-transform: uppercase; background: #f08c2e; color: #fff; border-radius: 5px; box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.07058823529411765); line-height: inherit; padding: 8px 15px;
                        i{font-size: 22px;vertical-align: middle;}
                    }
                }
                .tnb-dlt-flight-form{ position: absolute; right: -10px; top: -15px; display: none;
                    button{ background: #f08c2e; width: 25px; height: 25px; min-width: auto; padding: 0; margin: 0; border-radius: 50%; line-height: inherit;
                        i{color: #fff;font-size: 18px;}
                    }
                }
                .flight-search-left-area, .flight-search-right-area, .fs-box {width: 50%; box-sizing: content-box;}
                .fs-box{ position: relative; padding: 15px; padding-bottom: 10px; border-right: 1px solid rgba(51, 51, 51, 0.23137254901960785);
                    &.flight-from{  position: relative; box-sizing: content-box;
                        span.icon{ position: absolute; right: -15px; top: 30px; width: 30px; height: 30px; background: #fff; border: 1px solid rgba(51, 51, 51, 0.5215686274509804); border-radius: 50%; display: flex; justify-content: center; align-items: center;
                            i{font-size: 20px;color: #f08c2e;}
                        }
                    }
                    &.flight-to{padding-left: 20px; width: calc(50% - 5px) !important;}
                    &.br-0{border: 0;}
                    &.travaler-count-form{ padding-left: 10px; padding-right: 10px;
                        .travaler-count{ position: relative; cursor: pointer;
                            .label{margin-bottom: 10px;}
                            span.icon{
                                i{ position: absolute; top: 0px; right: 0; transition: .3s;                                }
                                &.active{
                                    i{transform: rotate(180deg);}
                                }
                            }
                        }
                        
                        .travelllar-info-box { position: absolute; right: 0; width: 360px; bottom: -225px; padding: 20px; border-radius: 8px; background: #fff; box-shadow:0px 0px 20px rgba(0, 0, 0, 0.1607843137254902); z-index: 111;
                            .label span{font-size: 14px; font-weight: 600;}
                            &:before{ position: absolute; content: ""; right: 8px; transform: rotate(45deg); top: -3px; width: 13px; height: 13px; background: #fff; box-shadow: -7px -5px 21px #0000001c; z-index: -1;
                            }
                        }
                        .flight-class-select{justify-content: space-between;align-items: center;}
                        .flight-class-select mat-form-field { padding: 5px 10px; border: 1px solid rgba(51, 51, 51, 0.18823529411764706); border-radius: 5px; margin-top: 5px; width: auto;
                        }
                        .flight-class-chosing { padding-top: 10px; border-top:1px solid rgba(23, 15, 9, 0.1411764705882353);
                        }
                        .show_travellar_box{display: block !important;}
                        .counter{justify-content: space-between;margin-bottom: 10px;}
                        .counter-right {display: flex;align-items: center;}
                        button.icon-box { width: 35px; height: 35px; background: #f08c2e; border-radius: 50%; color: #fff; display: block; text-align: center; padding-top: 5px; padding-left: 5px; box-shadow: 0px 0px 20px #00000030; cursor: pointer;
                            i{font-size: 25px;}
                        }
                        span.number{ font-size: 20px; color: #444444; font-weight: 700; margin: 0px 10px;
                        }
                        button.btn-apply.mat-button { background: #f08c2e; color: #fff; border-radius: 5px; font-weight: 400; padding: 2px 25px; margin-top: 5px;
                        }
                    }
                    
                    
                }
                &:hover{
                    .tnb-dlt-flight-form{display: block;}
                }
                .traveller-number{margin: 0;}
            }
        }
    }
    
    .trending-searches-area{
        .trending-search-main{margin-top: 25px;margin-bottom: 10px;
            span.title { font-size: 14px; color: #979292; float: left; margin-top: 4px;}
            aside{overflow-x: auto;}
            ul{ padding-left: 0; list-style: none; display: inline-block; margin-bottom: 0px;  display: flex;               
                li{ display: inline-flex; padding: 6px 10px 0 10px; border: 1px solid rgba(51, 51, 51, 0.2196078431); 
                    border-radius: 4px; margin-left: 10px; cursor: pointer; display: inline-flex;
                    span{ color: #aaaaaa; font-size: 13px;}
                    span.icon{
                        margin: 0px 10px;
                        i{font-size: 20px;color: #aaaaaa;}
                    }
                    &:hover{border-color: #f28c2d;
                        span,i{color: #f28c2d !important;}
                    }
                }
            }
        }
    }
    .search-btn-area{ text-align: center; 
        button{ position: absolute; margin-left: -82px; bottom: -24px;
             width: 165px; height: 50px; color: #fff; font-size: 20px; background: #f08c2e; border-radius: 3px; text-transform: uppercase; box-shadow: 0px 0px 20px #00000029; z-index: 1;
        }
    }
}


@media screen and (max-width:991px) {
    section.main-search-area .box-inner{
        .flight-upper-menu{display: block !important;}
        .flight-search-inner:not([hidden]){display: block !important;}
        .flight-search-left-area{border-bottom: 1px solid #33333330; }
        .flight-search-inner .flight-to{border-right: none !important;}
        .flight-search-left-area, .flight-search-right-area{width: 100% !important;}
        .flight-search-inner .flight-from,
        .flight-search-inner .flight-to,
        .flight-search-inner .departure-date,
        .flight-search-inner .return-date {width: 50% !important;}      
    }
} 
@media screen and (max-width:767px) {
    
    .trending-searches-area{ position: relative;
        .trending-search-main{position: absolute; top: 40px; width: 100%;
        span{float: none !important;}
        ul li{margin: 0 3px !important;}
        }
    }

    section.main-search-area .box-inner{margin-top: 0px; padding: 0; background: transparent; box-shadow: none;
        .flight-search-area mat-form-field{font-size: 15px;}
        .upper-menu-right-area{margin: 5px 0;
            .travelllar-info-box{width: 100%;
                mat-form-field{width: 150px !important;}
            }
        }
        .travaler-count-form .travelllar-info-box{width: 305px !important;
            mat-form-field{width: 150px !important;}
        }
        .flight-search-main {
            .flight-search-inner{background: none; border: none;
                .fs-box{padding: 5px;
                    &.flight-from .label{text-indent: 5px;}
                    .label span{font-size: 14px;}
                    .traveller-number{font-size: 13px;}
                }            
            }   

        } 
        .flight-search-left-area, .flight-search-right-area{
            border: 1px solid rgba(51, 51, 51, 0.23); border-radius: 5px; background: #fff; 
            &:last-child{margin-top: 10px;}
        }
        .flightTab{margin-top: 9px;
            label.addFlight span, label span:after {background: #fdf6f1;}
            label span mat-icon:not(.delete){display: none !important;}
            label{font-size: 13px;}
        }
        .search-btn-area button{position: static; width: 100%; margin: 10px 0 0 0; font-size: 17px; height: auto; padding: 3px 0;}       
    }
    @media screen and (max-width:400px) {
        .flightTab{margin-top: 4px;        
            label span mat-icon.delete{right: 0;}
            label span{padding: 6px 14px 4px 3px}
            label.addFlight span{padding-right: 0px;}
        }
        section.main-search-area .flight-search-area .flight-upper-menu .tab-menu mat-radio-button{margin-right: 10px;}
    }
}
