<section class="main-search-area hotel-booking-feild bg-mobile">
    <div class="newContainer">
        <div class="box-inner">
            <!--  -->
            <form #fform="ngForm" (ngSubmit)="fform.form.valid && onSubmit(fform)">
                <div class="flight-search-area">
                    <div class="flight-upper-menu d-flex">
                        <div class="tab-menu">
                            <mat-radio-group id="trip" name="Flight_trip" aria-label="Select an option" [(ngModel)]="model.Flight_trip" required>
                                <mat-radio-button name ="Flight_radio" [value]="'1'"  [checked]="model.Flight_trip==='1'" [ngClass]="{'checked':model.Flight_trip==='1'}" (click)= "showOneway()">One way</mat-radio-button>
                                <mat-radio-button name ="Flight_radio" [value]="'2'"  [checked]="model.Flight_trip==='2'" [ngClass]="{'checked':model.Flight_trip==='2'}" (click)= "showRoundway()" >Round Trip</mat-radio-button>
                                <mat-radio-button name ="Flight_radio" [value]="'3'" [checked]="model.Flight_trip==='3'" [ngClass]="{'checked':model.Flight_trip==='3'}"  (click)= "showMulticity()" >Multi-city</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div class="upper-menu-right-area d-flex"  *ngIf="!Flag3">
                            <p class="traveler-info" [ngClass] ="{'active':show_travellarbox_oneway}" (click)="showTravellarboxoneway()" id="person" required name="person">
                                <span class="icon">
                                    <mat-icon>person</mat-icon>
                                </span>
                                <span class="adult">{{ incCountValAdult }} Adult</span>,
                                <span class="child">{{ incCountValChil }} Children</span>,
                                <span class="flight-class">{{model.Flight_Class}} Class</span>
                                <span class="arrow-icon">
                                    <mat-icon>keyboard_arrow_down</mat-icon>
                                </span>
                            </p>
                            <div class="travelllar-info-box d-none" [ngClass]="{'show_travellar_box': show_travellarbox_oneway}">
                                <div class="travellar-info-box-inner">
                                    <div class="counter d-flex">
                                        <div class="label"><span>Adult</span></div>
                                        <div class="counter-right">
                                            <button  type="button" (click)="decCount(incCountValAdult)" class="icon-box" min="0">
                                                <i class="material-icons">remove</i>
                                            </button>
                                            <input type="hidden" name="Fligt_Adult" [(ngModel)]="incCountValAdult" />
                                            <span class="number"> {{ incCountValAdult }} </span>
                                            <button type="button" (click)="incCount(incCountValAdult)" class="icon-box">
                                                <i class="material-icons">add</i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="counter d-flex">
                                        <div class="label"><span>Children</span></div>
                                        <div class="counter-right">
                                            <button type="button" (click)="decCountchil()" class="icon-box" min="0">
                                                <i class="material-icons">remove</i>
                                            </button>
                                            <input type="hidden" name="Fligt_child" [(ngModel)]="incCountValChil" />
                                            <span class="number" name="Children">{{ incCountValChil }}</span>
                                            <button type="button" (click)="incCountchil()" class="icon-box">
                                                <i class="material-icons">add</i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="traveler-box-bottom">
                                        <div class="flight-class-chosing">
                                            <div class="label"><span>Choose Flight Class</span></div>
                                            <div class="flight-class-select d-flex">
                                                <mat-form-field>
                                                    <mat-select [value]="model.Flight_Class" name="Flight_Class" [(ngModel)]="model.Flight_Class" required>
                                                        <mat-option value="ECONOMY">Economy</mat-option>
                                                        <mat-option value="PREMIUM_ECONOMY">Premium Economy</mat-option>
                                                        <mat-option value="BUSINESS">Business Class</mat-option>
                                                        <mat-option value="FIRST">First Class</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                                <div class="btn-area text-right">
                                                    <button type="button" class="btn-apply" (click)="showTravellarboxoneway()" mat-button>Apply</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flight-search-main">
                        <!-- One way and Round way -->
                        <div class="flight-search-inner d-flex" *ngIf="Flag1 && !Flag3">                                                           
                            <div class="flight-search-left-area d-flex">
                                <div class="fs-box flight-from">
                                    <span class="icon"><i class="material-icons">sync_alt</i></span>
                                    <div class="label"><span>From</span></div>
                                    <mat-form-field class="example-form-field">
                                        <input type="text" placeholder="Enter From" name="Flight_From" [(ngModel)]="model.Flight_From" required [matAutocomplete]="auto" matInput [formControl]="myControl"/>                                
                                        <mat-autocomplete class="cityDwoprownList" autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
                                            <ng-container>
                                            <mat-option *ngIf="isLoadingFrom" class="is-loading"><mat-progress-bar mode="indeterminate"></mat-progress-bar></mat-option> 
                                            <mat-option *ngFor="let option of filteredOptions| async" [value]="option.value">
                                                <mat-icon>local_airport</mat-icon> 
                                                <strong>{{option.iatacode}}</strong>
                                                <bdo> {{option.cityname | lowercase}}</bdo>
                                                <p> {{option.countryName | lowercase}}</p>
                                              </mat-option>
                                            </ng-container>
                                        </mat-autocomplete>
                                        
                                    </mat-form-field>                          
                                </div>
                                <div class="fs-box flight-to tbr-0">
                                    <div class="label"><span>To </span></div>
                                    <mat-form-field class="example-form-field">
                                        <input type="text" placeholder="Enter To" name="Flight_To" [(ngModel)]="model.Flight_To" required [matAutocomplete]="auto1" matInput [formControl]="tymyControl" /> 
                                        <mat-autocomplete class="cityDwoprownList _fto" autoActiveFirstOption #auto1="matAutocomplete" [displayWith]="displayFn">
                                            <ng-container>
                                              <mat-option *ngIf="isLoadingTo" class="is-loading"><mat-progress-bar mode="indeterminate"></mat-progress-bar></mat-option> 
                                              <mat-option  *ngFor="let option1 of filteredOptionsTo| async"  [value]="option1.value">
                                                <mat-icon>local_airport</mat-icon>
                                                <strong>{{option1.iatacode}}</strong>
                                                <bdo> {{option1.cityname | lowercase}}</bdo>
                                                <p>{{option1.countryName | lowercase}}</p>
                                              </mat-option>
                                            </ng-container>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="flight-search-right-area d-flex">
                                <div class="fs-box departure-date">
                                    <div class="label"><span>Departure Date</span></div>
                                    <mat-form-field >
                                        <input matInput [matDatepicker]="picker1" placeholder="Choose a date" name="Flight_Departure" [(ngModel)]="model.Flight_Departure" required pannelClass="myyyyyyyyyyyyyyyyyyyy">
                                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                        <mat-datepicker [startAt]="model.Flight_ReturnDate" #picker1 ></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="fs-box return-date br-0">
                                    <div class="label"><span>Return Date</span></div>
                                    <mat-form-field>
                                        <input matInput [matDatepicker]="picker2" placeholder="No Return" [disabled]="!Flag2" name="Flight_ReturnDate" [(ngModel)]="model.Flight_ReturnDate" required>
                                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                        <mat-datepicker [startAt]="model.Flight_ReturnDate" #picker2></mat-datepicker>
                                    </mat-form-field>
                                </div>                                
                            </div>
                        </div>
                        <!-- Multi city -->
                        <div class="flightTab" *ngIf="Flag3">
                            <div class="d-inline-flex">
                                <label *ngFor="let f_number of flightCount">
                                    <input type="radio" name="flightnum" [(ngModel)]="model.flightnum" value="{{f_number}}"> <span> <mat-icon>flight</mat-icon><mat-icon class="delete" (click)="removeFlight(1)">clear</mat-icon> Flight {{f_number}}</span> 
                                </label>
                            </div>
                            <label class="addFlight" *ngIf="flight5" (click)="addFlight(1)"><span><mat-icon>add</mat-icon> Add Flight </span></label>
                        </div>
                        <!-- <div class="add-flight-btn">
                            <button mat-button> Add Flight  <i class="material-icons"> add </i> </button>
                        </div> -->
                        <div *ngIf="Flag3">
                            <div class="flight-search-inner d-flex" *ngFor="let f_number of flightCount" 
                            [hidden]="model.flightnum != f_number">                           
                                <div class="flight-search-left-area d-flex">
                                    <div class="fs-box flight-from">
                                        <span class="icon"> <i class="material-icons"> sync_alt </i></span>
                                        <div class="label"><span>From {{f_number}}</span></div>
                                        <mat-form-field class="example-form-field" >
                                            <input matInput type="text" name="Flight_From" [matAutocomplete]="auto" placeholder="Enter From" #Flight_Fro />
                                            <mat-autocomplete #auto="matAutocomplete" > </mat-autocomplete>     
                                        </mat-form-field>                                    
                                    </div>
                                    <div class="fs-box flight-to tbr-0">
                                        <div class="label"><span>To </span></div>
                                        <mat-form-field class="example-form-field">
                                            <input matInput type="text" name="Flight_To" [matAutocomplete]="auto" placeholder="Enter To" #Flight_To_FS /> 
                                            <mat-autocomplete #auto="matAutocomplete"></mat-autocomplete>  
                                        </mat-form-field>
                                    </div>
                                </div>                                
                                <div class="flight-search-right-area d-flex">
                                    <div class="fs-box departure-date">
                                        <div class="label"><span>Departure Date</span></div>
                                        <mat-form-field>
                                            <input matInput [matDatepicker]="picker3" placeholder="Choose a date" required>
                                            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                            <mat-datepicker #picker3></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="fs-box travaler-count-form br-0" >
                                        <div class="travaler-count" (click)="showTravellarbox()">
                                            <div class="label">
                                                <span>Travellar Info</span>
                                                <span class="icon" [ngClass]="{'active': show_travellarbox}">
                                                    <i class="material-icons">keyboard_arrow_down</i>
                                                </span>
                                            </div>
                                            <p class="traveller-number">
                                                <span class="adult-number">{{ incCountValAdult }} Adult</span>,
                                                <span class="child-number">{{ incCountValChil }} Children</span>,
                                                <span class="flight-class">{{model.Flight_Class}}</span>
                                            </p>
                                        </div>
                                        <div class="travelllar-info-box d-none" [ngClass]="{'show_travellar_box': show_travellarbox}">
                                            <div class="travellar-info-box-inner">
                                                <div class="counter d-flex">
                                                    <div class="label"><span>Adult</span></div>
                                                    <div class="counter-right">
                                                        <button  type="button" (click)="decCount(incCountValAdult)" class="icon-box" min="0">
                                                            <i class="material-icons">remove</i>
                                                        </button>
                                                        <input type="hidden" name="Fligt_Adult" [(ngModel)]="incCountValAdult" />
                                                        <span class="number"> {{ incCountValAdult }} </span>
                                                        <button type="button" (click)="incCount(incCountValAdult)" class="icon-box">
                                                            <i class="material-icons">add</i>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="counter d-flex">
                                                    <div class="label"><span>Children</span></div>
                                                    <div class="counter-right">
                                                        <button type="button" (click)="decCountchil()" class="icon-box" min="0">
                                                            <i class="material-icons">remove</i>
                                                        </button>
                                                        <input type="hidden" name="Fligt_child" [(ngModel)]="incCountValChil" />
                                                        <span class="number" name="Children">{{ incCountValChil }}</span>
                                                        <button type="button" (click)="incCountchil()" class="icon-box">
                                                            <i class="material-icons">add</i>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="traveler-box-bottom">
                                                    <div class="flight-class-chosing">
                                                        <div class="label"><span>Choose Flight Class</span></div>
                                                        <div class="flight-class-select d-flex">
                                                            <mat-form-field>
                                                                <mat-select [value]="model.Flight_Class" name="Flight_Class" [(ngModel)]="model.Flight_Class" required>
                                                                    <mat-option value="Economy">Economy</mat-option>
                                                                    <mat-option value="Bussiness">Business Class</mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                            <div class="btn-area text-right">
                                                                <button type="button" class="btn-apply" (click)="showTravellarboxoneway()" mat-button>Apply</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>                               
                            </div>
                        </div>

                        <div class="trending-searches-area">
                            <div class="trending-search-main">
                                <span class="title">Trending Searches:</span>
                                <aside>
                                    <ul class="trending-menu">
                                        <li>
                                            <span class="from">Delhi</span> 
                                            <span class="icon">
                                                <i class="material-icons">
                                                    arrow_forward
                                                </i>
                                            </span>
                                            <span class="to">Kolkata</span>
                                        </li>
                                        <li>
                                            <span class="from">Delhi</span> 
                                            <span class="icon">
                                                <i class="material-icons">
                                                    arrow_forward
                                                </i>
                                            </span>
                                            <span class="to">Bangkok</span>
                                        </li>
                                        <li>
                                            <span class="from">Delhi</span> 
                                            <span class="icon">
                                                <i class="material-icons">
                                                    arrow_forward
                                                </i>
                                            </span>
                                            <span class="to">Paris</span>
                                        </li>
                                        <li>
                                            <span class="from">Delhi</span> 
                                            <span class="icon">
                                                <i class="material-icons">
                                                    arrow_forward
                                                </i>
                                            </span>
                                            <span class="to">Kolkata</span>
                                        </li>
                                    </ul>
                                </aside>
                            </div>
                        </div>
                        <div class="search-btn-area">
                            <button type="button"  mat-button type="submit"  (click)="checkUrl()" [disabled]="!fform.form.valid">Search</button>
                            <!--[queryParams]="{Flight_trip:[model.Flight_trip],'Flight_Class':[model.Flight_Class],'Flight_From':[model.Flight_From],'Flight_To':[model.Flight_To],'Fligt_Adult':[incCountValAdult],'Fligt_child':[incCountValChil],'Flight_Departure':[model.Flight_Departure],'Flight_ReturnDate':[model.Flight_ReturnDate]}"-->
                            
                        </div>                   
                    </div>
                </div>
            </form>
        </div>
    </div>
    
</section>
