@import "../flight-variables.scss";
app-flight-search{
	.popoverStops{width: 170px;text-align: center;font-size: 12px;
		h6{margin: 0; font-size: 13px; margin-bottom: 5px;}
	}	
	button.btn-pr{@include mybtn; text-transform: uppercase;font-weight: normal; min-width: 64px; line-height: 36px; padding: 0 15px;}
	
	.flightWaitLoader{    text-align: center;
		font-size: 16px;
		color: #777;
		height: 300px;
		align-items: center;
		display: flex;
		section{    width: 600px; position: relative;
			margin: 0 auto;
			max-width: 90%;
		&:before{position: absolute;
			content: "";
			width: 70%;
			height: 1px;
			border-top: dashed 1px #ccc;
			left: 15%;
			top: 32px;
			z-index: -1;}
		}
		aside{ animation-duration: 1.5s; margin: 0 auto; text-align: center; position: relative; left: 100px; width: 200px;
			mat-icon{transform: rotate(90deg); color: $orange;font-size: 50px; width: 50px; height: 50px; margin-top: 9px;}
		}
		span{color: #666; font-weight: 600;}
	}
	.btn-yo{@include mybtn;}
	/*fsinc*/
	.flight-search-area{
		mat-form-field{
			font-size: 16px;     width: 100%;
			&.mat-focused{
				.mat-form-field-label{display: none;}
			}
			&.mat-form-field-should-float{
				.mat-form-field-label{display: none;}
			}
			.mat-form-field-infix{margin: 0;border: 0;}
			.mat-form-field-wrapper{padding: 0 !important;}
			.mat-form-field-underline{display: none;}
			.mat-datepicker-toggle-default-icon {width: 25px !important; fill: #b1acac; position: relative; right: 5px;}
			mat-datepicker-toggle{outline: none;}
			button[ng-reflect-disabled=true]{right: 5px;
				.mat-datepicker-toggle-default-icon{right: 0; background: #ffffff !important;}
			}
		}
	}
	@media screen and (min-width:768px) {
	.flight-search-area .flight-search-left-area {
		mat-form-field{    width: calc(100% + 30px) !important; margin-left: -15px; 
			.mat-form-field-infix, .mat-form-field-label-wrapper{text-indent: 15px;padding-right: 15px; text-overflow: ellipsis;} 
			input{    width: calc(100% - 20px) !important; font-weight: 500;}
		}  
		.flight-to{
			mat-form-field{    width: calc(100% + 35px) !important; margin-left: -20px; 
				.mat-form-field-infix, .mat-form-field-label-wrapper{text-indent: 20px;padding-right: 15px; text-overflow: ellipsis;}
				input{    width: calc(100% - 20px) !important; font-weight: 500;}
			} 
		}
	  }
	}
	@media screen and (max-width:767px) {
		.flight-search-area .flight-search-left-area {
			mat-form-field{    width: calc(100% + 10px) !important; margin-left: -5px; 
				.mat-form-field-infix, .mat-form-field-label-wrapper{text-indent: 10px;padding-right: 18px; text-overflow: ellipsis;} 
				input{    width: calc(100% - 20px) !important;}
			}  
			.flight-to{
				mat-form-field{    width: calc(100% + 25px) !important; margin-left: -20px; 
					.mat-form-field-infix, .mat-form-field-label-wrapper{text-indent: 20px;padding-right: 10px; text-overflow: ellipsis;}
					input{    width: calc(100% - 20px) !important;}
				} 
			}
		}
	}
	/*fsinc*/

	

	// Flight search top header css
	.flight-search-top-header{
		.flight-search-top-header-inner{ background: #fff; box-shadow: 0 3px 30px 0 rgba(0,0,0,.1); 
			border:1px solid rgba(51, 51, 51, 0.10); border-radius: 8px; margin-top: 20px; justify-content: space-between;	}		
		.header-single-box{ width: 33.33%; padding: 10px 15px; border-right:1px solid rgba(51, 51, 51, 0.18);
			&.flight-info{ display: flex; justify-content: space-between; align-items: center;
				p{ font-size: 15px; margin-bottom: 0px;font-weight: 600; }
				.icon-area{
					mat-icon{color: $orange; transform: rotate(45deg);font-size: 30px;}
				}
			}
			&.flight-details{
				.flight-date {display: flex;    padding-bottom: 10px;
					mat-icon{ color: #444; margin-left: -2px; font-size: 21px; width: 21px; height: 21px; vertical-align: middle;}
					p{ margin: 2px 0 0 3px;font-weight: 600; }
				}
				.passengers-info {display: flex; justify-content: space-between;font-weight: 600; color: #666;
					p{margin-bottom: 0px;}
					mat-icon{font-size: 18px; width: 18px; height: 18px; vertical-align: text-top; margin-left: -2px;}
				}
			}
			&.btn-area{ display: flex; justify-content: space-between; border: 0; align-items: center;
				button{ img{width: 14px;} }
			}
		}
		
	}

	

	// Flight Filter
	.flight-search-filter{margin-top: 20px; height: 72px;
		.mat-accent .mat-slider-thumb, .mat-accent .mat-slider-thumb, .mat-accent .mat-slider-thumb-label, .mat-accent .mat-slider-track-fill {background-color: $orange;}
		.mat-checkbox{ width: 100%; display: inline-block; margin: 0 !important;font-size: 13px;}
		.label{font-weight: 600;}
		.filter-inner { border-radius: 8px; position: absolute; margin: 0 auto; width: 100%; z-index: 111; }
		.filtercol{ width: 20%;}
		// .mat-accordion .mat-expansion-panel:last-of-type{border-radius:0}
		mat-expansion-panel { background: #fff; box-shadow: none ; padding: 5px 10px 0px 10px; padding-top: 0px; box-shadow: none !important;}
		mat-expansion-panel.mat-expanded { border-bottom-right-radius: 8px; border-bottom-left-radius: 8px;}
		.mat-expansion-panel-body{padding: 0px;}
		mat-expansion-panel-header{ position: relative; padding-left: 0px; padding-right: 0px;
			mat-panel-title.mat-expansion-panel-header-title { font-size: 14px; color: #797979; margin-right: 0px; }
			&:hover{ background: transparent !important; }
		}
		// .br-round{ border: 1px solid rgba(51, 51, 51, 0.09);
		// 	&:focus{border: none;}
		// }
		.show-radius-b1, .show-radius-b2, .show-radius-b3, .show-radius-b4, .show-radius-b5{ border-bottom-left-radius: 8px; border-bottom-right-radius: 8px; box-shadow: 0px 5px 5px 0px rgba(21, 10, 1, 0.1); 
			.mat-expansion-panel{padding-bottom: 5px;}
		}
		// .bl-radius{ border-top-left-radius: 8px; border-bottom-left-radius: 8px; }
		// .br-radius{ border-top-right-radius: 8px; border-bottom-right-radius: 8px; }
		.accordion-box{    position: relative; overflow: hidden; box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1); border-right: solid 1px #eaeaea;
			&.price-area {border-bottom-left-radius: 8px;border-top-left-radius: 8px}
			.mat-accordion .mat-expansion-panel:last-of-type {
				border-bottom-right-radius: 0;
				border-bottom-left-radius: 0;
			}
			.mat-accordion .mat-expansion-panel:first-of-type {
				border-top-right-radius: 0;
				border-top-left-radius: 0;
			}
			.label{padding-top: 8px; padding-left: 10px; margin-bottom: 0px; background: #fff;
				// &.br-l{ border-top-left-radius: 8px; }
			}
			.mat-slider-horizontal { height: 40px; min-width: 100%; }
			p.price-range { display: flex; justify-content: space-between; }
			mat-checkbox {margin-right: 4px;
				.mat-checkbox-inner-container{ width: 15px; height: 15px; margin-right: 5px; }
				label{margin-bottom: 0;}
			}
			.mat-expansion-indicator::after { border-style: inherit; border-width: 0; content: ''; display: inline-block; padding: 0; transform: rotate(0deg); height: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid; display: inline-block; vertical-align: middle; transition: .3s; }
			.mat-checkbox-layout .mat-checkbox-label { line-height: 24px;padding-top: 2px;}
			ul{ padding-left: 0px; list-style: none; margin: 0; }
			.time-checkbox{
				ul li{ display: block; }
			}				
		}
		.reset-btn-area{ background: #fff; border-top-right-radius: 8px; border-bottom-right-radius: 8px; text-align: center; height: 69px; border-left: none;box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
			p{color: #f08c2e; margin-bottom: 0px;}
			button { margin-top: 3px; color: #f08c2e; font-size: 20px; width: 90px;
				&:focus i{
					-webkit-animation: rotateOut 0.6s;
	        		animation: rotateOut 0.6s;					  
				}
				i{font-size: 30px;font-weight: 600;}
				.mat-button-ripple{display: none;}
				.mat-button-focus-overlay{display: none;}
			}
		}

		@media screen and (max-width:991px) {
			mat-expansion-panel-header mat-panel-title.mat-expansion-panel-header-title{    font-size: 13px;}
			.reset-btn-area button{width: auto; min-width: auto;
				i{font-size: 25px;}
				p{font-size: 13px}
			}			
			.mat-expansion-panel{    padding: 0px 5px 0px 5px;}
			.flight-search-filter .accordion-box .label{    padding-left: 6px;}
			.filtercol{flex-grow: 1; max-width: 100%;
				&:first-child{width: 140px;}
				&:last-child{width: 100px;}
			}			
		}
		@media screen and (max-width:767px) {
			&{margin: 0; height: calc(100vh - 65px); position: fixed; width: 100%; background: #fff; z-index: 9;
				// background-image: linear-gradient(0deg, #f7f7f752 10%, #fde9d6 90%);
				// background-image: -moz-linear-gradient(0deg, #f7f7f752 10%, #fde9d6 90%);
				// background-image: -webkit-linear-gradient(0deg, #f7f7f752 10%, #fde9d6 90%);
				// background-image: -ms-linear-gradient(0deg, #f7f7f752 10%, #fde9d6 90%);
				.filter-inner{    position: relative; height: calc(100vh - 112px); overflow-y: auto;}
			} 
			aside + aside{display: none;}
			.filtercol{width: 100% !important; margin: 5px 0 0 0; padding-top: 5px !important; border-top: solid 1px #ddd;
				&:first-child{padding-top: 0 !important; border: none;}
			}
			.d-flex > .d-flex{display: block !important; width: 100%;}
			.mat-checkbox-frame {
				border-color: rgba(0, 0, 0, 0.32);
			}
			.mat-expansion-panel-content {height: auto !important; visibility: visible !important;}
			.mat-expansion-panel {padding: 0px 10px 10px 10px; background: transparent;}
			p.price-range{margin: 0;}
			.mat-checkbox{width: 50%;color: #4a4a4a;}
			.time-checkbox ul li {display: inline-block !important;width: 50%;}
			.accordion-box{ box-shadow: none; border: none;
				&.price-area {border-bottom-left-radius: 0px; border-top-left-radius: 0px;}
				&.price-area.show-radius-b1 {border-bottom-left-radius: 8px; border-top-left-radius: 8px;}
				.label{    padding-bottom: 5px; color: #222; background: transparent; font-size: 15px;}
			}			
			mat-expansion-panel-header{pointer-events: none;display: none;
				span.mat-expansion-indicator{display: none;}
			}
			.price-area mat-expansion-panel-header{display: block;height: auto !important; margin: 0px 0 -10px 0;
				mat-panel-title{font-size: 15px; text-align: center; display: block; color: #666;}
			}
		}		
	}


// Price with date slider section css

section.date-and-price-slider{
	// hr{margin-top: 112px; border-top: 1px solid rgba(0, 0, 0, 0.06);}
	.slider-inner{ position: relative; background: #fff; border-radius: 8px; margin-top: 20px; border: 1px solid rgba(51, 51, 51, 0.12); box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.1); z-index: 0; }

	.swiper-mlr{ margin: 0 35px; position: relative;
		.swiper-slide{ text-align: center; padding: 10px 0; border-right: 1px solid rgba(51, 51, 51, 0.07); border-left: 1px solid rgba(51, 51, 51, 0.1);
			p.date{ margin-bottom: 5px; font-size: 14px; color: #666; text-transform: capitalize;			}
			p.price-text{ font-size: 16px; margin-bottom: 0px; color: #333;			}
			&.active{background: #f08c2e;
				p{color: #fff;}
			}
		}
	}
	.swiper-button-next1 { top: 50%; position: absolute; margin-top: -14px; left: 4px; cursor: pointer;
		mat-icon{font-size: 30px;color: #f08c2e;}
		&.swiper-button-disabled{opacity: 0.5;cursor: no-drop;}
	}
	.swiper-button-prev1 { top: 50%; position: absolute; margin-top: -14px; right: 8px; cursor: pointer;
		mat-icon{font-size: 30px;color: #f08c2e;}
		&.swiper-button-disabled{opacity: 0.5;cursor: no-drop;}
	}
}

.box-inner{margin: 20px 0 40px 0 !important;}

	@media screen and (min-width:768px) and (max-width:991px){
		.flight-search-top-header {
			.header-single-box{padding: 10px;
				&.flight-info{width: 25%;}
				&.flight-details{width: 35%;}
				&.flight-details .passengers-info{display: block;}
				&.btn-area{width: 39.333%;}
			}
		}

		

	}



	@media screen and (max-width:767px){

		.header-mobile{ position: relative; background: #fde9d6; border-bottom: 1px solid #f08c2ec2; display: block !important; height: 65px;
			.bg-gradient{ position: absolute; left: 0; bottom: -201px; width: 100%; height: 200px;    z-index: -1;
				background-image:linear-gradient(0deg, #f7f7f752 10%, #fde9d6 90%);
				background-image: -moz-linear-gradient(0deg, #f7f7f752 10%, #fde9d6 90%);
				background-image: -webkit-linear-gradient(0deg, #f7f7f752 10%, #fde9d6 90%);
				background-image: -ms-linear-gradient(0deg, #f7f7f752 10%, #fde9d6 90%);
			}		
			.row-top{ justify-content: space-between;
				.left-area{
					.d-flex{margin-top: 8px;}
					button{ min-width: 35px !important; padding: 0 !important;
						i{color: #f08c2e;}
					}
					.ficon img{width: 18px; margin: 0 5px;}								
				}
				.right-area{
					ul{ padding: 0; list-style: none; margin-bottom: 0px;
						li{margin-right: 0px;}
					}
					button{min-width: 20px; padding: 0 5px;
						i{color: #949494;}
						&:hover , &:active , &:focus{
							i{color: #f08c2e;}
						}
					}
				}
			}
			.date-details {position: relative; color: #666; font-size: 13px;
				.icon{margin-left: 35px; margin-right: 5px;
					mat-icon{font-size: 20px; width: 20px; height: 20px; vertical-align: sub;}
				}		
			}
		}
		section.date-and-price-slider .slider-inner{    margin-top: 10px;}
		section.date-and-price-slider .swiper-mlr {
			.swiper-slide{
				p.date{font-size: 12px;}
				p.price-text{font-size: 14px;}
			}
		}



	}

	@media screen and (max-width:575px){
		.header-mobile{ 
			.date-details {font-size: 12px;
				.icon mat-icon{font-size: 17px; width: 17px; height: 17px;}
			}
		}
		section.date-and-price-slider .swiper-mlr {  margin: 0 27px;
			.swiper-slide{
				p.date{font-size: 10px;}
				p.price-text{font-size: 13px;}
			}
		}
	}


	//  One Way Start
	.result-sort-oneway{margin-top: 0px;
		aside{padding: 15px; padding-bottom: 0px;
			p{margin-bottom: 0px;}
			button.sort-btn{padding: 0;padding-right: 15px; width: 100px;
				.mat-button-ripple{display: none;}
				.mat-button-focus-overlay{display: none;}
				i{ position: absolute; font-size: 24px; top: 5px; color: #f08c2e;}
			}
			.airlines-heading{width: 20%;display: flex;align-items: center;}
			.timing-sort-menu{width: 40%;justify-content: space-between;}
			.price-sort-menu{display: flex;width: 40%;justify-content: flex-end;
				button{margin-right: 50px;}
			}
			.search-result-count-area{
				p{margin-bottom: 0px;padding-top: 10px;}
			}
		}
	}

	.flight_oneway{transition: 0.3s; padding: 10px; padding-top: 10px; padding-bottom: 10px; margin-bottom: 20px; border-radius: 8px; background: #fff; box-shadow:0 3px 30px 0 rgba(0, 0, 0, 0.1); border: 1px solid rgba(240, 140, 46, 0.21);
		&:hover{border-color: #f28c2d;}
		p{margin: 0;}
		// .Stoppage{display: inline-block; font-size: 12px; color: #f28c2d;}
		.airlines-area{width: 20%; align-items: center;
			.img-area{margin-right: 15px;
				.air-model{display: block;}
			}
		}
		.timing-area{ width: 40%; justify-content: space-between;align-items: center;
			> div{ width: 33.3333%; text-align: center;}
			.duration-time{
				p.time{ font-size: 20px; color: #666; font-weight: 700;}
				p.place{ font-size: 13px; color: #9d9d9d; }
			}
			.flight-duration{
				.icon-area {height: 17px; position: relative;
					.stopIcon {position: absolute; width: 100%; height: 100%; align-items: center; justify-content: center; display: flex;
						span{width: 6px; height: 7px; border: solid 1px #f28c2d; display: inline-block; margin: 3px 3px 0 3px; background: #fff;}
					}
				}
				.icon-area img{vertical-align: inherit;}
				p.flight-type{font-size: 12px; color: #f28c2d; font-family: Roboto; cursor: pointer;}
			}
		}
		.seatLeft{    background: #ffe8d1; border-color: #eccfb1 !important;
			mat-icon{font-size: 14px; width: 14px; height: 14px; vertical-align: sub; color: #424242;}
		}
		.flight-duration .seatLeft{display: none;}
		.price-fligh{width: 40%;
			.flight-details-btn{ width: 45%; /*display: flex; justify-content: center; align-items: center;*/ text-align: center;
				
				button{ color: #f08c2e; font-size: 14px; font-weight: 400;
					img{max-width: 15px;}
					.mat-button-ripple, .mat-button-focus-overlay{display: none;}
				}
			}
			.price-area{ width: 55%; text-align: center; display: flex; justify-content:space-between; align-items: center;
				p{ font-size: 20px; font-weight: 700; margin-bottom: 0px; color: #f08c2e;
					span{ display: block; font-size: 13px; color: #9d9d9d;
					}
				}
			}
		}
	

		.flight-details{ position: relative; opacity: 0; visibility: hidden; display: none; transition-timing-function: ease-in; transition-duration: .3s; transition-property: height , visibility ;
			.f-timing{margin-top: 10px; font-weight: 500;}
			.btn-cancel{ position: absolute; right: 0; top: 12px; background: transparent; color: #555555; cursor: pointer; z-index: 11; }
			hr{margin-bottom: 0px;}
			.mat-ink-bar{background: #f08c2e !important;}
			.mat-tab-label-active{color: #f08c2e !important; opacity: 1;}
			
			.flight_info{ justify-content: space-between; align-items: center;
				div{text-align: center;
					p.time{ font-size: 20px; font-weight: 700; color: #555555;}					
				}
			}

			.break-details{ position: relative; text-align: center; margin: 15px 0px;
				&:before{ position: absolute; content: ""; width: 100%; height: 1px; background: rgba(93, 93, 93, 0.34); left: 0; top: 11px;    z-index: -1;}
				p{ font-size: 16px; color: #f08c2e;    background: #fff; padding: 0 15px;    display: inline-block; }
			}

			.baggage-info{ 
				.baggage-tab-main{ margin-top: 15px;
					.baggage-left{ max-width: 190px; width: 100%; }
					.baggage-right{ width: 100%;
						.heading{ font-size: 14px; font-weight: 700; margin-bottom: 15px;color: #5d5d5d;}
						& > div{max-width: 190px; width: 100%; color: #8c8c8c;
							div{margin-bottom: 10px;}
						}						
					}
					.airlines-area{width: 100%;}
				}
			}
			.fare-summary-tab{
				.heading { padding: 10px !important; background: #ebebeb; font-weight: 700;}
				.title{padding-bottom: 5px;}
				.summary-left{ margin-top: 10px;
					.fare-breakup-info{
						justify-content: space-between;
						border: 1px solid rgba(51, 51, 51, 0.23);
						padding-bottom: 2px;
						.title{margin-bottom: 10px;}
						.type-area { width: 40%; }
						.fare-info {width: 40%;}
						.total-info {width: 20%;text-align: right;}
						.type-area div, .fare-info div, .total-info div{padding: 5px;}
					}
					.grand-total{ padding: 10px; border:  1px solid rgba(51, 51, 51, 0.23); border-top: 0px; justify-content: space-between;
						.title{margin-bottom: 0px;}
						p{margin-bottom: 0px; color: #f08c2e; font-size: 16px; font-weight: 500; }
					}
				}
				.summary-right{margin-top: 10px;
					.rule-area { border: 1px solid rgba(51, 51, 51, 0.23);}
					.airlines-area{ width: auto; margin: 10px;}
					p{margin: 0 10px 10px;}
					.cancelation-note{padding: 10px; border:  1px solid rgba(51, 51, 51, 0.23); border-top: 0px; color: #f08c2e; font-size: 13px;
					}
				}
			}
		}
		.show-details{ opacity: 1; visibility: visible; display: block; display: block; transition-timing-function: ease-in; transition-duration: .3s; transition-property: height , visibility , opacity ;}
		
	}

	@media screen and (min-width:768px) and (max-width:991px){
		.flight_oneway {
			.airlines-area{width: 60px; display: block !important;
				.img-area {margin-right: 0px; width: 40px;}
				.airline-title{font-size: 12px;
					.air-model{display: block;}
				}
			}
			.price-fligh {
				width: calc(60% - 60px);
			}						
		}

		.flight_oneway .flight-details .fare-summary-tab .summary-right {
			.airlines-area{display: flex !important;     margin: 5px;}
			p{margin: 0 10px 6px; font-size: 13px;}
		}

	}
	
	@media screen and (max-width:767px){
		.flight_oneway{margin-top: 15px;
			.flight-duration .seatLeft{display: inline-block;
				mat-icon{display: none;}
			}
			.flight-details-btn .seatLeft{display: none;}

			.airlines-area{width: 45px; display: block !important;
				.img-area {margin-right: 0px; width: 30px;}
				.airline-title{font-size: 11px; margin-top: 5px;
					.air-model{display: block;}
				}
			}
			.timing-area{width: calc(100% - 130px);
				> {
					div.duration-time{
						p.time{font-size: 15px;    color: #222;}
						p.place{font-size: 11px; line-height: normal;}
					}
					.flight-duration{
						.icon-area{margin: 0; line-height: 11px;}
						p{font-size: 12px;}
					}
				}
			}
			.price-fligh{ width: 90px; flex-direction: column-reverse!important;
				.flight-details-btn, .price-area{width: 100%; justify-content: flex-end!important;
					button{padding: 0;    line-height: normal; font-size: 12px;
						img{    max-width: 12px;}
					}
				}
				.book-btn{display: none;}
			}
			.show-details{
				.f-timing{font-size: 13px; margin-bottom: 10px;}
				.flight_info {
					.departure-details, .arrival-details, .duration-details{
						p.time{font-size: 18px;}
						p{font-size: 12px;}
						.icon-area{width: 50px; margin-top: -5px;}
					} 
				}
				.break-details p{font-size: 14px;}
				.baggage-info .baggage-tab-main {
					.baggage-left{max-width: 70px; margin-top: 5px;}
					.baggage-right .heading{    margin-bottom: 7px;}
					> div div{margin-bottom: 4px;}
				}
				.fare-summary-tab {
					.summary-left{margin-top: 0px;
						.grand-total{padding: 6px 6px 0px 6px;}
					}
					.summary-right{
						.airlines-area{display: flex!important;
							.airline-title{font-size: 13px; margin-top: 10px;}
						}
					}
				}
			}
		}
	}
	@media screen and (max-width:575px){
		.flight_oneway {
			.airlines-area {
				.img-area{width: 28px;}
				.airline-title{font-size: 9px;}
			}
			.price-fligh{
				.flight-details-btn button{font-size: 11px;
					img{max-width: 10px;}
				}
				.price-area p{font-size: 16px;}
			}
			.show-details{
				.btn-cancel{right: -8px; top: 9px;
					mat-icon{height: 18px; width: 18px; font-size: 18px;}
				}
				.mat-tab-label{padding: 0 5px;font-size: 12px; height: 35px;}	
				.baggage-right{
					div, > div.heading {font-size: 12px !important;}
				}		
				
				.baggage-tab-right-area{
					div, > div.heading {font-size: 12px !important;}
				}
				.fare-breakup-info {
					.heading{padding: 5px;}
					.trip-index{padding: 5px; margin: 0;}
					.type-area > div, .fare-info > div, .total-info > div{padding: 4px 5px !important; font-size: 13px !important;}

					& + .grand-total{padding: 5px;}
				}
				.fare-summary-right-area, .summary-right{
					.heading{padding: 5px;}
					.rule-area{font-size: 12px;
						& + .cancelation-note{padding: 5px;}
					}
				}

			}
		}
	}
	//  One Way End

	
	

	//  Round Way Start


	



	

/* Start Round Trip */

.round-trip-css{

	.sorted-menu-area{margin: 10px 0 5px 0;
		.airlines-heading{width: 20%; display: -webkit-box; display: flex; -webkit-box-align: center; align-items: center;
			p{margin-bottom: 0;}
		}
	}
	// Flight search result area css

	&.flight-search-result-area{ position: relative;
		p {margin: 0;}
		.flight-single{ padding: 10px; padding-top: 10px; padding-bottom: 10px; margin-bottom: 20px; border-radius: 8px; background: #fff; box-shadow:0 3px 30px 0 rgba(0, 0, 0, 0.1); border: 1px solid rgba(240, 140, 46, 0.21);
			.airlines-area{ width: 20%; align-items: center;}
			.timing-area{ width: 60%; justify-content: space-between; align-items: center;
				> div{width: 33.333333%;text-align: center;
					p{margin-bottom: 0px;}
				}
				.departure-time{
					p.time{ font-size: 20px; color: #666; font-weight: 700;}
					p.place{ font-size: 13px; color: #9d9d9d; }
				}
				.flight-duration{
					.icon-area{margin: 0px;}
				}
				.arrival-time{
					p.arrival{font-size: 20px; color: #666; font-weight: 700;}
					p.place{font-size: 13px; color: #9d9d9d;}
				}
			}
			.price-area{ width: 20%; text-align: right; display: flex; justify-content:space-between; align-items: center;    display: block !important;
				p{ font-size: 20px; font-weight: 700; margin-bottom: 0px; color: #f08c2e;
					span{ display: block; font-size: 13px; color: #9d9d9d;}
				}
			}

			.flight-single-bottom{justify-content: space-between;
				.airline-title label{margin-bottom: 0;}
				.flight-details-btn{ display: flex; justify-content: center; align-items: center;
					button{color: #f08c2e;font-size: 14px;font-weight: 400; padding: 0;line-height: normal;
						img{max-width: 13px; margin-top: -3px;}
						.mat-button-ripple, .mat-button-focus-overlay{display: none;}
					}
				}
			}

			.flight-details2{ position: relative; opacity: 0; visibility: hidden; display: none; transition-timing-function: ease-in; transition-duration: .3s; transition-property: height , visibility ;
				.f-timing{margin-top: 10px; margin-bottom: 10px;  font-weight: 500;}
				.btn-cancel{ position: absolute; right: 0; top: 12px; background: transparent; color: #555555; cursor: pointer; z-index: 11; }
				hr{margin-bottom: 0px;}
				.mat-ink-bar{background: #f08c2e !important;}
				.mat-tab-label-active{color: #f08c2e !important; opacity: 1;}
				
				.flight_info{ justify-content: space-between; align-items: center;
					div{text-align: center;
						p.time{ font-size: 20px; font-weight: 700; color: #555555;}					
					}
				}
	
				.break-details{ position: relative; text-align: center; margin: 15px 0px;
					&:before{ position: absolute; content: ""; width: 100%; height: 1px; background: rgba(93, 93, 93, 0.34); left: 0; top: 11px;    z-index: -1;}
					p{ font-size: 16px; color: #f08c2e;    background: #fff; padding: 0 15px; }
				}
	
				.baggage-info{ 
					.baggage-tab-main{ margin-top: 15px;
						.baggage-left{ max-width: 190px; width: 100%; }
						.baggage-right{ width: 100%;
							.heading{ font-size: 14px; font-weight: 700; margin-bottom: 15px;color: #5d5d5d;}
							& > div{max-width: 190px; width: 100%; color: #8c8c8c;
								div{margin-bottom: 10px;}
							}						
						}
						.airlines-area{width: 100%;
							.airline-title{margin-top:5px;}
						}
					}
				}
				.fare-summary-tab{
					.heading { padding: 10px !important; background: #ebebeb; font-weight: 700;}
					.title{padding-bottom: 5px;}
					.summary-left{ margin-top: 10px;
						.fare-breakup-info{
							justify-content: space-between;
							border: 1px solid rgba(51, 51, 51, 0.23);
							padding-bottom: 2px;
							.title{margin-bottom: 10px;}
							.type-area { width: 40%; }
							.fare-info {width: 40%;}
							.total-info {width: 20%;text-align: right;}
							.type-area div, .fare-info div, .total-info div{padding: 5px;}
						}
						.grand-total{ padding: 10px; border:  1px solid rgba(51, 51, 51, 0.23); border-top: 0px; justify-content: space-between;
							.title{margin-bottom: 0px;}
							p{margin-bottom: 0px; color: #f08c2e; font-size: 16px; font-weight: 500; }
						}
					}
					.summary-right{margin-top: 10px;
						.rule-area { border: 1px solid rgba(51, 51, 51, 0.23);}
						.airlines-area{ width: auto; margin: 10px;}
						p{margin: 0 10px 10px;}
						.cancelation-note{padding: 10px; border:  1px solid rgba(51, 51, 51, 0.23); border-top: 0px; color: #f08c2e; font-size: 13px;
						}
					}
				}
			}
			.show-details{ opacity: 1; visibility: visible; display: block; display: block; transition-timing-function: ease-in; transition-duration: .3s; transition-property: height , visibility , opacity ;}
	
			
		}
		.mobile-sorted-menu{
			display: none;
		}
	}
	

	
// Search result selected items css

	.search-result-selected-items{ position: sticky; bottom: 0; width: 100%; margin-top: 50px; margin-bottom: -25px; background: #fff; z-index: 111;
		.flight-result-single-item { justify-content: space-between; padding: 15px; padding-bottom: 0px; background: #fff; border-right: 1px solid rgba(51, 51, 51, 0.12);
			.airlines-area{ align-items: center; padding-top: 15px;
				p{ margin-bottom: 0px; color: #5d5d5d;
					span{display: block;}
				}
				.airline-title {margin-top: 15px;}
			}
			.timing-area{justify-content: center; align-items: center;
				div{ width: 100px; text-align: center;
					p{margin-bottom: 0px;}
				}
				.departure-time{
					p.time{ font-size: 20px; color: #5d5d5d; font-weight: 700; color: #8b8383; }
					p.place{ font-size: 13px; color: #9d9d9d; }
				}
				.arrival-time{
					p.arrival{ font-size: 20px; color: #5d5d5d; font-weight: 700; color: #8b8383; }
					p.place{ font-size: 13px; color: #9d9d9d; }
				}
			}
			.price-area{ text-align: center; display: flex; justify-content:space-between; align-items: center;
				p{ font-size: 20px; font-weight: 700; margin-bottom: 0px;
					span{ display: block; font-size: 13px; color: #9d9d9d; }
				}
			}
		}
		.item-title{ padding-left: 15px; padding-top: 10px; padding-bottom: 10px; border-right: 1px solid rgba(51, 51, 51, 0.12);
			p{color: #5d5d5d;}
		}
		.book-btn-area{padding: 15px;
			.price-total{
				p{ font-size: 25px; color: #f08c2e; font-weight: 700; }
			}
			button{text-transform: uppercase;}
		}
	}
	.price-sort-menu button{margin-right: 0 !important;}

	@media screen and (max-width:1399px){
		.flight-details2{
			.mat-tab-label{padding: 0 10px; min-width: auto;}
		}
	}
	@media screen and (max-width:1199px){
		.search-result-selected-items {
			.flight-result-single-item{padding-left: 10px; padding-right: 10px;
				.airlines-area{width: 35%;}
				.timing-area{width: 70%;}
			}
			.book-btn-area{padding: 5px 0 5px 5px;}			
		}
	}
	@media screen and (max-width:991px){

		.sorted-menu-area{justify-content: flex-end!important;
			.airlines-heading{display: none;}
			button{padding: 0 10px; font-size: 11px; line-height: 20px;
				.material-icons{font-size: 13px;}
			}
		}
		&.flight-search-result-area{
			.flight-single {
				> div{justify-content: space-between!important;}
				.timing-area{flex: 1 1 auto!important;
					.departure-time, .arrival-time{
						p.time, p.arrival{font-size: 16px;}
						p.place{font-size: 11px;}
					}		
					.flight-duration{
						p{font-size: 11px;}
						.icon-area{line-height: 10px;}
					}			
				}
				.airlines-area{width: 30px;display: flex!important;}
				.price-area{
					p{font-size: 16px;
						span{font-size: 11px; font-weight: normal; color: #666;}
					}
				}
				.flight-single-bottom {margin-top: 5px;
					.flight-details-btn button{    font-size: 12px;
						img{max-width: 11px;}
					}
				}
			}
		}
		.search-result-selected-items {
			.single-selected-item{
				.item-title{font-size: 13px;}
				&:first-child{
					.item-title{padding-left: 0;}
					.flight-result-single-item{padding-left: 0;}
				}
			}
			.flight-result-single-item{padding-left: 10px; padding-right: 10px;
				
				.airlines-area{width: 25px;}
				.timing-area{width: auto; min-width: 196px;
					> div{width: 33.3333%;
						.icon-area{width: 100%;}
					}
					p{font-size: 11px !important;}
					p.time, p.arrival{font-size: 15px !important;}
				}
				.price-area p{    font-size: 15px;    text-align: right;
					span{font-weight: normal;    font-size: 10px; color: #666;}
				}
			}
			.book-btn-area{padding: 5px 0 5px 5px;
				.price-total p{font-size: 18px;}
			}			
		}

		&.flight-search-result-area .flight-single{
			.flight-details2{
				.mat-tab-label{padding: 0 6px; min-width: auto; font-size: 12px;}		
				.f-timing{font-size: 13px; margin-bottom: 10px;}
				.flight_info {
					.departure-details, .arrival-details, .duration-details{
						p.time{font-size: 16px;}
						p{font-size: 11px;}
						.icon-area{width: 50px; margin-top: -5px;}
					} 
				}
				.break-details p{font-size: 13px;}
				.baggage-info .baggage-tab-main {
					.baggage-left{max-width: 85px; margin-top: 5px;
						.airlines-area{display: block !important;
							.img-area{width: 30px;}
						}
						.airline-title{font-size: 12px;
							span{white-space: nowrap; display: block;}
						}
					}
					.baggage-right .heading{    margin-bottom: 7px; font-size: 12px;}
					
					> div div{margin-bottom: 4px;    }
				}
				.fare-summary-tab {
					.summary-left{margin-top: 0px;
						.grand-total{padding: 6px 6px 0px 6px;}
					}
					.summary-right{
						.airlines-area{display: flex!important;
							.img-area{width: 30px;}
							.airline-title{font-size: 13px; /*margin-top: 10px;*/
								p{margin-bottom: 0;}
								span{display: inline; white-space: normal;}
							}
						}
					}
				}
			}
		}

	}

	@media screen and (max-width:767px){
		.flight-details2{ width: 100%; background: #fff; position: fixed !important; z-index: 9; left: 0; top: 65px; height: calc(100% - 110px); padding: 0px 15px 10px 15px; overflow-y: scroll; 
			> hr{display: none;}
		}

		.sorted-menu-area{display: none !important;}
		.search-result-selected-items {box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.14);    position: fixed; margin: 0;
			.search-result-selected-items-inner {justify-content: space-between!important;
				.round-trip-fee .title{font-size: 13px; color: #555; line-height: normal; margin-top: 2px;}
				.round-trip-fee .price{font-size: 18px; color: #f28c2d; line-height: normal;}
			}
		}
		.mobile-flight-heading-info{ margin: 5px 0;
			.flight-date{margin-left: 5px; color: #666; font-size: 13px; margin-top: 2px;}
		}	
		.sp-l{padding-left: 5px;}
		.sp-r{padding-right: 5px;}
		&.flight-search-result-area{
			.flight-single { padding: 5px 7px; border-radius: 4px; margin-bottom: 10px;
				.airlines-area{width: auto; align-items: flex-start; margin-top: 3px;
					.img-area{width: 25px;margin-right: 10px;}
					.airline-title{margin-top: 3px; font-size: 13px;}
				}
				.price-area{width: 30%;}
				> div{position: relative; 
					&:first-child{height: 70px; margin-bottom: 20px;}
				}


				.timing-area{position: absolute; width: 100%;bottom: -15px;
					.departure-time, .arrival-time{
						p.time, p.arrival{font-size: 14px;}
						p.place{font-size: 10px;}
					}		
					.flight-duration{
						p{font-size: 10px;}
						.icon-area{line-height: 8px;}
					}			
				}
				.flight-single-bottom .airline-title{margin: 0;}
				.flight-single-bottom .airline-title{
					mat-radio-button {
						.mat-radio-outer-circle, .mat-radio-inner-circle{height: 15px; width: 15px;}
						.mat-radio-label-content{display: none;}
					}
				}
			}
		}
	}
	@media screen and (max-width:575px){
		.result-sort-menu{
			.col-sm-6{flex: 0 0 50%; max-width: 50%;
				.mobile-flight-heading-info {margin: 8px 0 5px 0;}
				.flight-info, .flight-date{font-size: 12px; margin-top: 0;}
			}
		}
		.sp-l, .sp-r{flex: 0 0 50%; max-width: 50%;}
		.rowmob{margin-right: -5px; margin-left: -5px;}
		.sp-l{padding-left: 3px; padding-right: 5px;}
		.sp-r{padding-right: 3px; padding-left: 5px;}

		&.flight-search-result-area{
			.flight-single { padding: 0px 4px;
				> div:first-child{    margin-bottom: 13px;}
				.airlines-area{
					.img-area{width: 16px;margin-right: 5px;}
					.airline-title{font-size: 10px; margin: 0;
						span{white-space: nowrap; display: block;}
					}
				}
				.timing-area{    bottom: -10px;}
				.price-area {    width: 45%;
					p{font-size: 14px;}
				}
				.flight-single-bottom .flight-details-btn button{    font-size: 11px;}
			}

		}					
	}
	@media screen and (max-width:380px){
		&.flight-search-result-area {
			.flight-single {
				> div:first-child{    height: 60px;margin-bottom: 15px;}
				.timing-area{
					.departure-time, .arrival-time{
						p.time, p.arrival{font-size: 14px;}
						p.place{font-size: 9px;line-height: 11px; display: none;}
					}		
					.flight-duration{
						p{    font-size: 10px; line-height: 10px;}
						.icon-area{line-height: 8px;}
					}	
				}
				.price-area p span{    font-size: 9px;}
				
			}
		}
	}
	@media screen and (max-width:330px){
		&.flight-search-result-area .flight-single .timing-area{    bottom: -16px;}
	}

}
/* End Round Trip */
/* End multi Trip */
.multi-trip-css{
	.result-sort-menu{margin: 15px 0 0 0;
		p{margin-bottom: 0px;}
		button.sort-btn{padding: 0;padding-right: 15px; width: 100px;
			.mat-button-ripple{display: none;}
			.mat-button-focus-overlay{display: none;}
			i{ position: absolute; font-size: 24px; top: 5px; color: #f08c2e;}
		}
		.airlines-heading{width: 31%; display: flex; align-items: center;}
		.timing-sort-menu{width: 49%; justify-content: space-between;}
		.price-sort-menu{ width: 20%; text-align: center;}
	}
	.flight-result-single-item { border-radius: 8px; background: #fff; box-shadow:0 3px 30px 0 rgba(0, 0, 0, 0.1); justify-content: space-between; border:1px solid rgba(240, 140, 46, 0.2); margin-bottom: 20px;

		.result-left-area{ position: relative; width: 80%;
			.single-trip{ position: relative; width: 100%; padding: 10px; border-right: 1px solid rgba(51, 51, 51, 0.12); border-bottom: 1px solid rgba(51, 51, 51, 0.12);
				&:last-child{border-bottom: 0;}
				.single-trip-header{justify-content: space-between;
					p{margin-bottom: 10px; font-weight: 600;}
					.flight-info p{color: #8a8787; font-weight: normal;}
				}
				.trip-info{justify-content: space-between;
					.trip-left-area{ width: 40%; justify-content: flex-start; align-items: center;
						.trip-number{width: 50px; margin-right: 15px;align-items: center;
							p{ font-size: 14px; color: #f08c2e; margin: 0; }
						}
						.icon-container img { max-width: 20px; width: 100%; }
						.airlines-area{
							.img-area{ margin-right: 15px; }
							p{ margin-bottom: 0px; color: #5d5d5d; 
								span{ display: block; } 
							}
						}
					}
					.timing-area{ width: 60%; justify-content: space-between; align-items: flex-start;
						div{text-align: center;
							p{margin-bottom: 0px;}
						}
						.departure-time{
							p.time{font-size: 20px;color: #666;font-weight: 700; }
							p.place{font-size: 13px; color: #9d9d9d; }
						}
						.flight-duration {
							.icon-area{ line-height: 10px;}
							.flight-type{font-size: 12px;}
						}
						.arrival-time{
							p.arrival{font-size: 20px;color: #666;font-weight: 700; }
							p.place{font-size: 13px; color: #9d9d9d; }
						}
					}
				}
			}
		}
		.result-right-area{ display: flex; flex-direction: column; justify-content: center; align-items: center; width: 20%;
			p.price{ font-size: 24px; color: #f08c2e; font-weight: 700; }
			button.btn-pr{ text-transform: uppercase; padding: 5px 25px; font-weight: 400; }
			button.flight-details-btn{ color: #f08c2e; font-size: 14px; font-weight: 400; padding: 0;
				img{max-width: 15px;}
				.mat-button-ripple{display: none;}
				.mat-button-focus-overlay{display: none;}
			}
		}
	}
	.single-flight-details{ position: relative; opacity: 0; visibility: hidden; display: none; transition-timing-function: ease-in; transition-duration: .3s; transition-property: height , visibility ; padding: 0 15px 15px 15px;
		.f-timing{margin-top: 10px; margin-bottom: 10px;  font-weight: 500;}
		.btn-cancel{ position: absolute; right: 5px; top: 12px; background: transparent; color: #555555; cursor: pointer; z-index: 11; }
		hr{margin-bottom: 0px;}
		.mat-ink-bar{background: #f08c2e !important;}
		.mat-tab-label-active{color: #f08c2e !important; opacity: 1;}
		.single-details-main-wrap{ justify-content: space-between; align-items: center;
			div{
				p{margin-bottom: 0px;}
				p.time{ font-size: 20px; font-weight: 700; color: #555555; }
				text-align: center;
			}
			.airlines-area {align-items: center;
				.img-area{margin-right: 15px;}
			}
		}
		.break-details{ position: relative; text-align: center; margin: 15px 0px;
			&:before{ position: absolute; content: ""; width: 100%; height: 1px; background: rgba(93, 93, 93, 0.34); left: 0; top: 11px;    z-index: -1;}
			p{ font-size: 16px; color: #f08c2e; background: #fff; padding: 0 15px; display: inline-block; margin: 0;}
		}
		.baggage-tab{
			.single-trip-baggege-info{padding: 0px 0 15px 0;border-bottom: solid 1px #e0e0e0;
				&:last-child{border: none;}
			}
			.airlines-area{align-items: center;
				.img-area{margin-right: 15px;}
			}
			.baggage-tab-main{/*padding-top: 15px;*/
				.baggage-tab-left-area{max-width: 190px; width: 100%;}
				.baggage-tab-right-area{width: 100%;
					.heading{ font-size: 14px; font-weight: 700; margin-bottom: 15px;
						span{color: #5d5d5d;}
					}
					span{color: #8c8c8c;}
					.baggage-info{ max-width: 190px; width: 100%;
						.adult-title{
							span{ display: block; margin-bottom: 10px; }
						}
					}
					.check-in-info{ max-width: 190px; width: 100%;
						.check-in-weight-adult{
							span{ display: block; margin-bottom: 10px; }
						}
					}
					.cabin-info{ max-width: 190px; width: 100%;
						.cabin-in-weight-adult{ display: block; margin-bottom: 10px; }
					}
				}
				.airlines-area{width: 100%; 
					p{margin: 0;}
				}
			}
		}
		.fare-summary-tab{padding-top: 15px;
			.pl-10{padding-left: 10px;}
			.pt-top{padding-top: 5px;}
			.pr-10{padding-right: 10px;}
			.title{margin-bottom: 10px;}
			.fare-heading{justify-content: space-between;}
			.trip-index { padding: 8px 10px; background: #f8f8f8; border-top:1px solid rgba(51, 51, 51, 0.12941176470588237); border-bottom:1px solid rgba(51, 51, 51, 0.12941176470588237); margin-bottom: 5px;
				.icon-container{
					img{ max-width: 15px; widows: 100%; margin-right: 5px; }
				}
				p{ margin-bottom: 0px; color: #f08c2e; }
			}
			.heading{ padding: 10px; background: #ebebeb; font-weight: 500; width: 100%;;
				span{color: #383737;}
			}
			.fare-summary-left-area{ 
				p{margin: 0;}
				.fare-breakup-info{
					justify-content: space-between;
					border: 1px solid rgba(51, 51, 51, 0.23);
					padding-bottom: 2px;
					.title{margin-bottom: 10px;}
					.type-area { width: 40%; }
					.fare-info {width: 40%;}
					.total-info {width: 20%;text-align: right;}
					.type-area div, .fare-info div, .total-info div{padding: 5px;}
				}
				.grand-total{ padding: 10px; border:  1px solid rgba(51, 51, 51, 0.23); border-top: 0px; justify-content: space-between;
					.title{margin-bottom: 0px;}
					p{margin-bottom: 0px; color: #f08c2e; font-size: 16px; font-weight: 500; }
				}
			}
			.fare-summary-right-area{
				.rule-area { border: 1px solid rgba(51, 51, 51, 0.23137254901960785); border-bottom: 0;
					.single-trip-area { padding-bottom: 2px; border-bottom: 1px solid #3333; }
				}
				.airlines-area{ width: auto; padding-left: 10px; padding-top: 10px; margin-bottom: 5px; align-items: center;
					.img-area{ margin-right: 15px; }
					p{ margin: 0;
						span{display: inline-block;}
					}
				}
				p{margin-bottom: 5px;}
				.cancelation-note{ padding: 10px; border:  1px solid rgba(51, 51, 51, 0.23137254901960785); border-top: 0;
					p{ margin-bottom: 0px; color: #f08c2e; font-size: 13px; }
				}
			}
		}
	}
	.show-details{ opacity: 1; visibility: visible; display: block; display: block; transition-timing-function: ease-in; transition-duration: .3s; transition-property: height , visibility , opacity ;}
	
	@media screen and (min-width:768px) and (max-width:991px){
		.flight-result-single-item {
			.result-left-area .single-trip{
				.trip-info {
					.trip-left-area{
						.trip-number{    width: 35px; margin-right: 20px;
							p {font-size: 13px;}
						}			
						.airlines-area{     align-items: center;
							.img-area{width: 30px; margin-right: 10px;}
							.airline-title p{font-size: 12px;}
						}		
					}
					.timing-area{
						.departure-time p.time, .arrival-time p.arrival{    font-size: 18px;}
					}
				}
			}
			.single-flight-details{
				.fare-summary-tab > .row > div{
					&:first-child{padding-right: 5px;
						.trip-index{    padding: 3px 10px;}
						.fare-summary-left-area .grand-total{padding: 5px;}
					}
					&:last-child{padding-left: 5px;}
				}
			}

		}
	}

	@media screen and (max-width:767px){
		.result-sort-menu{
			.airlines-heading{width: 41%; display: flex; align-items: center;}
			.timing-sort-menu{width: 59%; justify-content: space-between;}
			.price-sort-menu{ display: none;}
		}

		.flight-result-single-item{
			.result-inner{display: block !important;
				.result-left-area{width: 100%;
					.single-trip{border-right:0;					
						.trip-info {
							.trip-left-area{
								.trip-number{    width: 35px; margin-right: 20px;
									p {font-size: 13px;}
								}			
								.airlines-area{     align-items: center;
									.img-area{width: 30px; margin-right: 10px;}
									.airline-title p{font-size: 12px;}
								}		
							}
							.timing-area{
								.departure-time p.time, .arrival-time p.arrival{    font-size: 18px;}
							}
						}
					}
				}
				.result-right-area{width: 100%; flex-direction: row-reverse ; justify-content: space-between; padding: 5px 10px 7px 10px;    border-top: 1px solid rgba(51, 51, 51, 0.12); padding-top: 5px;
					p.price{margin: 0; font-size: 20px;}
					button.btn-pr{line-height: 21px;}
				}	
			}
			.single-flight-details{
				.f-timing{font-size: 13px; margin-bottom: 10px;}
				.single-flight-info {
					.airlines-area{width: 40px; display: block !important;
						.img-area {margin-right: 0px; width: 30px;}
						.airline-title{font-size: 11px; margin-top: 5px;text-align: left; line-height: normal;
							.air-model{display: block;white-space: nowrap;}
						}
					}					
					.departure-details, .arrival-details, .duration-details{
						p.time{font-size: 18px;}
						p{font-size: 12px;}
						.icon-area{width: 50px; margin-top: -5px;}
					} 
				}
				.break-details p{font-size: 14px;}
				.baggage-tab .single-trip-baggege-info{padding: 0;}
				.baggage-tab .single-trip-baggege-info .baggage-tab-main {
					.baggage-tab-left-area{max-width: 70px; margin-top: 5px;
						.airlines-area .img-area{    width: 30px;}
						.airline-title{font-size: 11px;
							.air-model{display: block; white-space: nowrap;}
						}
					}
					.baggage-tab-right-area .heading{    margin-bottom: 7px;}
					> div div{margin-bottom: 4px; display: block !important;}


				}
				.fare-summary-tab {
					.summary-left{margin-top: 0px;
						.grand-total{padding: 6px 6px 0px 6px;}
					}
					.summary-right{
						.airlines-area{display: flex!important;
							.airline-title{font-size: 13px; margin-top: 10px;}
						}
					}
				}
			}
		}

	}
	@media screen and (max-width:575px){
		.sorted-menu-area{display: none !important;}
		.flight-result-single-item{
			.result-inner{display: block !important;
				.result-left-area{width: 100%;
					.single-trip{padding-bottom: 25px;
						.single-trip-header {
							.flight-title{margin-left: 60px; 
								p{font-size: 12px; font-weight: normal; color: #444;}
							}
							.flight-info{position: absolute; bottom: 8px;
								p{margin: 0; font-size: 12px;}
							}
						}
						.trip-info .trip-left-area {align-items: flex-start !important; /*width: 125px;*/
							.trip-number{position: absolute; margin: 0; top: 8px; display: flex; width: 60px;
								.icon-container img{max-width: 14px; margin-right: 5px;}
							}
							.airlines-area {
								.img-area{    width: 20px;}
								.airline-title p{font-size: 11px;}
							}
						}
						.timing-area{width: 100%;
							.departure-time p.time, .arrival-time p.arrival{font-size: 15px !important; color: #222;}
							.departure-time p.place, .arrival-time p.place{font-size: 11px}
							.flight-duration {
								.duration-time{font-size: 11px;}
								.flight-type{font-size: 11px;}
							}
						}
					}
				}
				.result-right-area .btn-pr {display: none;}
			}
			.single-flight-details{padding: 0 10px 15px 10px;
				hr{margin-top: 7px;}
				> hr{margin: 0;}
				.btn-cancel{right: 5px; top: 9px;
					i{height: 18px; width: 18px; font-size: 18px;}
				}				
				.mat-tab-label{padding: 0 5px;font-size: 12px; height: 35px;}	
				.single-flight-info {					
					.departure-details, .arrival-details, .duration-details{
						p.time{font-size: 16px;}
						p{font-size: 11px;}
						.icon-area{width: 50px; margin-top: -5px;}
					} 
				}

				.baggage-tab-right-area{
					div, > div.heading {font-size: 12px !important;}
				}
				.fare-breakup-info {
					.heading{padding: 5px;}
					.trip-index{padding: 5px; margin: 0;}
					.type-area > div, .fare-info > div, .total-info > div{padding: 4px 5px !important; font-size: 13px !important;}

					& + .grand-total{padding: 5px; margin-bottom: 10px;}
				}
				.fare-summary-right-area, .summary-right{
					.heading{padding: 5px;}
					.rule-area{font-size: 12px;
						& + .cancelation-note{padding: 5px;}
					}
				}

			}
		}
	}

}
/* End multi Trip */
	.timeLoader{height: 72px; border-radius: 7px;overflow: hidden; margin-top: 20px;
		div.bg{border-right: solid #d8d6d6 1px;}
		div:first-child{width: 37px; background: #e6e5e5;border-right: solid #d8d6d6 1px;}
		div:last-child{width: 37px; background: #e6e5e5;}
	}

}









  
 
  .skeleton .avatar {
	float: left;
	width: 52px;
	height: 52px;
	background-color: #ccc;
	border-radius: 25%;
	margin: 8px;
	background-image: linear-gradient(90deg, #e6e5e5 0px, #ecebeb 40px, #e6e5e5 80px);
	background-size: 600px;
	animation: shine-avatar 1.6s infinite linear;
  }
  .skeleton .line {
	float: left;
	width: 140px;
	height: 16px;
	margin-top: 12px;
	border-radius: 7px;
	background-image: linear-gradient(90deg, #e6e5e5 0px, #ecebeb 40px, #e6e5e5 80px);
	background-size: 600px;
	animation: shine-lines 1.6s infinite linear;
  }
  .skeleton .bg{
	background-image: linear-gradient(90deg, #e6e5e5 0px, #ecebeb 40px, #e6e5e5 80px);
	background-size: 200px;
	animation: shine-lines 1.6s infinite linear;  
  }
  
  
  @keyframes shine-lines {
	0% {
	  background-position: -100px;
	}
	40%, 100% {
	  background-position: 140px;
	}
  }
  @keyframes shine-avatar {
	0% {
	  background-position: -32px;
	}
	40%, 100% {
	  background-position: 208px;
	}
  }
  