<div class="hotel-landing-main">
        <section class="header-banner">
            <div class="newContainer">
                <div class="header-user-menu">
                    <ul class="user-menu-main d-flex">
                        <li>
                            <button class="user-menu-item" routerLink="/flight/home">
                                <div class="icon-container">
                                    <img src="assets/img/business/flight.png" alt="menu-icon" class="menu-icon">
                                </div>
                                <div class="menu-text">
                                    <span>Flights</span>
                                </div>
                            </button>
                        </li>
                        <li>
                            <button class="user-menu-item" routerLink="/eat/home">
                                <div class="icon-container">
                                    <img src="assets/img/business/eat.png" alt="menu-icon" class="menu-icon">
                                </div>
                                <div class="menu-text">
                                    <span>Eat</span>
                                </div>
                            </button>
                        </li>
                        <li>
                            <button class="user-menu-item active" >
                                <div class="icon-container">
                                    <img src="assets/img/business/hotel.png" alt="menu-icon" class="menu-icon">
                                </div>
                                <div class="menu-text">
                                    <span>Hotel</span>
                                </div>
                            </button>
                        </li>
                        <li>
                            <button class="user-menu-item" >
                                <div class="icon-container">
                                    <img src="assets/img/business/taxi.png" alt="menu-icon" class="menu-icon">
                                </div>
                                <div class="menu-text">
                                    <span>Texi</span>
                                </div>
                            </button>
                        </li>
                        <li>
                            <button class="user-menu-item" >
                                <div class="icon-container">
                                    <img src="assets/img/business/coupon.png" alt="menu-icon" class="menu-icon">
                                </div>
                                <div class="menu-text">
                                    <span>Boucher</span>
                                </div>
                            </button>
                        </li>
                        <li>
                            <button class="user-menu-item" >
                                <div class="icon-container">
                                    <img src="assets/img/business/courier.png" alt="menu-icon" class="menu-icon">
                                </div>
                                <div class="menu-text">
                                    <span>Courier</span>
                                </div>
                            </button>
                        </li>
                        <li>
                            <button class="user-menu-item" >
                                <div class="icon-container">
                                    <img src="assets/img/business/bus.png" alt="menu-icon" class="menu-icon">
                                </div>
                                <div class="menu-text">
                                    <span>Bus</span>
                                </div>
                            </button>
                        </li>
                        <li>
                            <button class="user-menu-item" >
                                <div class="icon-container">
                                    <img src="assets/img/business/shop.png" alt="menu-icon" class="menu-icon">
                                </div>
                                <div class="menu-text">
                                    <span>Shop</span>
                                </div>
                            </button>
                        </li>
                        <li>
                            <button class="user-menu-item" >
                                <div class="icon-container">
                                    <img src="assets/img/business/more.png" alt="menu-icon" class="menu-icon">
                                </div>
                                <div class="menu-text">
                                    <span>More</span>
                                </div>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- Header User Menu End -->

        <!-- Main Search & Boking Start -->

        <section class="main-search-area hotel-booking-feild bg-mobile">
            <div class="newContainer">
                <div class="box-inner">
                    <div class="search-area">
                        <div class="label"><span>Destinition</span></div>
                        <div class="mainSearch">                             
                            <div class="searchLeft">                                
                                <div class="inputBox2">
                                    <input class="searchField" placeholder="Pickup current location" type="text" >                
                                    <!-- <mat-icon class="delete" style="right: 55px;">close</mat-icon> -->
                                    <mat-icon class="delete" >gps_fixed</mat-icon>
                                </div>                                                         
                            </div>  
                            <div class="rightBTN">
                                <button ion-button class="appBtn" ><mat-icon>search</mat-icon></button>
                            </div>        
                        </div>   
                      
                    </div>
                    <div class="hotel-booking-area">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 ">
                                <div class="hotel-booking-left-area">
                                    <div class="row">
                                        <div class="col-md-6 tw-50">
                                            <div class="check-in-area d-flex">
                                                <div class="night-count">
                                                    <i class="material-icons">
                                                        calendar_today
                                                    </i>
                                                    <span class="night-number">3</span>
                                                    <div class="night count-heading">Nights</div>
                                                </div>
                                                <div class="check-in-main m-mb">
                                                    <div class="label"><span>Check in</span></div>
                                                    <mat-form-field>
                                                        <input matInput [matDatepicker]="picker" placeholder="MM.DD.YY">
                                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                        <mat-datepicker #picker></mat-datepicker>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 tw-50">
                                            <div class="check-out-main">
                                                <div class="label"><span>Check Out</span></div>
                                                <mat-form-field>
                                                    <input matInput [matDatepicker]="picker2" placeholder="MM.DD.YY">
                                                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker2></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="hotel-booking-right-area">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="room-count m-mb">
                                                <div class="label"><span>Room</span></div>
                                                <mat-form-field>
                                                    <mat-select [(value)]="selected" placeholder="Delux Room">
                                                        <mat-option>None</mat-option>
                                                        <mat-option value="option1">Option 1</mat-option>
                                                        <mat-option value="option2">Option 2</mat-option>
                                                        <mat-option value="option3">Option 3</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="adult-count m-mb">
                                                <div class="label"><span>Adult</span></div>
                                                <mat-form-field>
                                                    <mat-select [(value)]="selected" placeholder="2">
                                                        <mat-option>None</mat-option>
                                                        <mat-option value="option3">Option 1</mat-option>
                                                        <mat-option value="option4">Option 2</mat-option>
                                                        <mat-option value="option5">Option 3</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                                <div class="label-bottom text-right"><span>Age +18</span></div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="children-count m-mb">
                                                <div class="label"><span>Children</span></div>
                                                <mat-form-field>
                                                    <mat-select [(value)]="selected" placeholder="4">
                                                        <mat-option>None</mat-option>
                                                        <mat-option value="option6">Option 1</mat-option>
                                                        <mat-option value="option7">Option 2</mat-option>
                                                        <mat-option value="option8">Option 3</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                                <div class="label-bottom text-right"><span>Age 0-17</span></div>
                                            </div>
                                        </div>     
                                    </div>
                                </div>

                                <!-- Room booking for mobile screen -->

                                <div class="mobile-booking-area">
                                    <div class="mobile-screen-booking-main">
                                        <div class="people-count-area">
                                            <p class="icon">
                                                <i class="material-icons">
                                                    person
                                                </i>
                                            </p>
                                            <p class="adult"><span class="adult-count">0</span>Adult</p>
                                            <p class="children"><span class="adult-count">0</span>Children</p>
                                            <p class="icon">
                                                <i class="material-icons">
                                                    expand_more
                                                </i>
                                            </p>
                                        </div>
                                        <div class="night-count-area">
                                            <p>
                                                <span class="night-number">3</span>
                                                Night(s)
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Advance Search Start -->

                    <div class="advance-search-area">
                        <div class="advance-search-main">
                            <mat-accordion>
                                <mat-expansion-panel>
                                  <mat-expansion-panel-header>
                                    <mat-panel-title>
                                      Advance Search Option
                                    </mat-panel-title>
                                    
                                  </mat-expansion-panel-header>
                              
                                  <div class="advance-search-content-area">
                                      <div class="row">
                                          <div class="col-md-3 col-sm-6">
                                              <div class="advance-search-single-box m-mb">
                                                    <div class="search-title">
                                                        <h4>
                                                            <strong>
                                                                $ Price (Per night)
                                                            </strong>
                                                        </h4>
                                                    </div>
                                                    <div class="search-checkbox-area">
                                                        <mat-checkbox class="example-margin">0.00	- 09.99</mat-checkbox>
                                                        <mat-checkbox class="example-margin">10.00  - 19.99</mat-checkbox>
                                                        <mat-checkbox class="example-margin">20.00  - 39,99</mat-checkbox>
                                                        <mat-checkbox class="example-margin">40.00  - 59.00</mat-checkbox>
                                                        <mat-checkbox class="example-margin">60.00 +</mat-checkbox>
                                                    </div>
                                              </div>
                                          </div>
                                          <div class="col-md-3 col-sm-6">
                                                <div class="advance-search-single-box m-mb">
                                                    <div class="search-title">
                                                        <h4>
                                                            <strong>
                                                                <span class="icon">
                                                                    <i class="material-icons">
                                                                        star
                                                                    </i>
                                                                </span>
                                                                <span class="rating-title">Rating (x)</span>
                                                            </strong>
                                                        </h4>
                                                    </div>
                                                    <div class="search-checkbox-area">
                                                        <mat-checkbox class="example-margin">1 Star</mat-checkbox>
                                                        <mat-checkbox class="example-margin">2 Star</mat-checkbox>
                                                        <mat-checkbox class="example-margin">3 Star</mat-checkbox>
                                                        <mat-checkbox class="example-margin">4 Star</mat-checkbox>
                                                        <mat-checkbox class="example-margin">5 Star</mat-checkbox>
                                                    </div>
                                                </div>
                                          </div>
                                          <div class="col-md-3 col-sm-6">
                                                <div class="advance-search-single-box m-mb{
                                                    margin-bottom: 15px;
                                                }">
                                                    <div class="search-title">
                                                        <h4>
                                                            <strong>
                                                                Guest Rating
                                                            </strong>
                                                        </h4>
                                                    </div>
                                                    <div class="search-checkbox-area">
                                                        <mat-checkbox class="example-margin">Superb</mat-checkbox>
                                                        <mat-checkbox class="example-margin">Very Good</mat-checkbox>
                                                        <mat-checkbox class="example-margin">Good</mat-checkbox>
                                                        <mat-checkbox class="example-margin">Average</mat-checkbox>
                                                        <mat-checkbox class="example-margin">No rating</mat-checkbox>
                                                    </div>
                                                </div>
                                          </div>
                                          <div class="col-md-3 col-sm-6">
                                                <div class="advance-search-single-box m-mb">
                                                    <div class="search-title">
                                                        <h4>
                                                            <strong>
                                                                Property Type
                                                            </strong>
                                                        </h4>
                                                    </div>
                                                    <div class="search-checkbox-area">
                                                        <mat-checkbox class="example-margin">Hotel</mat-checkbox>
                                                        <mat-checkbox class="example-margin">Apartments</mat-checkbox>
                                                        <mat-checkbox class="example-margin">Hostels</mat-checkbox>
                                                        <mat-checkbox class="example-margin">Motel</mat-checkbox>
                                                        <mat-checkbox class="example-margin">Bed and Breakfasts</mat-checkbox>
                                                    </div>
                                                </div>
                                          </div>
                                      </div>
                                      <div class="btn-reset">
                                            <button mat-button>
                                                <i class="material-icons">
                                                    refresh
                                                </i>
                                                Reset
                                            </button>
                                      </div>
                                  </div>
                                </mat-expansion-panel>
                              </mat-accordion>
                        </div>
                    </div>

                    <!-- Advance Search end -->

                    <div class="trending-searches-area">
                        <div class="trending-search-main">
                            <ul class="trending-menu">
                                <p class="title">Trending Searches:</p>
                                <li><a href="">Goa</a></li>
                                <li><a href="">Dubai</a></li>
                                <li><a href="">Singapore</a></li>
                                <li><a href="">Mumbay</a></li>
                                <li><a href="">Bangkok</a></li>
                                <li><a href="">London</a></li>
                                <li><a href="">Mossoorle</a></li>
                                <li><a href="">Shimla</a></li>
                                <li><a href="">Nainital</a></li>
                                <li><a href="">New Delhi</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="search-btn-area">
                        <button mat-button routerLink="/hotel/search">Search</button>
                    </div>
                </div>
            </div>
        </section>

         <!-- Main Search & Boking End -->


         <!-- Flash Sale area start -->

        <section class="flash-sale-area bg-mobile">
                <div class="container position-relative">
                    <div class="section-heading">
                        <div class="heading-text">
                            <h3>Flash Sales</h3>
                            <span class="heading-separator"></span>
                        </div>
                    </div>
                    <!-- <swiper [config]="config" [(index)]="index"></swiper> -->
                    <div class="flash-sales-main swiper-container" >
                        <swiper [config]="config" class="swiper-wrapper">
                            <div class="sales-single-item slider-single-item swiper-slide">
                                <div class="icon-container">
                                    <img src="assets/img/business/taxi.png" alt="">
                                </div>
                                <div class="sales-heading">
                                    <h4>
                                        Free Taxi
                                    </h4>
                                </div>
                                <div class="sales-description">
                                    <span>Up to $1.20</span>
                                </div>
                            </div>
                            <div class="sales-single-item slider-single-item swiper-slide">
                                <div class="icon-container">
                                    <img src="assets/img/business/eat.png" alt="">
                                </div>
                                <div class="sales-heading">
                                    <h4>
                                        50% Discount
                                    </h4>
                                </div>
                                <div class="sales-description">
                                    <span>Up to $0.50</span>
                                </div>
                            </div>
                            <div class="sales-single-item slider-single-item swiper-slide">
                                <div class="icon-container">
                                    <img src="assets/img/business/courier.png" alt="">
                                </div>
                                <div class="sales-heading">
                                    <h4>
                                        50% cashback
                                    </h4>
                                </div>
                                <div class="sales-description">
                                    <span>925 per package</span>
                                </div>
                            </div>
                            <div class="sales-single-item slider-single-item swiper-slide">
                                <div class="icon-container">
                                    <img src="assets/img/business/flight.png" alt="">
                                </div>
                                <div class="sales-heading">
                                    <h4>
                                        @ Rs.1000* OFF
                                    </h4>
                                </div>
                                <div class="sales-description">
                                    <span>SpiceJet business class</span>
                                </div>
                            </div>
                            <div class="sales-single-item slider-single-item swiper-slide">
                                <div class="icon-container">
                                    <img src="assets/img/business/eat.png" alt="">
                                </div>
                                <div class="sales-heading">
                                    <h4>
                                        50% Discount
                                    </h4>
                                </div>
                                <div class="sales-description">
                                    <span>Up to $0.50</span>
                                </div>
                            </div>
                            <div class="sales-single-item slider-single-item swiper-slide">
                                <div class="icon-container">
                                    <img src="assets/img/business/courier.png" alt="">
                                </div>
                                <div class="sales-heading">
                                    <h4>
                                        50% cashback
                                    </h4>
                                </div>
                                <div class="sales-description">
                                    <span>925 per package</span>
                                </div>
                            </div>
                        </swiper>
                        <div class="swiper-pagination1"></div>
                    </div>
                    <!-- Main swipe slider end -->   
                    <!-- Swipe Arrows -->
                    <div class="swiper-button-next1">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                    </div>
                    <div class="swiper-button-prev1">
                        <mat-icon>keyboard_arrow_left</mat-icon>
                    </div>
                </div>
            </section>
    
            <!--  Flash Sale area End -->
    
            <!-- Recent Activity Area start -->
    
            <section class="recent-activity-area bg-mobile">
                <div class="container position-relative">
                    <div class="section-heading">
                        <div class="heading-text">
                            <h3>recent activities</h3>
                            <span class="heading-separator"></span>
                        </div>
                    </div>
                    <div class="recent-activity-main activity-slider swiper-container"  id="acitivty-slider">
                        <swiper [config]="config2" class="swiper-wrapper">
                            <div class="activity-single-item slider-single-item swiper-slide">
                                <div class="activity-slider-inner">
                                    <div class="activity-top-area d-flex">
                                        <div class="activity-tag">
                                            <span>
                                                Round trip
                                            </span>
                                        </div>
                                        <div class="icon-container">
                                            <img src="assets/img/business/flight.png" alt="">
                                        </div>
                                    </div>
                                    <div class="activity-details-area d-flex">
                                        <div class="title-left-area">
                                            <h4>Delhi</h4>
                                            <span class="date">01-Jul-2019</span>
                                        </div>
                                        <div class="details-icon-area">
                                            <i class="material-icons">
                                                sync_alt
                                            </i>
                                        </div>
                                        <div class="title-right-area">
                                            <h4>Bengaluru</h4>
                                        </div>
                                    </div>
                                    <div class="activity-bottom-area d-flex">
                                        <div class="amount-details">
                                            <p class="amount">Amount: £ <span>24.50</span></p>
                                        </div>
                                        <div class="activity-btn-area">
                                            <a href="" class="btn-activity">Show Result</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="activity-single-item slider-single-item swiper-slide">
                                <div class="activity-slider-inner">
                                    <div class="activity-top-area d-flex">
                                        <div class="activity-tag">
                                            <span>
                                                Car
                                            </span>
                                        </div>
                                        <div class="icon-container">
                                            <img src="assets/img/business/taxi.png" alt="">
                                        </div>
                                    </div>
                                    <div class="activity-details-area d-flex">
                                        <div class="title-left-area">
                                            <h4>Mumbai</h4>
                                            <span class="date">01-Jul-2019</span>
                                        </div>
                                        <div class="details-icon-area">
                                            <i class="material-icons">
                                                trending_flat
                                            </i>
                                        </div>
                                        <div class="title-right-area">
                                            <h4>Bengaluru</h4>
                                        </div>
                                    </div>
                                    <div class="activity-bottom-area d-flex">
                                        <div class="amount-details">
                                            <p class="amount">Amount: £ <span>24.50</span></p>
                                        </div>
                                        <div class="activity-btn-area">
                                            <a href="" class="btn-activity">Show Result</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="activity-single-item slider-single-item swiper-slide">
                                <div class="activity-slider-inner">
                                    <div class="activity-top-area d-flex">
                                        <div class="activity-tag">
                                            <span>
                                                Eat
                                            </span>
                                        </div>
                                        <div class="icon-container">
                                            <img src="assets/img/business/eat.png" alt="">
                                        </div>
                                    </div>
                                    <div class="activity-details-area d-flex restaurent">
                                        <div class="title-left-area">
                                            <h4>Taste of India</h4>
                                            <span class="date">01-Jul-2019</span>
                                        </div>
                                    </div>
                                    <div class="activity-bottom-area d-flex">
                                        <div class="amount-details">
                                            <p class="amount">Amount: £ <span>24.50</span></p>
                                        </div>
                                        <div class="activity-btn-area">
                                            <a href="" class="btn-activity">Order Again</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="activity-single-item slider-single-item swiper-slide">
                                <div class="activity-slider-inner">
                                    <div class="activity-top-area d-flex">
                                        <div class="activity-tag">
                                            <span>
                                                Car
                                            </span>
                                        </div>
                                        <div class="icon-container">
                                            <img src="assets/img/business/taxi.png" alt="">
                                        </div>
                                    </div>
                                    <div class="activity-details-area d-flex">
                                        <div class="title-left-area">
                                            <h4>Mumbai</h4>
                                            <span class="date">01-Jul-2019</span>
                                        </div>
                                        <div class="details-icon-area">
                                            <i class="material-icons">
                                                trending_flat
                                            </i>
                                        </div>
                                        <div class="title-right-area">
                                            <h4>Bengaluru</h4>
                                        </div>
                                    </div>
                                    <div class="activity-bottom-area d-flex">
                                        <div class="amount-details">
                                            <p class="amount">Amount: £ <span>24.50</span></p>
                                        </div>
                                        <div class="activity-btn-area">
                                            <a href="" class="btn-activity">Show Result</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="activity-single-item slider-single-item swiper-slide">
                                <div class="activity-slider-inner">
                                    <div class="activity-top-area d-flex">
                                        <div class="activity-tag">
                                            <span>
                                                Eat
                                            </span>
                                        </div>
                                        <div class="icon-container">
                                            <img src="assets/img/business/eat.png" alt="">
                                        </div>
                                    </div>
                                    <div class="activity-details-area d-flex restaurent">
                                        <div class="title-left-area">
                                            <h4>Taste of India</h4>
                                            <span class="date">01-Jul-2019</span>
                                        </div>
                                    </div>
                                    <div class="activity-bottom-area d-flex">
                                        <div class="amount-details">
                                            <p class="amount">Amount: £ <span>24.50</span></p>
                                        </div>
                                        <div class="activity-btn-area">
                                            <a href="" class="btn-activity">Order Again</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </swiper>
                        <div class="swiper-pagination2"></div>
                    </div>
                    <!-- Swipe Arrows -->
                    <div class="swiper-button-next-activity">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                    </div>
                    <div class="swiper-button-prev-activity">
                            <mat-icon>keyboard_arrow_left</mat-icon>
                    </div>
                </div>
            </section>
    
            <!-- Recent Activity Area Ends -->
    
            <!-- Top Deals Area Start -->
    
            <section class="top-deals-area bg-mobile">
                <div class="container">
                    <div class="section-heading">
                        <div class="heading-text">
                            <h3>Top Deals</h3>
                            <span class="heading-separator"></span>
                        </div>
                    </div>
                    <div class="top-deals-main top-deals-tab">
                        <mat-tab-group>
                            <mat-tab label="All">
                                <div class="tab-content">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="top-deals-single-item">
                                                <div class="deals-title-box d-flex">
                                                    <div class="title-text">
                                                        <h4 class="deal-title">
                                                            SpiceJet
                                                        </h4>
                                                        <p class="deal-text">
                                                            Get up to ₹1,000 Cashback on flight ticket booking,
                                                            No minimum order value.
                                                        </p>
                                                    </div>
                                                    <div class="deals-btn-area">
                                                        <a href="" class="btn-deals">Book Now</a>
                                                    </div>
                                                </div>
                                                <div class="tc-text text-right">
                                                    <span>
                                                        t&c Apply
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="top-deals-single-item">
                                                <div class="deals-title-box d-flex">
                                                    <div class="title-text">
                                                        <h4 class="deal-title">
                                                            Hotel 50% OFF
                                                        </h4>
                                                        <p class="deal-text">
                                                            Flat 53% Off + 50% Money Cashback on Room Bookings- Use Code- MYCDRP
                                                        </p>
                                                    </div>
                                                    <div class="deals-btn-area">
                                                        <a href="" class="btn-deals">Order Now</a>
                                                    </div>
                                                </div>
                                                <div class="tc-text text-right">
                                                    <span>
                                                        t&c Apply
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="top-deals-single-item">
                                                <div class="deals-title-box d-flex">
                                                    <div class="title-text">
                                                        <h4 class="deal-title">
                                                            Domestic flight offers
                                                        </h4>
                                                        <p class="deal-text">
                                                            Exclusive: Upto Rs. 800 Instant Discount on Domestic Flights
                                                        </p>
                                                    </div>
                                                    <div class="deals-btn-area">
                                                        <a href="" class="btn-deals">Book Now</a>
                                                    </div>
                                                </div>
                                                <div class="tc-text text-right">
                                                    <span>
                                                        t&c Apply
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="top-deals-single-item">
                                                <div class="deals-title-box d-flex">
                                                    <div class="title-text">
                                                        <h4 class="deal-title">
                                                            Taxi - 25% Cashback
                                                        </h4>
                                                        <p class="deal-text">
                                                            Get up to ₹1,000 Cashback on flight ticket booking,
                                                            No minimum order value
                                                        </p>
                                                    </div>
                                                    <div class="deals-btn-area">
                                                        <a href="" class="btn-deals">Book Now</a>
                                                    </div>
                                                </div>
                                                <div class="tc-text text-right">
                                                    <span>
                                                        t&c Apply
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="Flights">
                                <div class="tab-content">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="top-deals-single-item">
                                                <div class="deals-title-box d-flex">
                                                    <div class="title-text">
                                                        <h4 class="deal-title">
                                                            SpiceJet
                                                        </h4>
                                                        <p class="deal-text">
                                                            Get up to ₹1,000 Cashback on flight ticket booking,
                                                            No minimum order value.
                                                        </p>
                                                    </div>
                                                    <div class="deals-btn-area">
                                                        <a href="" class="btn-deals">Book Now</a>
                                                    </div>
                                                </div>
                                                <div class="tc-text text-right">
                                                    <span>
                                                        t&c Apply
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="top-deals-single-item">
                                                <div class="deals-title-box d-flex">
                                                    <div class="title-text">
                                                        <h4 class="deal-title">
                                                            Hotel 50% OFF
                                                        </h4>
                                                        <p class="deal-text">
                                                            Flat 53% Off + 50% Money Cashback on Room Bookings- Use Code- MYCDRP
                                                        </p>
                                                    </div>
                                                    <div class="deals-btn-area">
                                                        <a href="" class="btn-deals">Order Now</a>
                                                    </div>
                                                </div>
                                                <div class="tc-text text-right">
                                                    <span>
                                                        t&c Apply
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="top-deals-single-item">
                                                <div class="deals-title-box d-flex">
                                                    <div class="title-text">
                                                        <h4 class="deal-title">
                                                            Domestic flight offers
                                                        </h4>
                                                        <p class="deal-text">
                                                            Exclusive: Upto Rs. 800 Instant Discount on Domestic Flights
                                                        </p>
                                                    </div>
                                                    <div class="deals-btn-area">
                                                        <a href="" class="btn-deals">Book Now</a>
                                                    </div>
                                                </div>
                                                <div class="tc-text text-right">
                                                    <span>
                                                        t&c Apply
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="top-deals-single-item">
                                                <div class="deals-title-box d-flex">
                                                    <div class="title-text">
                                                        <h4 class="deal-title">
                                                            Taxi - 25% Cashback
                                                        </h4>
                                                        <p class="deal-text">
                                                            Get up to ₹1,000 Cashback on flight ticket booking,
                                                            No minimum order value
                                                        </p>
                                                    </div>
                                                    <div class="deals-btn-area">
                                                        <a href="" class="btn-deals">Book Now</a>
                                                    </div>
                                                </div>
                                                <div class="tc-text text-right">
                                                    <span>
                                                        t&c Apply
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="Hotels ">
                                <div class="tab-content">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="top-deals-single-item">
                                                <div class="deals-title-box d-flex">
                                                    <div class="title-text">
                                                        <h4 class="deal-title">
                                                            SpiceJet
                                                        </h4>
                                                        <p class="deal-text">
                                                            Get up to ₹1,000 Cashback on flight ticket booking,
                                                            No minimum order value.
                                                        </p>
                                                    </div>
                                                    <div class="deals-btn-area">
                                                        <a href="" class="btn-deals">Book Now</a>
                                                    </div>
                                                </div>
                                                <div class="tc-text text-right">
                                                    <span>
                                                        t&c Apply
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="top-deals-single-item">
                                                <div class="deals-title-box d-flex">
                                                    <div class="title-text">
                                                        <h4 class="deal-title">
                                                            Hotel 50% OFF
                                                        </h4>
                                                        <p class="deal-text">
                                                            Flat 53% Off + 50% Money Cashback on Room Bookings- Use Code- MYCDRP
                                                        </p>
                                                    </div>
                                                    <div class="deals-btn-area">
                                                        <a href="" class="btn-deals">Order Now</a>
                                                    </div>
                                                </div>
                                                <div class="tc-text text-right">
                                                    <span>
                                                        t&c Apply
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="top-deals-single-item">
                                                <div class="deals-title-box d-flex">
                                                    <div class="title-text">
                                                        <h4 class="deal-title">
                                                            Domestic flight offers
                                                        </h4>
                                                        <p class="deal-text">
                                                            Exclusive: Upto Rs. 800 Instant Discount on Domestic Flights
                                                        </p>
                                                    </div>
                                                    <div class="deals-btn-area">
                                                        <a href="" class="btn-deals">Book Now</a>
                                                    </div>
                                                </div>
                                                <div class="tc-text text-right">
                                                    <span>
                                                        t&c Apply
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="Shop ">
                                <div class="tab-content">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="top-deals-single-item">
                                                <div class="deals-title-box d-flex">
                                                    <div class="title-text">
                                                        <h4 class="deal-title">
                                                            SpiceJet
                                                        </h4>
                                                        <p class="deal-text">
                                                            Get up to ₹1,000 Cashback on flight ticket booking,
                                                            No minimum order value.
                                                        </p>
                                                    </div>
                                                    <div class="deals-btn-area">
                                                        <a href="" class="btn-deals">Book Now</a>
                                                    </div>
                                                </div>
                                                <div class="tc-text text-right">
                                                    <span>
                                                        t&c Apply
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="top-deals-single-item">
                                                <div class="deals-title-box d-flex">
                                                    <div class="title-text">
                                                        <h4 class="deal-title">
                                                            Hotel 50% OFF
                                                        </h4>
                                                        <p class="deal-text">
                                                            Flat 53% Off + 50% Money Cashback on Room Bookings- Use Code- MYCDRP
                                                        </p>
                                                    </div>
                                                    <div class="deals-btn-area">
                                                        <a href="" class="btn-deals">Order Now</a>
                                                    </div>
                                                </div>
                                                <div class="tc-text text-right">
                                                    <span>
                                                        t&c Apply
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="top-deals-single-item">
                                                <div class="deals-title-box d-flex">
                                                    <div class="title-text">
                                                        <h4 class="deal-title">
                                                            Domestic flight offers
                                                        </h4>
                                                        <p class="deal-text">
                                                            Exclusive: Upto Rs. 800 Instant Discount on Domestic Flights
                                                        </p>
                                                    </div>
                                                    <div class="deals-btn-area">
                                                        <a href="" class="btn-deals">Book Now</a>
                                                    </div>
                                                </div>
                                                <div class="tc-text text-right">
                                                    <span>
                                                        t&c Apply
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="Courier ">
                                <div class="tab-content">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="top-deals-single-item">
                                                <div class="deals-title-box d-flex">
                                                    <div class="title-text">
                                                        <h4 class="deal-title">
                                                            SpiceJet
                                                        </h4>
                                                        <p class="deal-text">
                                                            Get up to ₹1,000 Cashback on flight ticket booking,
                                                            No minimum order value.
                                                        </p>
                                                    </div>
                                                    <div class="deals-btn-area">
                                                        <a href="" class="btn-deals">Book Now</a>
                                                    </div>
                                                </div>
                                                <div class="tc-text text-right">
                                                    <span>
                                                        t&c Apply
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="top-deals-single-item">
                                                <div class="deals-title-box d-flex">
                                                    <div class="title-text">
                                                        <h4 class="deal-title">
                                                            Hotel 50% OFF
                                                        </h4>
                                                        <p class="deal-text">
                                                            Flat 53% Off + 50% Money Cashback on Room Bookings- Use Code- MYCDRP
                                                        </p>
                                                    </div>
                                                    <div class="deals-btn-area">
                                                        <a href="" class="btn-deals">Order Now</a>
                                                    </div>
                                                </div>
                                                <div class="tc-text text-right">
                                                    <span>
                                                        t&c Apply
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="top-deals-single-item">
                                                <div class="deals-title-box d-flex">
                                                    <div class="title-text">
                                                        <h4 class="deal-title">
                                                            Domestic flight offers
                                                        </h4>
                                                        <p class="deal-text">
                                                            Exclusive: Upto Rs. 800 Instant Discount on Domestic Flights
                                                        </p>
                                                    </div>
                                                    <div class="deals-btn-area">
                                                        <a href="" class="btn-deals">Book Now</a>
                                                    </div>
                                                </div>
                                                <div class="tc-text text-right">
                                                    <span>
                                                        t&c Apply
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="Bus">
                                <div class="tab-content">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="top-deals-single-item">
                                                <div class="deals-title-box d-flex">
                                                    <div class="title-text">
                                                        <h4 class="deal-title">
                                                            SpiceJet
                                                        </h4>
                                                        <p class="deal-text">
                                                            Get up to ₹1,000 Cashback on flight ticket booking,
                                                            No minimum order value.
                                                        </p>
                                                    </div>
                                                    <div class="deals-btn-area">
                                                        <a href="" class="btn-deals">Book Now</a>
                                                    </div>
                                                </div>
                                                <div class="tc-text text-right">
                                                    <span>
                                                        t&c Apply
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="top-deals-single-item">
                                                <div class="deals-title-box d-flex">
                                                    <div class="title-text">
                                                        <h4 class="deal-title">
                                                            Domestic flight offers
                                                        </h4>
                                                        <p class="deal-text">
                                                            Exclusive: Upto Rs. 800 Instant Discount on Domestic Flights
                                                        </p>
                                                    </div>
                                                    <div class="deals-btn-area">
                                                        <a href="" class="btn-deals">Book Now</a>
                                                    </div>
                                                </div>
                                                <div class="tc-text text-right">
                                                    <span>
                                                        t&c Apply
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="top-deals-single-item">
                                                <div class="deals-title-box d-flex">
                                                    <div class="title-text">
                                                        <h4 class="deal-title">
                                                            Taxi - 25% Cashback
                                                        </h4>
                                                        <p class="deal-text">
                                                            Get up to ₹1,000 Cashback on flight ticket booking,
                                                            No minimum order value
                                                        </p>
                                                    </div>
                                                    <div class="deals-btn-area">
                                                        <a href="" class="btn-deals">Book Now</a>
                                                    </div>
                                                </div>
                                                <div class="tc-text text-right">
                                                    <span>
                                                        t&c Apply
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="Taxi">
                                <div class="tab-content">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="top-deals-single-item">
                                                <div class="deals-title-box d-flex">
                                                    <div class="title-text">
                                                        <h4 class="deal-title">
                                                            Hotel 50% OFF
                                                        </h4>
                                                        <p class="deal-text">
                                                            Flat 53% Off + 50% Money Cashback on Room Bookings- Use Code- MYCDRP
                                                        </p>
                                                    </div>
                                                    <div class="deals-btn-area">
                                                        <a href="" class="btn-deals">Order Now</a>
                                                    </div>
                                                </div>
                                                <div class="tc-text text-right">
                                                    <span>
                                                        t&c Apply
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="top-deals-single-item">
                                                <div class="deals-title-box d-flex">
                                                    <div class="title-text">
                                                        <h4 class="deal-title">
                                                            Domestic flight offers
                                                        </h4>
                                                        <p class="deal-text">
                                                            Exclusive: Upto Rs. 800 Instant Discount on Domestic Flights
                                                        </p>
                                                    </div>
                                                    <div class="deals-btn-area">
                                                        <a href="" class="btn-deals">Book Now</a>
                                                    </div>
                                                </div>
                                                <div class="tc-text text-right">
                                                    <span>
                                                        t&c Apply
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="Voucher">
                                <div class="tab-content">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="top-deals-single-item">
                                                <div class="deals-title-box d-flex">
                                                    <div class="title-text">
                                                        <h4 class="deal-title">
                                                            SpiceJet
                                                        </h4>
                                                        <p class="deal-text">
                                                            Get up to ₹1,000 Cashback on flight ticket booking,
                                                            No minimum order value.
                                                        </p>
                                                    </div>
                                                    <div class="deals-btn-area">
                                                        <a href="" class="btn-deals">Book Now</a>
                                                    </div>
                                                </div>
                                                <div class="tc-text text-right">
                                                    <span>
                                                        t&c Apply
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="top-deals-single-item">
                                                <div class="deals-title-box d-flex">
                                                    <div class="title-text">
                                                        <h4 class="deal-title">
                                                            Hotel 50% OFF
                                                        </h4>
                                                        <p class="deal-text">
                                                            Flat 53% Off + 50% Money Cashback on Room Bookings- Use Code- MYCDRP
                                                        </p>
                                                    </div>
                                                    <div class="deals-btn-area">
                                                        <a href="" class="btn-deals">Order Now</a>
                                                    </div>
                                                </div>
                                                <div class="tc-text text-right">
                                                    <span>
                                                        t&c Apply
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="top-deals-single-item">
                                                <div class="deals-title-box d-flex">
                                                    <div class="title-text">
                                                        <h4 class="deal-title">
                                                            Domestic flight offers
                                                        </h4>
                                                        <p class="deal-text">
                                                            Exclusive: Upto Rs. 800 Instant Discount on Domestic Flights
                                                        </p>
                                                    </div>
                                                    <div class="deals-btn-area">
                                                        <a href="" class="btn-deals">Book Now</a>
                                                    </div>
                                                </div>
                                                <div class="tc-text text-right">
                                                    <span>
                                                        t&c Apply
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </div>
            </section>
    
            <!-- Top Deals Area Ends -->
    
    


    </div>
        



