
	// Common Css
	app-hotel-home{
	// .newContainer{
	// 	max-width: 1200px !important;
	// 	width: 100%;
	// }
	.label{
		margin-bottom: 5px;
		span{
			font-size: 16px;
			font-weight: 600;
		}
	}
	.section-heading {
		position: relative;
		text-align: center;
		margin-bottom: 50px;
		h3{
			font-size: 24px;
			font-weight: 600;
			color: #642782;
			text-transform: uppercase;
		}
		span.heading-separator{
			position: absolute;
			width: 65px;
			height: 2px;
			background: #f08c2e;
			margin: 0 auto;
			bottom: -15px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	

	// Header Banner Css
	section.header-banner {
		background: #652783;
		height: 380px;
		.header-user-menu {
			padding: 45px 0px;
			ul.user-menu-main{
				padding: 0px !important;
				max-width: 1015px;
				width: 100%;
				margin: 0 auto;
				justify-content: center;
				align-items: center;
				list-style: none;
				li{
					width: 105px;
					text-align: center;
				}
				button.user-menu-item {
					width: 65px;
					margin: 0 auto;
					background: transparent;
					padding: 0;
					.icon-container {
						width: 60px;
						height: 60px;
						margin: 0 auto;
						background: #fff;
						display: flex;
						justify-content: center;
						align-items: center;
						border-radius: 50%;
						margin-bottom: 10px;
						img{
							max-width: 35px;
						}
					}
					.menu-text{
						span{
							color: #fff;
							font-size: 16px;
						}
					}
					&.active{
						.menu-text{
							span{
								color: #f08c2e;
								font-weight: 700;
							}
						}
					}
				}
			}
		}
	}


	// Main-search-area

	section.main-search-area{
		.box-inner {
			position: relative;
			width: 100%;
			padding: 15px 40px;
			padding-bottom: 45px;
			background: #fff;
			box-shadow:0 3px 40px 0 rgba(0, 0, 0, 0.07);
			border-radius: 10px;
			margin-top: -200px;
			z-index: 1;
		}
		.search-area{
			max-width: 685px;
			width: 100%;
			margin: 0 auto;
			.mainSearch {
				position: relative;
				margin-bottom: 20px;
				width: 100%;
				display: flex;
				.searchLeft {
					width: 100%;
					.inputBox2 {
						position: relative;
						input {
							border-top: solid #c2c2c2 1px !important;
							border-bottom: solid #c2c2c2 1px !important;
							border-left: solid #c2c2c2 1px !important;
							border-top-left-radius: 5px;
							border-bottom-left-radius: 5px;
							background: #fff;
							position: relative;
							padding-left: 15px;						
							width: 100%;
							font-size: 15px;
							line-height: 24px;
							border: none;
							font-weight: 400;
							height: 52px;
							&:focus{outline: none;}
						}
						.delete {
							position: absolute;
							right: 10px;
							top: 15px;
							font-size: 23px;
							cursor: pointer;
							color: #b3b3b3;
						}
					}
				}
				.rightBTN {
					width: auto;
					.appBtn {
						background: transparent;
						border: solid #c2c2c2 1px;
						border-top-right-radius: 5px;
						border-bottom-right-radius: 5px;
						border-left: 0;
						padding-left: 1px;
						font-size: 20px;
						height: 52px;
						margin:0 !important;
						border-top-left-radius: 0px;
						border-bottom-left-radius: 0px;
						padding-right: 15px;
						padding-left: 10px;
						&:hover{
							background: transparent !important;
						}
						mat-icon{    color: #f08c2e;
							font-size: 28px;
							margin-top: 7px;}
					}
				}
			}
		}
		.hotel-booking-area{
			mat-form-field{
				border: 1px solid rgba(51, 51, 51, 0.2901960784313726);
				border-radius: 5px;
				padding: 8px 10px;
				height: 45px;
				width: 100%;
				&.mat-form-field-should-float{
					label{
						display: none;
					}
				}
				.mat-form-field-wrapper {
					padding-bottom: 0px;
					.mat-form-field-suffix{
						position: absolute; right: 0;
					}
					.mat-form-field-infix {
						border-top: 0px ;
						width: 100%;
					}
					span.mat-button-wrapper {
						font-size: 25px;
						color: #b1acac;
						
					}
					.mat-form-field-underline{
						display: none ;
					}
					// mat-datepicker-toggle.mat-datepicker-toggle {
					// 	position: absolute;
					// 	top: -2px;
					// 	right: 0;
					// }
				}
				
			}
			.label-bottom.text-right{
				span{
					font-size: 13px;
					color: #636363;
				}
			}
			.hotel-booking-left-area{
				.night-count {
					position: relative;
					width: auto;
					height: 60px;
					margin-top: 20px;
					margin-right: 10px;
					text-align: center;
					span{
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50% , -50%);
						color: #333;
						font-weight: 600;
						margin-top: -8px;
					}
					i.material-icons {
						font-size: 40px;
						color: rgba(51, 51, 51, 0.3411764705882353);
					}
				}
			}
			.mobile-booking-area{
				display: none;
			}
		}
		.advance-search-area{
			.advance-search-main{
				position: relative;
				mat-expansion-panel {
					box-shadow: none !important;
				}
				mat-expansion-panel-header{
					max-width: 245px !important;
					padding-left: 0px;
					mat-panel-title.mat-expansion-panel-header-title {
						font-size: 16px;
						color: #f08c2e;
					}
					span.mat-expansion-indicator.ng-tns-c5-9.ng-trigger.ng-trigger-indicatorRotate.ng-star-inserted {
						margin-top: -5px;
					}
					.mat-expansion-indicator::after, .mat-expansion-panel-header-description {
						color: #f08c2e !important;
					}
					&:hover{
						background: transparent !important;
					}
					span.mat-expansion-indicator{
						margin-top: -5px;
					}
				}
				.mat-expansion-panel-body{
					padding: 0px !important;
				}
				.advance-search-content-area{
					.advance-search-single-box{
						.search-title{
							margin-bottom: 20px;
							h4{
								font-size: 16px;
								span.icon{
									position: absolute;
    								top: -2px;
								}
								span.rating-title{
									margin-left: 25px;
								}
							}
						}
						.search-checkbox-area{
							mat-checkbox{
								display: block;
							}
						}
					}
				}
				.btn-reset {
					position: absolute;
					right: -15px;
					top: 15px;
					button{
						color: #f08c2e;
						font-size: 15px;
						font-weight: 400;
					}
				}
			}
		}
		
		.trending-searches-area{
			.trending-search-main{
				margin-top: 0px;
				ul{
					padding-left: 0 !important;
					list-style: none;
					display: block;
					margin-bottom: 0px !important;
					p.title {
						padding-right: 25px;
						padding-top: 5px;
						font-size: 14px;
						color: #979292;
						margin-bottom: 0px !important;
					}
					li{
						display: inline-block;
						margin-top: 10px;
						margin-right: 8px;
						a{
							width: 80px;
							height: 30px;
							display: flex;
							justify-content: center;
							align-items: center;
							font-size: 13px;
							color: #979292;
							border:1px solid rgba(177, 172, 172, 0.6588235294117647);
							border-radius: 3px;
						}
					}
				}
			}
		}
		.search-btn-area{
			position: absolute;
			left: 50%;
			bottom: -24px;
			transform: translateX(-50%);
			button{
				width: 165px;
				height: 50px;
				margin: 0 auto;
				color: #fff;
				font-size: 20px;
				background: #f08c2e;
				border-radius: 3px;
				text-transform: uppercase;
				box-shadow: 0px 0px 20px #00000029;
			}
		}
	}



	// Flash Sales CSs

	section.flash-sale-area {
		position: relative;
		padding-top: 65px;
		.newContainer{
			position: relative;
		}
		.flash-sales-main{
			position: relative;
			padding-bottom: 40px;
			.sales-single-item {
				display: block !important;
				position: relative;
				text-align: center;
				padding: 20px 0px;
				background: #fff;
				box-shadow: 0 15px 35px -15px rgba(0, 0, 0, 0.07);
				border: 1px solid rgba(51, 51, 51, 0.08);
				border-radius: 8px;
				transition: .3s;
				.icon-container{
					width: 49px;
					height: 49px;
					margin: 5px auto;;
				}
				.sales-heading{
					margin-bottom: 10px;
					h4{
						font-size: 20px;
						color: #f08c2e;
					}
				}
				.sales-description{
					span{
						font-size: 15px;
						color: #383838;
					}
				}
			}
			.swiper-pagination1 {
				display: none;
				.swiper-pagination-bullet-active{
					background: #f08c2e ;
				}
			}
		}
		.swiper-button-next1 {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 35px;
			height: 35px;
			right: -40px;
			top: 50%;
			background: #fff;
			background-image: none !important;
			border-radius: 50%;
			box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.07);
			margin-top: -5px !important;
			z-index: 11 !important;
			cursor: pointer ;
			mat-icon{color: #f08c2e;}
			&:focus{outline: none;}
		}
		.swiper-button-prev1 {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 35px;
			height: 35px;
			top: 50%;
			left: -40px;
			background: #fff !important;
			background-image: none !important;
			border-radius: 50%;
			box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.07);
			margin-top: -5px !important;
			z-index: 11 !important;
			cursor: pointer ;
			margin: auto;
			mat-icon{color: #f08c2e;}
			&:focus{outline: none;}
		}
	}


	
	// Recent-activity-area Css


	section.recent-activity-area{
		position: relative;
		.newContainer{
			position: relative;
		}
		.recent-activity-main{
			position: relative;
			padding-bottom: 40px;
			.activity-single-item{
				display: block;
				position: relative;
				padding: 15px;
				background: #fff;
				border-radius: 8px;
				box-shadow: 0 15px 35px -15px rgba(0, 0, 0, 0.07);
				border: 1px solid rgba(51, 51, 51, 0.08);
				.activity-slider-inner{
					h4{
						font-size: 16px;
						font-weight: 600;
						color: #642782;
					}
					.activity-top-area{
						justify-content: space-between;
						margin-bottom: 70px;
						.activity-tag{
							position: absolute;
							top: 0;
							left: 0;
							max-width: 95px;
							width: 100%;
							padding: 8px;
							background: rgba(240, 140, 46, 0.7607843137254902);
							border-top-left-radius: 8px;
							border-bottom-right-radius: 8px;
							span{
								display: block;
								font-size: 13px;
								color: #fff;
								font-weight: 700;
							}
						}
						.icon-container{
							position: absolute;
							right: 15px;
							top: 15px;
							width: 55px;
    						height: 55px;
							display: flex;
							justify-content: center;
							align-items: center;
							background: #fff;
							border-radius: 50%;
							box-shadow: 0px 0px 25px rgba(21, 19, 18, 0.12156862745098039);
							img{
								width: 30px;
							}
						}
					}
					.activity-details-area{
						justify-content: space-between;
						margin-bottom: 20px;
						.title-left-area{
							span.date{
								font-size: 14px;
								color: #737373
							}
						}
						.details-icon-area{
							margin-top: -5px;
							i{
								color: #f08c2e;
								border: 1px solid rgba(51, 51, 51, 0.18823529411764706);
								border-radius: 50%;
								font-size: 20px;
								padding: 3px;
							}
						}
						&.restaurent{
							justify-content: center;
							.title-left-area{
								text-align: center;
							}
						}

					}
					.activity-bottom-area{
						justify-content: space-between;
						p{
							color: #737373;
							font-size: 13px;
						}
						a{
							color: #f08c2e;
							position: relative;
							font-size: 14px;
							&:before{
								position: absolute;
								content: "";
								left: 0;
								bottom: -2px;
								width: 0;
								height: 1px;
								background: #f08c2e;
								transform-origin: left;
								transition:  .4s;
							}
							&:hover{
								&:before{
									width: 100%;
								}
							}
						}
					}
				}
			}
			.swiper-pagination2 {
				display: none;
				.swiper-pagination-bullet-active{
					background: #f08c2e ;
				}
			}
		}
		.swiper-button-next-activity {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 35px;
			height: 35px;
			right: -40px;
			top: 50%;
			background: #fff;
			background-image: none !important;
			border-radius: 50%;
			box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.07);
			margin-top: -5px !important;
			z-index: 11 !important;
			cursor: pointer;
			mat-icon{color: #f08c2e;}
			&:focus{outline: none;}
		}
		.swiper-button-prev-activity {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 35px;
			height: 35px;
			top: 50%;
			left: -40px;
			background: #fff !important;
			background-image: none !important;
			border-radius: 50%;
			box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.07);
			margin-top: -5px !important;
			z-index: 11 !important;
			cursor: pointer ;
			margin: auto;
			mat-icon{color: #f08c2e;}
			&:focus{outline: none;}
		}
	}


	// top deals area Css

	section.top-deals-area{
		.top-deals-main{
			min-height: 450px;
			.mat-tab-labels {
				display: flex;
				justify-content: center;
			}
			.mat-tab-label{
				min-width: 90px;
			}
			mat-tab-body{
				padding: 30px 0px;
				
			}
			.mat-tab-body-wrapper{
				overflow: initial !important;
				.mat-tab-body.mat-tab-body-active{
					overflow: inherit !important;
					.mat-tab-body-content{
						overflow: initial !important;
					}
				}
			}
			.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
				background: #f08c2e !important;
			}
			.mat-tab-label-active{
				.mat-tab-label-content{
					color: #f08c2e;
				}
			}
			.top-deals-single-item {
				padding: 20px;
				background: #fff;
				border: 1px solid #33333312;
				border-radius: 8px;
				margin-bottom: 20px;
				box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.05);
				.deals-title-box.d-flex {
					justify-content: space-between;
				}
				h4.deal-title{
					font-size: 20px;
					color: #642782;
					margin-bottom: 10px;
				}
				p.deal-text {
					font-size: 16px;
					color: #6f6f6f;
					max-width: 310px;
					width: 100%;
				}
				.deals-btn-area{
					a{
						position: relative;
						font-size: 15px;
						color: #f08c2e;
						&:before{
							position: absolute;
							content: "";
							left: 0;
							bottom: -2px;
							width: 0;
							height: 1px;
							background: #f08c2e;
							transform-origin: left;
							transition:  .4s;
						}
						&:hover{
							&:before{
								width: 100%;
							}
						}
					}
				}
				.tc-text{
					span{
						font-size: 12px;
						text-transform: uppercase;
						color: #a7a7a7;
					}
				}
			}
		}
	}






	//Tab Screen Css 

	@media screen and (max-width:990px){
		.search-btn-area{
			bottom: -22px !important;
		}
		.search-btn-area button{
			height: 45px !important;
		}
		.hotel-booking-area mat-form-field.mat-input-container .mat-form-field-wrapper .mat-form-field-infix{
			width: 225px !important;
		}
		.header-user-menu ul.user-menu-main{
			li{
				display: inline-block;
				margin-bottom: 10px;
				width: 67px !important;
				button{
					width: 52px !important;
					.icon-container{
						width: 48px !important;
						height: 48px !important;
						img{
							width: 30px;
						}
					}
					span{
						font-size: 13px !important;
						font-weight: 600;
					}
					&.active{
						span{
							color: #f08c2e !important;
						}
					}
				}
			}
		}
		section.main-search-area .box-inner{
			margin-top: -220px;
			padding: 15px 20px;
		}
		section.main-search-area .search-area .mainSearch{
			margin-bottom: 10px;
		}
		section.main-search-area .trending-searches-area .trending-search-main{
			margin-bottom: 25px;
		}
		.hotel-booking-left-area {
			margin-bottom: 10px;
		}
		section.flash-sale-area .flash-sales-main .sales-single-item{
			margin-bottom: 30px;
		}
		section.recent-activity-area .recent-activity-main .activity-single-item{
			margin-bottom: 30px;
		}
		section.top-deals-area {
			.mat-tab-label{
				min-width: 60px !important;
				padding: 0px 20px;
			}
			.mat-tab-header-pagination.mat-tab-header-pagination-before.mat-elevation-z4.mat-ripple{
				box-shadow: none !important;
			}
			.mat-tab-header-pagination.mat-tab-header-pagination-after.mat-elevation-z4.mat-ripple {
				box-shadow: none !important;
			}
			.top-deals-single-item h4.deal-title{
				font-size: 16px !important;
			}
			.top-deals-main .top-deals-single-item p.deal-text{
				font-size: 10px;
    			max-width: 200px;
			}
			.deals-btn-area a{
				font-size: 12px;
			}
			.top-deals-single-item .tc-text span{
				font-size: 10px !important;
			}
		}
	}

	// Mobile Screen Css

	@media screen and (max-width:767px) {
		.tw-50{
			flex: 0 50%;
		}
		.bg-mobile{
			background: #f7f7f7 !important;
		}
		.section-heading h3{
			font-size: 22px;
		}
		.col-sm-6{
			width: 50% !important;
		}
		.m-mb{
			margin-bottom: 15px;
		}
		section.header-banner{
			background: #fff;
			height: 115px;
			background-image:linear-gradient(0deg, #fbefe58a 5%, #fde8d5 100%);
			background-image: -webkit-linear-gradient(0deg, #fbefe58a 5%, #fde8d5 100%);
			background-image: -ms-linear-gradient(0deg, #fbefe58a 5%, #fde8d5 100%);
			background-image: -moz-linear-gradient(0deg, #fbefe58a 5%, #fde8d5 100%);
			background-image: -webkit-linear-gradient(0deg, #fbefe58a 5%, #fde8d5 100%);
			background-image: -ms-linear-gradient(0deg, #fbefe58a 5%, #fde8d5 100%);
			.header-user-menu{
				overflow: auto;
				padding: 15px 0px;
				ul.user-menu-main{
					justify-content: flex-start;
					width: 700px;
					overflow: visible;
					li{
						display: inline-block;
						margin-bottom: 10px;
						width: 67px !important;
						button{
							width: 52px !important;
							.icon-container{
								width: 48px !important;
								height: 48px !important;
								box-shadow: 0px 0px 25px #00000017 !important;
								border: 1px solid #3333332b;
								img{
									width: 30px;
								}
							}
							span{
								font-size: 13px !important;
								color: #5d5d5d !important;
								font-weight: 600;
							}
							&.active{
								span{
									color: #f08c2e !important;
								}
							}
						}
					}
				}
			}
		}
		section.main-search-area.hotel-booking-feild{
			padding-bottom: 75px;
			background: linear-gradient(0deg, #fdf6f08f 15%, #fdf6f0 100%) !important;
			background-image: -webkit-linear-gradient(0deg, #fdf6f08f 15%, #fdf6f0 100%) !important;
			background-image: -ms-linear-gradient(0deg, #fdf6f08f 15%, #fdf6f0 100%) !important;
			background-image: -moz-linear-gradient(0deg, #fdf6f08f 15%, #fdf6f0 100%) !important;
			background-image: -webkit-linear-gradient(0deg, #fdf6f08f 15%, #fdf6f0 100%) !important;
			background-image: -ms-linear-gradient(0deg, #fdf6f08f 15%, #fdf6f0 100%) !important;
			.box-inner{
				margin-top: 0px !important;
				padding: 10px 10px !important;
				background: transparent;
				box-shadow: none !important;
				.check-in-area.d-flex {
					display: block !important;
					background: #fff;
					.night-count {
						display: none;
					}
				}
				.mainSearch {
					background: #fff;
				}
				.rightBTN .appBtn{
					height: 52px;
				}
				.check-out-main{
					background: #fff;
					margin-left: 0px !important;
				}
				.advance-search-area {
					display: none;
				}
				.advance-search-single-box .search-title h4{
					font-size: 14px !important;
					i{
						font-size: 17px !important;
					}
					span.rating-title{
						margin-left: 20px !important;
					}
				}
				.advance-search-main .btn-reset{
					position: absolute;
					right: -10px;
					top: 5px;
				}
				.advance-search-main{
					.mat-expansion-panel{
						background: transparent !important;
					}
				}
				.hotel-booking-left-area{
					.label {
						position: absolute;
						left: 50%;
						transform: translateX(-50%);
						top: 3px;
						span{
							font-size: 14px !important;
						}
					}
					mat-form-field{
						height: 53px !important;
					}
					.mat-form-field-wrapper {
						max-width: 95px !important;
						margin: 0 auto;
						margin-top: 14px;
						span.mat-button-wrapper{
							font-size: 20px !important;
						}
					}
				}
				.hotel-booking-right-area{
					display:none;
				}
				.search-btn-area{
					margin-top: 15px !important;
				}
				.mobile-booking-area{
					display: block !important;
					margin-top: 20px;
					.mobile-screen-booking-main {
						display: flex;
						justify-content: space-between;
						border-bottom: 1px solid #7878788c;
					}
					.people-count-area {
						display: flex;
						p{
							font-size: 16px;
							margin-right: 10px;
							margin-top: 2px;
							margin-bottom: 0px !important;
							color: #787878;
							span{
								margin-right: 3px;
							}
							&.icon{
								margin-top: 0px !important;
								span{
									i{
										color: #787878;
									}
								}
							}
						}
					}
				}
				.trending-searches-area {
					position: absolute;
					bottom: -80px;
					overflow: auto;
					width: 100%;
				}
				.trending-search-main ul li{
					margin-top: 5px;
				}
				.trending-searches-area .trending-search-main{
					width: 860px;
					ul{
						display: block !important;
						li{
							display: inline-block !important;
							a{
								width: auto !important;
								height: auto !important;
								padding: 4px 12px;
								margin: 2px 0px;
							}
						}
					}
				}
				.search-btn-area{
					position: relative !important;
					top: 0 !important;
					left: 0 !important;
					transform: translate(0) !important;
					margin-top: 30px;
					button{
						width: 100% !important;
						font-size: 17px !important;
					}
				}
			}
		}	
		section.main-search-area .hotel-booking-area mat-form-field.mat-input-container .mat-form-field-wrapper mat-datepicker-toggle.mat-datepicker-toggle{
			top: 1px;
		}
		section.flash-sale-area{
			padding-top: 0px;
			.sales-single-item{
				padding: 10px 0px !important;
				margin-bottom: 20px;
				.sales-heading {
					h4{
						font-size: 16px !important; 
					}
				}
				.sales-description{
					span{
						font-size: 12px !important;
					}
				}
			}
		}
		section.recent-activity-area .recent-activity-main .activity-single-item{
			margin-bottom: 20px !important;
			box-shadow: 0px 0px 20px #0000000d;
		}
		section.top-deals-area {
			.mat-tab-label{
				min-width: 60px !important;
				padding: 0px 20px;
			}
			.mat-tab-header-pagination.mat-tab-header-pagination-before.mat-elevation-z4.mat-ripple{
				box-shadow: none !important;
			}
			.mat-tab-header-pagination.mat-tab-header-pagination-after.mat-elevation-z4.mat-ripple {
				box-shadow: none !important;
			}
			.top-deals-single-item h4.deal-title{
				font-size: 16px !important;
			}
			.top-deals-main .top-deals-single-item p.deal-text{
				font-size: 12px;
				max-width: 220px;
			}
			.deals-btn-area a{
				font-size: 12px;
			}

			.top-deals-single-item .tc-text span{
				font-size: 10px !important;
			}
		}
		section.flash-sale-area .swiper-button-prev1,section.flash-sale-area .swiper-button-next1{
			display: none;
		}
		section.recent-activity-area .swiper-button-next-activity,section.recent-activity-area .swiper-button-prev-activity{
			display: none;
		}
		.swiper-pagination1, .swiper-pagination2{ width: 100%; text-align: center;
			display: block !important;
			span{margin: 0 2px;}
		}
	}


	// Mini Mobile Css

	@media screen and (max-width:550px){
		.tw-50{
			flex:0 100%;
		}
		section.flash-sale-area .flash-sales-main {
			position: relative;
			padding-bottom: 15px;
		}
		section.flash-sale-area .flash-sales-main .sales-single-item .icon-container{
			width: 30px;
			height: 30px;
		}
		section.flash-sale-area .flash-sales-main .sales-single-item .sales-heading{
			margin-bottom: 0px;
		}
		section.flash-sale-area .flash-sales-main .sales-single-item .sales-heading h4 {
			margin-bottom: 0px;
			font-size: 14px !important;
		}
		.section-heading {
			margin-bottom: 35px;
		}
		section.recent-activity-area .recent-activity-main .activity-single-item{
			padding: 10px;
		}
		section.recent-activity-area .recent-activity-main .activity-single-item .activity-slider-inner .activity-top-area{
			margin-bottom: 45px;
		}
		section.recent-activity-area .recent-activity-main .activity-single-item .activity-slider-inner .activity-details-area{
			margin-bottom: 10px;
		}
		section.recent-activity-area .recent-activity-main .activity-single-item .activity-slider-inner .activity-bottom-area p{
			margin-bottom: 0;
		}
		section.recent-activity-area .recent-activity-main .activity-single-item .activity-slider-inner .activity-top-area .icon-container{
			top: 10px;
			right: 10px;
			width: 35px;
			height: 35px;
			img{
				width: 20px;
			}
		}
		section.recent-activity-area .recent-activity-main .activity-single-item .activity-slider-inner h4{
			font-size: 14px;
		}
		section.top-deals-area .top-deals-main .top-deals-single-item{
			padding: 10px;
			margin-bottom: 10px;
		}
	}
	@media screen and (max-width:380px){
		section.main-search-area .trending-searches-area .trending-search-main ul li{
			margin-top: 0px;
			margin-right: 5px;
		}
		section.main-search-area .hotel-booking-area mat-form-field.mat-input-container .mat-form-field-wrapper mat-datepicker-toggle.mat-datepicker-toggle{
			top: 1px;
		}
	}

	// Mini Extra Mobile Css

	@media screen and (max-width:330px){
		section.top-deals-area .top-deals-main .top-deals-single-item p.deal-text{
			font-size: 12px;
			max-width: 190px;
		}
	}



	

	.swiper-button-disabled[role="button"]{opacity: 0.5; cursor: not-allowed !important;}




	}