app-hotel-details {

	.benifit-area, .guest-details-area, .room-details-area, .price-details-area,
	.benifit-area > div, .guest-details-area > div, .room-details-area > div, .price-details-area > div{height: 100%;}
	.benifit-area > .block-heading + div, .guest-details-area > .block-heading + div, .room-details-area > .block-heading + div, .price-details-area > .block-heading + div{height: calc(100% - 40px);}
	// Common Css

	// .newContainer{
	// 	max-width: 1230px !important;
	// 	width: 100%;
	// }
	.bg-white{
		background: #fff;
	}
	.label{
		margin-bottom: 5px;
		span{
			font-size: 16px;
			font-weight: 600;
		}
	}
	.no-gutter{
		margin-right: 0px !important;
		margin-left: 0px !important;
	}
	.no-col-padding{
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	ul{
		padding-left: 0 !important;
		list-style: none; margin: 0;
	}
	.section-inner{
		padding: 15px;
		border-radius: 8px;
		background: #fff;
		box-shadow:0 3px 40px 0 rgba(0, 0, 0, 0.07);
	}
	button.btn-pr{
		width: 155px;
		height: 40px;
		border-radius: 5px;
		background: #642782;
		font-size: 17px;
		color: #fff;
	}
	.mat-expansion-panel-spacing{
		margin:0;
	}
	// Typography


	h4.title{
		font-size: 16px;
		color: #f08c2e;
	}

	h4.list-item-heading{
		font-size: 16px;
		color: #000000;
		margin-bottom: 20px;
	}
	h6.list-heading{
		font-size: 15px;
		color: #642782;
		margin-bottom: 10px;
		span{
			margin-right: 5px;
		}
	}
	.list-item{
		position: relative;
		padding-left: 12px;
		margin-bottom: 5px;
		&:before{
			position: absolute;
			content: "";
			left: 0px;
			top: 8px;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background: #f08c2e;
		}
	}
	li.list-text{
		span{
			display: block;
			max-width: 400px;
			width: 100%;
			line-height: 25px;
		}
	}
	p.price{
		position: relative;
		span.old-price{
			position: relative;
			font-size: 16px;
			color: #a09d9d;
			&:before{
				position: absolute;
				content: "";
				left: 0;
				top: 11px;
				width: 110%;
				height: 1px;
				background: #a09d9d;
			}
		}
		span.new-price{
			font-size: 22px;
			color: #f08c2e;
			margin-left: 10px;
		}
	}


	// Details Header Css

	section.hotel-details-header{
		.details-header-inner {
			padding: 15px;
			margin: 35px 0px;
			border-radius: 8px;
			background: #fff;
			box-shadow:0 3px 40px 0 rgba(0, 0, 0, 0.07);
			.label span {
				font-size: 14px;
				font-weight: 600;
			}
		}
		.header-search-field{
			
			.form-group{
				position: relative;
				span.search-icon {
					position: absolute;
					top: 8px;
					left: 10px;
					color: #ced1d2;
					i{
						font-size: 28px;
					}
				}
				input{
					border-color: #ced1d2 !important;
					padding-left: 40px;
					height: 40px;
					&:focus{
						box-shadow: none;
						border-color: #cbc5c5;
					}
				}
			}
		}
		.hotel-booking--area{
			.check-in-main , .check-out-main{
				max-width: 129px;
				width: 100%;
			}
			.night-count {
				position: relative;
				width: auto;
				height: auto;
				margin-top: 20px;
				margin-right: 10px;
				margin-left: 10px;
				text-align: center;
				span{
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50% , -50%);
					color: #333;
					font-weight: 600;
					margin-top: -8px;
				}
				i.material-icons {
					font-size: 40px;
					color: rgba(51, 51, 51, 0.3411764705882353);
				}
			}
			mat-form-field{
				border: 1px solid #ced1d2;
				border-radius: 5px;
				padding: 6px 10px;
				height: 40px;
				width: 100%;
				.mat-form-field-wrapper {
					padding-bottom: 0px !important;
					.mat-form-field-infix {
						border-top: 0px !important;
					}
					.mat-form-field-flex{
						align-items: flex-start!important;
					}
					span.mat-button-wrapper {
						font-size: 25px !important;
						color: #b1acac !important;
						padding-right: 15px;
					}
					.mat-form-field-underline{
						display: none !important;
					}
				}
				&.mat-form-field-should-float{
					label{
						display: none !important;
					}
				}
			}
		}
		.details-header-right-area{
			justify-content: space-between;
			.label-bottom{
				span{
					font-size: 12px;
				}
			}
			.room-count, .adult-count , .children-count{
				max-width: 70px;
				width: 100%;
				margin-right: 10px;
			}
			mat-form-field{
				border: 1px solid #ced1d2;
				border-radius: 5px;
				padding: 6px 10px;
				height: 40px;
				width: 60px;
				.mat-form-field-wrapper {
					padding-bottom: 0px !important;
					.mat-form-field-infix {
						border-top: 0px !important;
					}
					span.mat-button-wrapper {
						font-size: 25px !important;
						color: #b1acac !important;
						padding-right: 15px;
					}
					.mat-form-field-underline{
						display: none !important;
					}
				}
				&.mat-form-field-should-float{
					label{
						display: none !important;
					}
				}
			}
			button.btn-search.mat-button {
				max-width: 100px;
				width: 100px;
				background: #f08c2e;
				color: #fff;
				height: 40px;
				border-radius: 5px;
				font-size: 16px;
				margin-top: 27px;
			}
		}
	}


	// Slide Show area Css

	section.top-image-slide-show-area{
		.slide-show-left-area{
			.hotel-title-area{
				.hotel-rating{
					ul{
						margin-left: 10px;
						margin-top: -2px;
						li{
							i{
								color: #f08c2e;
							}
						}
					}
				}
			}
			.hotel-text{
				p{
					font-size: 14px;
					color: #383737;
				}
			}
			.free-facilites-area{
				ul{
					margin-top: 25px;
					margin-bottom: 22px;
					li{
						position: relative;
						margin-right: 30px;
						span.icon{
							position: absolute;
							i{
								color: #642782;
							}
						}
						span.text{
							display: inline-block;
							padding-left: 30px;
							padding-top: 2px;
							color: #642782;
						}
					}
				}
			}
			.slide-show-main{
				.active-image-area{
					position: relative;
					width: 100%;
					margin-bottom: 5px;
					img{
						width: 100%;
					}
				}
				.slide-show-thubnail{
					ul{width: calc(100% + 5px);
						li{
							position: relative;
							max-width: 13.56%;
							width: 100%;
							height: auto;
							display: inline-block;
							margin-right: 5px;
							margin-bottom: 5px;
							opacity: 1;
							border-radius: 0;
							&.swiper-pagination-bullet-active{
								cursor: no-drop; background: #000;
								img{opacity: 0.5;}
							}
							span.view-all{
								position: absolute;
								left: 0;
								top: 0;
								width: 100%;
								height: 100%;
								background: #64278261;
								font-size: 14px;
								color: #fff;
								display: flex;
								justify-content: center;
								align-items: center;
							}
						}
					}
				}
			}
		}
		.slide-show-right-area{
			.hotel-price-area {
				text-align: center;
				.chose-btn{
					margin-top: 20px;
				}
			}
			.right-accordion-area{
				margin-top: 25px;
				mat-accordion{
					mat-expansion-panel-header{
						max-height: 40px !important;
						background: #b1acac;
						padding: 0px 15px !important;
						mat-panel-title.mat-expansion-panel-header-title{
							color: #fff;
							padding-top: 3px;
						}
						mat-icon.mat-icon.material-icons {
							position: relative;
							color: #fff;
							span{
								position: absolute;
								width: 15px;
								top: 10px;
								right: 5px;
								height: 2px;
								background: #fff;
								transition:.3s;
								&.line-y{
									transform: rotate(90deg);
								}
							}
						}
						&.mat-expanded{
							max-height: 40px !important;
							background: #f08c2e;
							mat-panel-title.mat-expansion-panel-header-title{
								color: #fff;
								
							}
							mat-icon.mat-icon.material-icons {
								span{
									&.line-y{
										transform: rotate(180deg);
									}
								}
							}
						}
						&:hover{
							background: #f08c2e !important;
						}
					}
					mat-expansion-panel{  border-radius: 0;
						box-shadow: none !important;
    					border: 1px solid rgba(51, 51, 51, 0.1607843137254902);
					}
					
					.mat-expansion-panel-body {
						padding: 15px  15px !important;
						padding-bottom: 0px !important;
					}
					.hotel-review-main{
						.single-pogress-bar {
							margin-bottom: 30px;
							.mat-progress-bar{
								height: 8px;
								border-radius: 5px;
								.mat-progress-bar-buffer.mat-progress-bar-element {
									background: #cbc5c5;
								}
							}
							p.pogress-heading {
								position: relative;
								font-size: 16px;
								color: #000000;
								span{
									position: absolute;
									right: 0px;
									color: #817e7e;
									font-size: 13px;
								}
							}
							&.room{
								.mat-progress-bar-fill::after{
									background: #3dbd30 !important;
								}
							}
							&.service{
								.mat-progress-bar-fill::after{
									background: #f08c2e !important;
								}
							}
							&.food{
								.mat-progress-bar-fill::after{
									background: #6483dd !important;
								}
							}
							&.cleanliness{
								.mat-progress-bar-fill::after{
									background: #2bbecf !important;
								}
							}
							&.value{
								.mat-progress-bar-fill::after{
									background: #abbd30 !important;
								}
							}
						}
					}
				}
			}
		}


		// Top feature area css
		.top-feature-area{
			padding-top: 15px;
			ul{
				li{
					position: relative;
					margin-bottom: 15px;
					span.icon{
						position: absolute;
						i{
							color: #f08c2e;
						}
					}
					span.text{
						display: inline-block;
						padding-left: 30px;
						margin-top: 2px;
						font-size: 14px;
						color: #444444;
					}
				}
			}
			.main-amenities-features{

			}
			.family-features{

			}
			.around-features{
				ul{
					margin-left: 20px;
					li{
						position: relative;
						span.distance{
							position: relative;
							display: block;
						}
					}
				}
			}
		}
	}


	// Room details area
	

	section.room-details-area{
		margin-top: 30px;
		.room-details-inner {
			border-radius: 8px;
			box-shadow:0 3px 40px 0 rgba(0, 0, 0, 0.07);
			background: #fff;
		}
		.room-details-heading-area{
			justify-content: space-between;
			padding: 15px;
    		padding-bottom: 8px;
			.heading-left-area{
				h4{
					margin-bottom: 0px !important;
				}
			}
			.guest-details-area{
				p{
					font-size: 14px;
					color: #383737;
					margin-bottom: 0px !important;
					span{
						margin-right: 15px;
					}
				}
			}
			button.btn-change.mat-button {
				padding: 0 5px;
				margin-top: -7px;
				margin-left: 15px;
				color: #f08c2e;
				.mat-button-focus-overlay{
					display: none;
				}
			}
		}
		.single-room-details{
			overflow: hidden;
			.block-border{
				border-top:1px solid rgba(51, 51, 51, 0.23921568627450981);
				border-bottom:1px solid rgba(51, 51, 51, 0.23921568627450981);
			}
			.single-box-border{
				border-right: 1px solid rgba(51, 51, 51, 0.23921568627450981);
				padding-bottom: 15px;
				border-bottom: 1px solid rgba(51, 51, 51, 0.23921568627450981);
			}
			.no-br-right{
				border-right: 0px !important;
			}
			.no-r-border{
				border-right: 0px !important;
			}
			.block-inner {
				width: 100%;
				// height: 315px;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.block-heading{
				padding: 6px 0px;
				height: 45px;
				display: flex;
				justify-content: center;
				align-items: center;
				h4{
					font-size: 14px;
					color: #383737;
					margin-bottom: 0px !important;
				}
				
			}
			.room-type-area{
				.image-area{
					position: relative;
					max-width: 155px;
					width: 100%;
					margin: 0 auto;
					margin-top: 10px;
					img{
						width: 100%;
						object-fit: cover;
					}
					span.photo-count{
						position: absolute;
						right: 0;
						bottom: 0;
						font-size: 12px;
						padding: 2px;
						background: #f08c2e;
						color: #fff;
					}
				}
				p.room-title{
					font-size: 15px;
					color: #642782;
					margin-top: 10px;
				}
				ul.room-features{
					text-align: left;
					margin-top: 20px;
					li{
						margin-bottom: 10px;
						padding-left: 8px;
					}
					span.icon {
						display: inline-block;
						margin-right: 8px;
						width: 21px;
					}
					span.feature-text{
						font-size: 12px;
					}
				}
				button.btn-show-more.mat-button {
					background: transparent;
					color: #f08c2e;
					font-size: 14px;
					margin-top: 5px;
					.mat-button-focus-overlay{
						display: none;
					}
				}
			}
			ul.benifits{
				li{
					margin-bottom: 15px;
					&:last-child{margin-bottom: 0;}
				}
			}
			.guest-icon-area {
				display: block;
				margin-bottom: 15px;
			}
			ul.guest-details{
				li{
					margin-top: 10px;
				}
			}
			.room-select{
				display: block;
				mat-form-field{
					border: 1px solid #ced1d2;
					border-radius: 5px;
					padding: 5px 10px;
					height: 40px;
					.mat-form-field-wrapper {
						padding-bottom: 0px !important;
						.mat-form-field-infix {
							border-top: 0px !important;
							width: 80px;
						}
						.mat-form-field-flex{
							align-items: flex-start!important;
						}
						span.mat-button-wrapper {
							font-size: 25px !important;
							color: #b1acac !important;
							padding-right: 15px;
						}
						.mat-form-field-underline{
							display: none !important;
						}
					}
					
				}
			}
			.price-details-area{
				.price-details-main{
					padding-top: 15px;
				}
				span.taxe-select{
					color: #f08c2e;
				}
				.taxe-select {
					margin-bottom: 20px;
				}
				.mat-form-field-should-float{
					label{
						display: none !important;
					}
				}
				.mat-form-field-wrapper {
					padding-bottom: 0px !important;
					border: 1px solid #f08c2e;
					border-radius: 25px;
					padding: 0px 10px;
					.mat-form-field-underline{
						display: none !important;
					}
				}
				.mat-form-field-infix{
					width: 120px !important;
					border-top: 0px !important;
				}
				span.mat-select-placeholder.ng-tns-c2-17.ng-star-inserted {
					color: #f08c2e !important;
				}
				label.mat-form-field-label.mat-input-placeholder.mat-form-field-placeholder.ng-tns-c0-16.mat-empty.mat-form-field-empty.ng-star-inserted {
					color: #f08c2e !important;
				}
				.mat-select-arrow{
					color: #f08c2e;
				}
			}
			.btn-chose{
				margin: 15px 0px;
			}
			p.limit-info{
				color: #989393;
			}
		}
		.single-room-details:last-child{
			.single-box-border{
				border-bottom: 0px !important;
			}
		}
	}


	// Hotel Facts Area

	section.hotel-fact-area{
		margin-top: 30px;
		.hotel-fact-heading-area{
			h4{
				span{
					color: #000000;
					margin-left: 5px;
                    font-size: 14px;
                    mat-icon{font-size: 22px;}
				}
			}
		}
		.hotel-facts-main {
			padding-left: 5px;
			.facts-wrap{
				&.pl-30{
					padding-left: 30px;
				}
			}
			ul.facts-item{
				margin-top: 30px;
			}
		}
	}



	// Recommanded Slider Css

	section.recomanded-slider-area{
		padding: 40px 0px;
		margin-top: 30px;
		.newContainer{
			position: relative;
		}
		h3{
			font-size: 20px;
			color: #642782;
		}
		.rocomanded-slider-main{
			position: relative;
			padding: 40px 0px 20px 0px;
			.slider-single-item{
				display: block;
				text-align: left;
				padding: 15px;
				box-shadow: 0 15px 35px -15px rgba(0, 0, 0, 0.07);
				border: 1px solid rgba(51, 51, 51, 0.08);
				border-radius: 5px;
				background: #fff;
				h4.hotel-title {
					font-size: 13px;
					color: #f08c2e;
					margin-bottom: 15px;
				}
				.img-area {
					max-width: 120px;
					width: 100%;
					margin-right: 15px;
					img{
						width: 100%;
						object-fit: cover;
					}
				}
				ul{margin-bottom: 10px;
					li{
						i{
							color: #f08c2e;
						}
					}
				}
				p.review{
					font-size: 15px;
					color: #383838; margin-bottom: 10px;
				}
                p.price{ margin-bottom: 0;
                        span.new-price{
                        font-size: 20px;
                    }
				}
			}
			.swiper-pagination.swiper-pagination-bullets {
				display: none;
				.swiper-pagination-bullet-active{
					background: #f08c2e ;
				}
			}
		}
		.swiper-button-next1 {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 35px;
			height: 35px;
			right: -40px;
			top: 50%;
			background: #fff;
			background-image: none !important;
			border-radius: 50%;
			box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.07);
			margin-top: -5px !important;
			z-index: 11 !important;
			cursor: pointer ;
			mat-icon{color: #f08c2e;}
			&:focus{outline: none;}
		}
		.swiper-button-prev1 {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 35px;
			height: 35px;
			top: 50%;
			left: -40px;
			background: #fff !important;
			background-image: none !important;
			border-radius: 50%;
			box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.07);
			margin-top: -5px !important;
			z-index: 11 !important;
			cursor: pointer ;
			margin: auto;
			mat-icon{color: #f08c2e;}
			&:focus{outline: none;}
		}
		.see-all-btn-area{
			a{
				font-size: 14px;
				color: #f08c2e;
			}
		}
	}

	// Review area css

	section.review-area{
		margin-top: 30px;
		.review-heading{
			margin-bottom: 15px;
			border-bottom: 1px solid rgba(51, 51, 51, 0.2196078431372549);
			margin-left: -15px;
			margin-right: -15px;
			padding: 0px 15px;
			h4{
				font-size: 18px;
				color: #642782;
				margin-bottom: 0px !important;
				span.icon {
					margin-right: 10px;
				}
			}
			p.review-count-text{
				padding-left: 36px;
				font-size: 14px;
				span.review{
					color: #642782;
				}
				span.review-count{
					color: #f08c2e;
				}
			}
		}
		.review-main{
			padding-top: 15px;
			.single-review-area{
				margin-bottom: 30px;
				.guest-info-area{
					.guest-image{
						img{
							width: 55px;
							height: 55px;
							border-radius: 50%;
							margin-right: 15px;
						}
					}
					.guest-name{
						p.name{
							font-size: 16px;
							color: #f08c2e;	
						}
						p.staying-details{
							font-size: 14px;
							color: #7f7f7f;
						}
					}
				}
				.review-details {
					position: relative;
					padding: 15px;
					border: 1px solid rgba(51, 51, 51, 0.2196078431372549);
					border-radius: 5px;
					p.review-title{
						font-size: 14px;
						color: #642782;
					}
					p.review-text{
						font-size: 16px;
						color: #000000;
					}
					p.date {
						position: absolute;
						right: 15px;
						bottom: 0px;
						color: #7f7f7f;
					}
				}
			}	
			.review-btn-area{
				button{
					max-width: 160px;
					width: 100%;
					background: #f08c2e;
					color: #fff;
					height: 40px;
					font-weight: 400;
					border-radius: 5px;
					font-size: 18px;
					margin-top: 25px;
				}
			}
		}
	}
	section.filter-header-area-mobile-version{
		display: none;
	}



	// Tab large Css

	@media screen and (max-width:1199px){
		section.top-image-slide-show-area .slide-show-left-area .slide-show-main .slide-show-thubnail ul li{
			max-width: 117px;
			margin-right: 2px;
		}
		section.room-details-area .single-room-details .room-type-area ul.room-features span.feature-text{
			font-size: 10px
		}
		section.hotel-details-header .hotel-booking--area .check-in-main, section.hotel-details-header .hotel-booking--area .check-out-main{
			max-width: 110px;
		}
		section.hotel-details-header .details-header-right-area mat-form-field{
			width: 50px;
		}
		section.recomanded-slider-area .swiper-button-next1 {
			right:5px;
		}
		section.recomanded-slider-area .swiper-button-prev1 {
			left:5px;
		}
	}



	// Tab responsive
	@media screen and (max-width:999px) {
		section.recomanded-slider-area{
			padding: 0;
		}
		section.recomanded-slider-area .rocomanded-slider-main {
			position: relative;
			padding: 20px 0px;
		}
		section.recomanded-slider-area .rocomanded-slider-main .slider-single-item{
			margin-bottom: 30px;
			border: 1px solid rgba(51, 51, 51, 0.1411764705882353);
			box-shadow: none;
			margin-bottom: 0;
		}
		.md-none{
			display: none !important;
		}
		.no-m-border{
			border: none !important;
		}
		h6.list-heading{
			font-size: 14px;
		}
		section.hotel-details-header .hotel-booking--area .check-in-main, section.hotel-details-header .hotel-booking--area .check-out-main{
			max-width: 300px;
		}
		section.hotel-details-header .details-header-right-area .room-count, section.hotel-details-header .details-header-right-area .adult-count, section.hotel-details-header .details-header-right-area .children-count{
			max-width: 93px;
			mat-form-field{
				width: 100%;
			}
		}
		section.top-image-slide-show-area .slide-show-left-area .slide-show-main .active-image-area{
			max-width: 100%;
		}
		section.top-image-slide-show-area .slide-show-left-area .slide-show-main .slide-show-thubnail ul li{
			position: relative;
			max-width: 111.9px;
			width: 100%;
			height: 70px;
			display: inline-block;
			margin-right: 0px;
			margin-bottom: 5px;
		}
		.hotel-price-area {
			text-align: left !important;
		}
		section.top-image-slide-show-area .top-feature-area ul li span.text{
			font-size: 12px;
		}
		section.room-details-area{
			.col-sm-6{
				width: 50% !important;
				flex: 0 0 50% !important;
			}
			.heading-right-area{
				display: none !important;
			}
			.md-block{
				display: block !important;
			}
			.mt-left{
				text-align:left  !important;
			}
			.no-m-border{
				border:none !important;
			}
			.md-block{
				display: block !important;
				height: auto !important;
			}
			.md-none{
				display: none !important;
			}
			.single-block{
				padding: 0px 10px;
			}
			section.room-details-area .room-details-inner{
				box-shadow: 0px 0px 20px 0px #00000003 !important;
			}
			
			.image-area {
				max-width: 100% !important;
				height: 165px !important;
				margin-top: 0px !important;
				img{
					height: 100%;
				}
			}
			.single-room-details .room-type-area ul.room-features{
				text-align: left;
			}
			.single-room-details {
				padding-bottom: 10px;
				margin-bottom: 10px;
				border-bottom: 1px solid #33333336;
			}
			.single-room-details .block-heading h4{
				font-size: 12px;
			}
			.guest-main {
				display: flex;
			}
			.taxe-select {
				position: absolute;
				top: 5px;
			}
			
			img.guest-icon {
				max-width: 30px;
				margin-right: 10px;
			}
			ul.guest-details{
				li{
					margin-top: 0px !important;
					span{
						font-size: 11px;
					}
				}
			}
			.single-room-details .block-heading span.taxe-select {
				color: #f08c2e;
				display: inline-block;
			}
			.room-select {
				text-align: right;
			}
			.price-details-area.text-center.mt-left {
				display: flex;
				margin-top: 50px;
				position: relative;
				p{
					margin-bottom: 0px !important;
					font-size: 12px;
				}
				&:before{
					position: absolute;
					content: "";
					width: 95%;
					height: 1px;
					background: #38373747;
					top: -42px;
					left: 50%;
					transform: translateX(-50%);
									
				}
			}
			p.book-now-heading {
				position: absolute;
				left: 10px;
				top: -30px;
			}
			.price-details-main {
				padding-top: 0px !important;
				text-align: right;
				margin-top: -30px;
			}
			.single-room-details:last-child{
				border-bottom: none !important;
			}
			.single-room-details .btn-chose {
				margin: 5px 0px !important;
			}
			.single-box-border{
				padding-bottom: 0px !important;
			}
			button.btn-show-more.mat-button {
				padding: 0;
			}
			.single-room-details .room-type-area ul.room-features{
				margin-top: 0px !important;
				margin-left: 0px !important;
				li{
					padding-left: 0px !important;
					span.feature-text{
						font-size: 12px;
					}
					
				}
			}
			p.room-title{
				font-size: 14px !important;
			}
			ul.benifits{
				li.dot-m{
					position: relative;
					padding-left: 12px;
					margin-bottom: 5px;
					display: inline-block;
					margin-right: 5px;
					span{
						font-size: 12px;
					}
					&:before{
						position: absolute;
						content: "";
						left: 0px;
						top: 8px;
						width: 5px;
						height: 5px;
						border-radius: 50%;
						background: #b1a69b;
					}
				}
			}
		}
		section.recomanded-slider-area .slider-section-inner{
			padding: 15px 8px;
		}
		section.recomanded-slider-area .swiper-button-next1,section.recomanded-slider-area .swiper-button-prev1{
			top: 50%;
		}
	}


	// Mobile Screen Css

	@media screen and (max-width:767px) {
		.hotel-details-main{
			background: #f7f7f7;
		}
		.newContainer{
			max-width: 550px;
		}
		section.filter-header-area-mobile-version{
			position: relative;
			background: #fde9d6;
			border-bottom: 1px solid #f08c2ec2;
			display: block !important;
			height: 65px;;
			.bg-gradient{
				position: absolute;
				left: 0;
				bottom: -201px;
				width: 100%;
				height: 200px;
				background-image:linear-gradient(0deg, #f7f7f752 10%, #fde9d6 90%);
				background-image: -moz-linear-gradient(0deg, #f7f7f752 10%, #fde9d6 90%);
				background-image: -webkit-linear-gradient(0deg, #f7f7f752 10%, #fde9d6 90%);
				background-image: -ms-linear-gradient(0deg, #f7f7f752 10%, #fde9d6 90%);
			}
			 
			.filter-mobile-menu-main{
				justify-content: space-between;
				.header-menu-left-area{
					button{
						min-width: 20px !important;
						padding: 0 !important;
						i{
							color: #f08c2e;
						}
					}
					span.location{
						font-size: 13px;
						color: #444444;
					}
					
				}
				.header-menu-right-area{
					ul{
						padding: 0 !important;
						list-style: none;
						margin-top: 15px;
						margin-bottom: 0px;
						li{
							margin-right: 0px;
						}
					}
					button{
						min-width: 20px;
						padding: 0 5px !important;
						i{
							color: #949494;
						}
						&:hover , &:active , &:focus{
							i{
								color: #f08c2e;
							}
						}
					}
				}

			}
			.date-room-details {
				position: relative;
				margin-top: -15px;
				p{
					color: #686868;
					font-size: 13px;
					span.icon {
						position: absolute;
						left: 25px;
						top: -3px;
						i{
							color: #686868;
							font-size: 22px;
						}
					}
					span.date {
						padding-left: 50px;
					}
				}
				
			}
		}
		.section-inner {
			padding: 10px !important;
			border-radius: 8px;
			background: #fff;
			box-shadow: 0px 0px 20px #00000003;
		}
		section.hotel-fact-area .hotel-facts-main .facts-wrap.pl-30{
			padding-left: 0px;
		}
		h4.title {
			font-size: 14px !important;
			color: #f08c2e;
		}
		h4.list-item-heading {
			font-size: 13px !important;
			color: #000000;
			margin-bottom: 10px !important;
		}
		button.btn-pr{
			width: 115px !important;
			height: 35px !important;
			font-size: 13px !important;
		}
		p.price{
			span.old-price{
				font-size: 14px !important;
				color: #a09d9d;
			}
			span.new-price{
				font-size: 17px !important;
			}
		}
		h6.list-heading{
			font-size: 13px !important;
		}
		.list-item{
			position: relative;
			padding-left: 12px;
			margin-bottom: 5px;
			span{
				font-size: 13px;
			}
		}
		section.hotel-details-header{
			display: none;
		}
		.slide-show-main .slide-show-thubnail ul{
			text-align: center;
		}
		.slide-show-left-area .hotel-text p{
			font-size: 12px !important;
		}
		.slider-section-inner {
			position: relative;
			padding: 8px;
			margin-top: 10px;
			background: #fff;
			border-radius: 5px;
			box-shadow: 0px 0px 20px #00000008;
		}
		section.top-image-slide-show-area .slide-show-left-area .slide-show-main .active-image-area{
			max-width: 99%;
			margin: 0 auto;
			margin-bottom: 10px;
		}
		.slide-show-main .slide-show-thubnail ul li{
			max-width: 24% !important;
			margin-right: 0px !important;
			height: 55px !important;
			img{
				height: 55px !important;
			}

		}
		.slide-show-left-area{
			position: relative;
		}
		.slide-show-left-area .hotel-title-area .hotel-rating ul{
			position: absolute;
			left: 0;
			bottom: -45px;
			margin-left: 0px !important;
			z-index: 1;
		}
		.slide-show-left-area .free-facilites-area ul{
			display: block !important;
			position: absolute;
			bottom: -120px;
			li{
				margin-bottom: 5px;
				span.icon{
					top: 1px;
					i{
						font-size: 20px;
					}
				}
				span.text{
					font-size: 12px;
					padding-left: 25px !important;
				}
			}
		}
		.slide-show-right-area .hotel-price-area .chose-btn{
			margin-top: 15px !important;
		}
		.slide-show-left-area .slide-show-main .slide-show-thubnail ul li span.view-all{
			font-size: 10px !important;
		}
		.slide-show-right-area .hotel-price-area{
			text-align: right !important;
		}
		.right-accordion-area{
			margin-top: 20px !important;
			mat-expansion-panel{
				margin-bottom: 2px;
			}
			mat-expansion-panel-header{
				height: 40px !important;
				padding: 0px 10px !important;
				mat-panel-title.mat-expansion-panel-header-title{
					padding-top: 3px;
					font-size: 13px !important;
				}
			}
			mat-accordion .hotel-review-main .single-pogress-bar{
				margin-bottom: 15px !important;
			}
			 mat-accordion .hotel-review-main .single-pogress-bar p.pogress-heading{
				font-size: 14px !important;
			}
		}
		.top-feature-area ul li{
			display: inline-block !important;
			width: 49%;
			margin-bottom: 10px !important;
			span.icon{
				top: 1px;
				i{
					font-size: 20px;
				}
			}
			span.text{
				padding-left: 25px !important;
				font-size: 11px !important;
			}
		}
		.top-feature-area .around-features ul{
			margin-left: 0px !important;
			li{
				span.distance{
					position: relative !important;
					display: block;
				}
			}
		}
		section.room-details-area{
			.col-sm-6{
				width: 50% !important;
			}
			.heading-right-area{
				display: none !important;
			}
			.md-block{
				display: block !important;
			}
			.mt-left{
				text-align:left  !important;
			}
			.no-m-border{
				border:none !important;
			}
			.md-block{
				display: block !important;
				min-height: auto !important;
			}
			.md-none{
				display: none !important;
			}
			.single-block{
				padding: 0px 10px;
			}
			section.room-details-area .room-details-inner{
				box-shadow: 0px 0px 20px 0px #00000003 !important;
			}
			
			.image-area {
				max-width: 100% !important;
				height: 200px !important;
				margin-top: 0px !important;
				img{
					height: 100%;
				}
			}
			.single-room-details .room-type-area ul.room-features{
				text-align: left;
			}
			.single-room-details {
				padding-bottom: 10px;
				margin-bottom: 10px;
				border-bottom: 1px solid #33333336;
			}
			.single-room-details .block-heading h4{
				font-size: 12px;
			}
			.guest-main {
				display: flex;
			}
			.taxe-select {
				position: absolute;
				top: 5px;
			}
			
			img.guest-icon {
				max-width: 30px;
				margin-right: 10px;
			}
			ul.guest-details{
				li{
					margin-top: 0px !important;
					span{
						font-size: 11px;
					}
				}
			}
			.single-room-details .block-heading span.taxe-select {
				color: #f08c2e;
				display: inline-block;
			}
			.room-select {
				text-align: right;
			}
			.price-details-area.text-center.mt-left {
				display: flex;
				margin-top: 50px;
				position: relative;
				p{
					margin-bottom: 0px !important;
					font-size: 12px;
				}
				&:before{
					position: absolute;
					content: "";
					width: 95%;
					height: 1px;
					background: #38373747;
					top: -42px;
					left: 50%;
					transform: translateX(-50%);
									
				}
			}
			p.book-now-heading {
				position: absolute;
				left: 10px;
				top: -30px;
			}
			.price-details-main {
				padding-top: 0px !important;
				text-align: right;
				margin-top: -30px;
			}
			.single-room-details:last-child{
				border-bottom: none !important;
			}
			.single-room-details .btn-chose {
				margin: 5px 0px !important;
			}
			.single-box-border{
				padding-bottom: 0px !important;
			}
			button.btn-show-more.mat-button {
				padding: 0;
			}
			.single-room-details .room-type-area ul.room-features{
				margin-top: 0px !important;
				margin-left: 0px !important;
				li{
					padding-left: 0px !important;
					span.feature-text{
						font-size: 12px;
					}
					
				}
			}
			p.room-title{
				font-size: 14px !important;
			}
			ul.benifits{
				li.dot-m{
					position: relative;
					padding-left: 12px;
					margin-bottom: 5px;
					display: inline-block;
					margin-right: 5px;
					span{
						font-size: 12px;
					}
					&:before{
						position: absolute;
						content: "";
						left: 0px;
						top: 8px;
						width: 5px;
						height: 5px;
						border-radius: 50%;
						background: #b1a69b;
					}
				}
			}
		}
		section.recomanded-slider-area .slider-section-inner{
			padding: 15px 8px;
		}
		section.recomanded-slider-area h3{
			font-size: 16px !important;
		}
		.rocomanded-slider-main .slider-single-item{
			padding: 10px !important;
			margin-bottom: 15px;
		}
		.rocomanded-slider-main .see-all-btn-area a{
			font-size: 12px !important;
		}
		section.review-area .review-heading h4 span.icon{
			margin-right: 5px !important;
		}
		section.review-area .review-heading h4{
			font-size: 16px !important;
		}
		section.review-area .review-heading p.review-count-text {
			padding-left: 50px !important;
			font-size: 12px !important;
		}
		.single-review-area .guest-info-area .guest-image img{
			margin-right: 10px !important;
		}
		.guest-name p.name{
			font-size: 14px;
			margin-top: 5px;
			margin-bottom: 5px !important;
		}
		.review-main .single-review-area .review-details{
			margin-top: 10px;
		}
		.review-btn-area button {
			max-width: 115px !important;
			height: 35px !important;
			font-size: 12px !important;
			margin-top: 0px !important;
		}
		.single-review-area .review-details p.review-text{
			font-size: 14px !important;
		}
		section.recomanded-slider-area .rocomanded-slider-main {
			position: relative;
			padding: 20px 0px;
			padding-bottom: 30px;
		}
		.swiper-pagination.swiper-pagination-bullets{
			display: block !important;
			bottom: 0px;
		}
		section.recomanded-slider-area{
			padding: 0;
		}
		section.recomanded-slider-area .swiper-button-prev1 ,section.recomanded-slider-area .swiper-button-next1{
			display: none;
		}
				
	}

	@media screen and (max-width:366px){
		section.top-image-slide-show-area .slide-show-left-area .slide-show-main .active-image-area{
			max-width: 99.63%;
			margin: 0 auto;
			margin-bottom: 10px;
			.image-area {
				max-width: 100% !important;
				height: 165px !important;
				margin-top: 0px !important;
				img{
					height: 100%;
				}
			}
		}
	}
	@media screen and (max-width:355px){
		section.top-image-slide-show-area .slide-show-left-area .slide-show-main .active-image-area{
			max-width: 99.73%;
			margin: 0 auto;
			margin-bottom: 10px;
		}
	}



    .swiper-button-disabled[role="button"]{opacity: 0.5; cursor: not-allowed !important;}







}




