app-hotel-search{

    mat-checkbox strong{font-weight: normal;}
	// Hotel search map header css

	section.hotel-search-map-header{
		.hotel-map-search-inner{
			padding: 15px;
			background: #fff;
			box-shadow: 0px 10px 30px -10px #0000000d;
			justify-content: space-between;
			margin-top: 30px;
			border-radius: 8px;
			border:1px solid #f08c2e2e;
			p{
				margin-bottom: 0px;
				font-size: 15px;
				color: #5d5d5d;
				&.place{
					margin-bottom: 5px;
					margin-top: 5px;
					font-weight: 700;
				}
			}

			.search-map-header-right-area{
				justify-content: space-between;
				button.btn-modify.mat-button {
                    width: 120px;
                    margin: 9px 15px 0 0;
                    height: 40px;
                    background: #f08c2e;
                    color: #fff;
                    border-radius: 5px;
                    font-size: 16px;
				}
				.btn-view{
					button{
						margin-bottom: 5px;
						.mat-button-ripple{
							display: none;
						}
						.mat-button-focus-overlay{
							display: none;
						}
					}
					p{
						font-size: 12px;
						color: #636363;
						font-weight: 700;
					}
				}
			}
		}
    }
    
    .viewMap{background: #fff;
        box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.06);
        border: solid 1px #fff;
        border-radius: 8px;
        overflow: hidden; position: relative;
        .resInfoOnMap{ position: absolute;
            padding: 10px;
            top: 40px;
            max-width: 450px;
            background: #fff;
            border-radius: 8px;
            right: 35px;
            width: 100%;
            h6{font-weight: 600; color: #f08c2e; font-size: 14px; margin: 0;}
            p{font-size: 13px; margin: 5px 0;}
            aside{
                mat-icon{font-size: 21px; width: auto; color: #f08c2e;}
                strong{font-size: 14px; color: #642782;}
                p{font-size: 13px;}
                h5{color: #f08c2e; font-size: 15px; margin: 5px 0;}
                button{    background: #f08c2e;
                    color: #fff;
                    border-radius: 3px;line-height: 30px;}
            }
        }
    }

	// End Hotel search map header css
	


.inner-review-area{
    h6{margin-bottom: 3px; color: #652783; font-weight: 600; font-size: 14px;}
    p{margin: 0;}
    strong{color: #f08c2e;}
}
.newContainer > hr{margin-top: 140px;}
    .label{
    margin-bottom: 5px;
    span{
        font-size: 16px;
        font-weight: 600;
    }
}
.section-heading {
    position: relative;
    text-align: center;
    margin-bottom: 50px;
    h3{
        font-size: 24px;
        font-weight: 600;
        color: #642782;
        text-transform: uppercase;
    }
    span.heading-separator{
        position: absolute;
        width: 65px;
        height: 2px;
        background: #f08c2e;
        margin: 0 auto;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.no-gutter{
    margin-left: 0px !important;
    margin-right: !important;
}
.no-col-padding{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

// Main-search-area
section.main-search-area{
    mat-expansion-panel.mat-expansion-panel.ng-tns-c5-8 {
        box-shadow: none !important;
    }
    .box-inner {
        position: relative;
        width: 100%;
        padding: 30px 40px;
        padding-bottom: 45px;
        margin-bottom: 50px;
        background: #fff;
        box-shadow: 0px 10px 35px -10px #00000005;
        border-radius: 10px;
        z-index: 11111;
    }
    .search-area{
        max-width: 685px;
        width: 100%;
        margin: 0 auto;
        .mainSearch {
            position: relative;
            margin-bottom: 30px;
            width: 100%;
            display: flex;
            ion-icon.delete.icon.icon-md.ion-md-locate{
                color: #f08c2e;
            }
            ion-icon.icon.icon-md.ion-md-search{
                color: #f08c2e;
            }
            .searchLeft {
                width: 100%;
                .inputBox2 {
                    position: relative;
                    ion-input {
                        border-top: solid #c2c2c2 1px !important;
                        border-bottom: solid #c2c2c2 1px !important;
                        border-left: solid #c2c2c2 1px !important;
                        border-top-left-radius: 5px;
                        border-bottom-left-radius: 5px;
                        background: #fff;
                        position: relative;
                    }
                    .searchField {
                        width: 100%;
                        font-size: 15px;
                        line-height: 24px;
                        border: none;
                        font-weight: 400;
                    }
                    .delete {
                        position: absolute;
                        right: 20px;
                        top: 15px;
                        font-size: 23px;
                        cursor: pointer;
                        color: #b3b3b3;
                    }
                }
            }
            .rightBTN {
                width: auto;
                .appBtn {
                    background: transparent;
                    border: solid #c2c2c2 1px;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                    border-left: 0;
                    padding-left: 1px;
                    font-size: 20px;
                    height: 52px;
                    margin:0 !important;
                    &:hover{
                        background: transparent !important;
                    }
                }
            }
        }
    }
    .hotel-booking-area{
        mat-form-field.mat-input-container{
            border: 1px solid #3333334a;
            border-radius: 5px;
            padding: 8px 10px;
            height: 45px;
            width: 100%;
            .mat-form-field-wrapper {
                padding-bottom: 0px !important;
                .mat-form-field-infix {
                    border-top: 0px !important;
                    width: 150px;
                }
                span.mat-button-wrapper {
                    font-size: 25px !important;
                    color: #b1acac !important;
                    padding-right: 15px;
                }
                .mat-form-field-underline{
                    display: none !important;
                }
                input.mat-input-element {
                    margin-top: 5px;
                }
                mat-datepicker-toggle.mat-datepicker-toggle {
                    position: absolute;
                    top: -2px;
                    right: 0;
                }
            }
            
        }
        .label-bottom.text-right{
            span{
                font-size: 13px;
                color: #636363;
            }
        }
        .hotel-booking-left-area{
            .check-out-main{
                margin-left: 20px;
            }
            .night-count {
                position: relative;
                width: auto;
                height: auto;
                margin-top: 20px;
                margin-right: 10px;
                text-align: center;
                span{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50% , -50%);
                    color: #333;
                    font-weight: 600;
                    margin-top: -8px;
                }
                i.material-icons {
                    font-size: 40px;
                    color: #33333357;
                }
            }
        }
        .mobile-booking-area{
            display: none;
        }
    }
    // .advance-search-area{
    //     .advance-search-main{
    //         position: relative;
    //         margin-top: 15px;
    //         mat-expansion-panel.mat-expansion-panel.ng-tns-c4-8 {
    //             box-shadow: none !important;
    //         }
    //         mat-expansion-panel-header{
    //             max-width: 245px !important;
    //             padding-left: 0px;
    //             mat-panel-title.mat-expansion-panel-header-title {
    //                 font-size: 16px;
    //                 color: #f08c2e;
    //             }
    //             span.mat-expansion-indicator.ng-tns-c5-9.ng-trigger.ng-trigger-indicatorRotate.ng-star-inserted {
    //                 margin-top: -5px;
    //             }
    //             .mat-expansion-indicator::after, .mat-expansion-panel-header-description {
    //                 color: #f08c2e !important;
    //             }
    //             &:hover{
    //                 background: transparent !important;
    //             }
    //         }
    //         .mat-expansion-panel-body{
    //             padding: 0px !important;
    //         }
    //         .advance-search-content-area{
    //             .advance-search-single-box{
    //                 .search-title{
    //                     margin-bottom: 20px;
    //                     h4{
    //                         font-size: 16px;
    //                         span.icon{
    //                             position: absolute;
    //                             top: -2px;
    //                         }
    //                         span.rating-title{
    //                             margin-left: 25px;
    //                         }
    //                     }
    //                 }
    //                 .search-checkbox-area{
    //                     mat-checkbox{
    //                         display: block;
    //                     }
    //                 }
    //             }
    //         }
    //         .btn-reset {
    //             position: absolute;
    //             right: 0;
    //             top: 0;
    //             button{
    //                 color: #f08c2e;
    //                 font-size: 15px;
    //                 font-weight: 400;
    //             }
    //         }
    //     }
    // }
    
    .trending-searches-area{
        .trending-search-main{
            margin-top: 0px;
            ul{
                padding-left: 0 !important;
                list-style: none;
                display: block;
                p.title {
                    padding-right: 25px;
                    padding-top: 5px;
                    font-size: 14px;
                    color: #979292;
                    margin-bottom: 0px !important;
                }
                li{
                    display: inline-block;
                    margin-top: 10px;
                    margin-right: 8px;
                    a{
                        width: 80px;
                        height: 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 13px;
                        color: #979292;
                        border: 1px solid #b1acaca8;
                        border-radius: 3px;
                    }
                }
            }
        }
    }
    .search-btn-area{
        position: absolute;
        left: 50%;
        bottom: -24px;
        transform: translateX(-50%);
        button{
            width: 165px;
            height: 50px;
            margin: 0 auto;
            color: #fff;
            font-size: 20px;
            background: #f08c2e;
            border-radius: 3px;
            text-transform: uppercase;
            box-shadow: 0px 0px 20px #00000029;
        }
    }
}


// Hotel-filter-header-area Css

section.hotel-filter-header-area{
    .b-right{
        border-right: 1px solid rgba(51, 51, 51, 0.21176470588235294);
    }
    .no-col-gutter{
        padding: 0 !important;
    }
    .no-gutter{
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .filter-header-inner {
        border: 1px solid rgba(29, 27, 25, 0.1411764705882353);
        border-radius: 8px;
        margin: 30px 0px 20px 0px;
        background: #fff;
        box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.06);
    }
    .filter-header-left-area{
        .header-map-area{
            position: relative;
            width: 100%;
            height: 97px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .hotel-location-details{
            .map-btn{
                button{
                    width: 130px;
                    height: 46px;
                    background: #f08c2e;
                    color: #fff;
                    padding: 0px !important;
                    font-size: 14px;
                    border-radius: 0;
                    border-bottom-left-radius: 8px;
                }
            }
            .location-details{
                p{
                    margin-bottom: 0px !important;
                    padding-top: 14px;
                    padding-left: 15px;
                    font-size: 13px;
                    color: #5d5d5d;
                }
            }
        }
    }
    .date-roome-details{
        padding: 0px 20px;
        .date-info{
            justify-content: space-between;
            padding-top: 15px;
            p{ margin: 0;
                color: #8b8383;
                span.icon{
                    img{
                        margin-top: -4px;
                        margin-right: 4px;
                    }
                }
            }
        }
        .night-info{ margin-top: 5px;
            text-align: center;
            i{
                font-size: 38px;
                color: #b1acac;
            }
            span.night-number {
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50% , -50%);
                color: #000000;
                margin-top: -5px;
            }
            span.night-heading {
                display: block;
                color: #8b8383;
            }
        }
        .guest-and-room-details{
            justify-content: space-between;
            .guest-details{
                p{  margin: 0;
                    color: #8b8383;
                    span{
                        margin-right: 2px;
                    }
                    span.adult-count{
                        margin-right: 5px;
                    }
                }
            }
            .room-details{
                p{ margin: 0;
                    color:#8b8383;
                }
            }
        }
    }
    .filter-header-btn-area{
        padding: 50px 20px;
        ul{
            list-style: none;
            padding-left: 0px !important;
            margin: 0 !important;
            li{
                margin-right: 25px;
                button{
                    &.filter-close{
                        width: 120px;
                        height: 40px;
                        background: #f08c2e;
                        color: #fff;
                        border-radius: 5px;
                        font-size: 16px;
                    }
                    &.refine{
                        width: 160px;
                        height: 40px;
                        line-height: 40px;
                        background: #f08c2e;
                        color: #fff;
                        font-size: 16px;
                        padding-left: 35px;
                        border-radius: 5px;
                        img{
                            position: absolute;
                            top: 10px;
                            left: 20px;
                        }
                    }
                }
            }
        }
    }
}
section.filter-header-area-mobile-version{
    display: none;
}


	// Main-search-area

	section.main-search-area{
		.box-inner {
			position: relative;
			width: 100%;
			padding: 15px 40px;
			padding-bottom: 45px;
			background: #fff;
			box-shadow:0 3px 40px 0 rgba(0, 0, 0, 0.07);
			border-radius: 10px;
			z-index: 1;
		}
		.search-area{
			max-width: 685px;
			width: 100%;
			margin: 0 auto;
			.mainSearch {
				position: relative;
				margin-bottom: 20px;
				width: 100%;
				display: flex;
				.searchLeft {
					width: 100%;
					.inputBox2 {
						position: relative;
						input {
							border-top: solid #c2c2c2 1px !important;
							border-bottom: solid #c2c2c2 1px !important;
							border-left: solid #c2c2c2 1px !important;
							border-top-left-radius: 5px;
							border-bottom-left-radius: 5px;
							background: #fff;
							position: relative;
							padding-left: 15px;						
							width: 100%;
							font-size: 15px;
							line-height: 24px;
							border: none;
							font-weight: 400;
							height: 52px;
							&:focus{outline: none;}
						}
						.delete {
							position: absolute;
							right: 10px;
							top: 15px;
							font-size: 23px;
							cursor: pointer;
							color: #b3b3b3;
						}
					}
				}
				.rightBTN {
					width: auto;
					.appBtn {
						background: transparent;
						border: solid #c2c2c2 1px;
						border-top-right-radius: 5px;
						border-bottom-right-radius: 5px;
						border-left: 0;
						padding-left: 1px;
						font-size: 20px;
						height: 52px;
						margin:0 !important;
						border-top-left-radius: 0px;
						border-bottom-left-radius: 0px;
						padding-right: 15px;
						padding-left: 10px;
						&:hover{
							background: transparent !important;
						}
						mat-icon{    color: #f08c2e;
							font-size: 28px;
							margin-top: 7px;}
					}
				}
			}
		}
		.hotel-booking-area{
			mat-form-field{
				border: 1px solid rgba(51, 51, 51, 0.2901960784313726);
				border-radius: 5px;
				padding: 8px 10px;
				height: 45px;
				width: 100%;
				&.mat-form-field-should-float{
					label{
						display: none;
					}
				}
				.mat-form-field-wrapper {
					padding-bottom: 0px;
					.mat-form-field-suffix{
						position: absolute; right: 0;
					}
					.mat-form-field-infix {
						border-top: 0px ;
						width: 100%;
					}
					span.mat-button-wrapper {
						font-size: 25px;
						color: #b1acac;
						
					}
					.mat-form-field-underline{
						display: none ;
					}
					// mat-datepicker-toggle.mat-datepicker-toggle {
					// 	position: absolute;
					// 	top: -2px;
					// 	right: 0;
					// }
				}
				
			}
			.label-bottom.text-right{
				span{
					font-size: 13px;
					color: #636363;
				}
			}
			.hotel-booking-left-area{
				.night-count {
					position: relative;
					width: auto;
					height: 60px;
					margin-top: 20px;
					margin-right: 10px;
					text-align: center;
					span{
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50% , -50%);
						color: #333;
						font-weight: 600;
						margin-top: -8px;
					}
					i.material-icons {
						font-size: 40px;
						color: rgba(51, 51, 51, 0.3411764705882353);
					}
				}
			}
			.mobile-booking-area{
				display: none;
			}
		}
		.advance-search-area{
			.advance-search-main{
				position: relative;
				mat-expansion-panel {
					box-shadow: none !important;
				}
				mat-expansion-panel-header{
					max-width: 245px !important;
					padding-left: 0px;
					mat-panel-title.mat-expansion-panel-header-title {
						font-size: 16px;
						color: #f08c2e;
					}
					span.mat-expansion-indicator.ng-tns-c5-9.ng-trigger.ng-trigger-indicatorRotate.ng-star-inserted {
						margin-top: -5px;
					}
					.mat-expansion-indicator::after, .mat-expansion-panel-header-description {
						color: #f08c2e !important;
					}
					&:hover{
						background: transparent !important;
					}
					span.mat-expansion-indicator{
						margin-top: -5px;
					}
				}
				.mat-expansion-panel-body{
					padding: 0px !important;
				}
				.advance-search-content-area{
					.advance-search-single-box{
						.search-title{
							margin-bottom: 20px;
							h4{
								font-size: 16px;
								span.icon{
									position: absolute;
    								top: -2px;
								}
								span.rating-title{
									margin-left: 25px;
								}
							}
						}
						.search-checkbox-area{
							mat-checkbox{
                                display: block;
							}
						}
					}
				}
				.btn-reset {
					position: absolute;
					right: -15px;
					top: 15px;
					button{
						color: #f08c2e;
						font-size: 15px;
						font-weight: 400;
					}
				}
			}
		}
		
		.trending-searches-area{
			.trending-search-main{
				margin-top: 0px;
				ul{
					padding-left: 0 !important;
					list-style: none;
					display: block;
					margin-bottom: 0px !important;
					p.title {
						padding-right: 25px;
						padding-top: 5px;
						font-size: 14px;
						color: #979292;
						margin-bottom: 0px !important;
					}
					li{
						display: inline-block;
						margin-top: 10px;
						margin-right: 8px;
						a{
							width: 80px;
							height: 30px;
							display: flex;
							justify-content: center;
							align-items: center;
							font-size: 13px;
							color: #979292;
							border:1px solid rgba(177, 172, 172, 0.6588235294117647);
							border-radius: 3px;
						}
					}
				}
			}
		}
		.search-btn-area{
			position: absolute;
			left: 50%;
			bottom: -24px;
			transform: translateX(-50%);
			button{
				width: 165px;
				height: 50px;
				margin: 0 auto;
				color: #fff;
				font-size: 20px;
				background: #f08c2e;
				border-radius: 3px;
				text-transform: uppercase;
				box-shadow: 0px 0px 20px #00000029;
			}
		}
	}

// Hotel filter search area css

section.hotel-filter-search-area{    
    .newContainer{
        position: relative;
    }
    mat-expansion-panel {
        box-shadow: none !important;
    }
    mat-expansion-panel-header{
        padding-left: 0px;
        height: 40px !important;
        mat-panel-title.mat-expansion-panel-header-title {
            font-size: 15px;
            color: #444444;
            margin-right: 0px;
        }
        &:hover{
            background: transparent !important;
        }
    }
    .mat-expansion-panel-body{
        padding: 0px !important;
    }
    .hotel-filter-search-area-inner {
        border-radius: 8px;
        border-radius: 8px;
        position: absolute;
        margin: 0 auto;
        width: 100%;
        z-index: 111;
        .br-round{
            border: 1px solid rgba(51, 51, 51, 0.15);
        }
        .show-radius-b1{
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            box-shadow:0px 10px 20px -10px #00000029;
        }
        .show-radius-b2{
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            box-shadow:0px 10px 20px -10px #00000029;
        }
        .show-radius-b3{
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            box-shadow:0px 10px 20px -10px #00000029;
        }
        .show-radius-b4{
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            box-shadow:0px 10px 20px -10px #00000029;
        }
        .pl-0{
            padding-left: 0px !important;
            padding-right: 45px !important;
        }
        .bl-radius{
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
        }
        .br-radius{
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
        }
        .single-accordion-box{
            position: relative;
            padding: 15px;
            background: #fff;
            &.rating-area{
                span.icon{
                    position: absolute;
                    left: 5px;
                    top: 14px;
                }
                span.text{
                    padding-left: 20px;
                }
            }
            span.icon-down {
                position: absolute;
                right: 5px;
                margin-top: -4px;
            }
            .mat-slider-horizontal {
                height: 40px;
                min-width: 100%;
            }
            p.price-range {
                display: flex;
                justify-content: space-between;
            }
            mat-checkbox {
                margin-right: 4px;
                .mat-checkbox-inner-container{
                    width: 15px;
                    height: 15px;
                    margin-right: 5px;
                }
            }
            .mat-checkbox-layout .mat-checkbox-label {
                line-height: 24px;
                padding-top: 2px;
            }
            ul{
                padding-left: 0px;
                list-style: none;
            }
            .distance-checkbox{
                mat-checkbox{
                    display: inline-block;
                    width: 47%;
                }
            }
            
        }
        .reset-btn-area{
            padding-right: 15px;
            padding-bottom: 26px;
            background: #fff;
            border: 1px solid rgba(51, 51, 51, 0.15);
            border-left: 0;
            p{ margin: 0;
                color: #f08c2e;
            }
        }
        button.mat-button {
            margin-top: 16px;
            color: #f08c2e;
            font-size: 20px;
            i{
                font-size: 30px;
                font-weight: 600;
            }
            .mat-button-ripple{
                display: none;
            }
            .mat-button-focus-overlay{
                display: none;
            }
        }
    }
}




// Filter-result-area css

section.filter-result-area{
    .filter-left-menu-area{
        position: relative;
        border: 1px solid rgba(51, 51, 51, 0.14901960784313725);
        border-radius: 8px;
        background: #fff;
        .b-border{
            border-bottom: 1px solid rgba(51, 51, 51, 0.21176470588235294);
        }
        mat-accordion.mat-accordion .mat-expansion-panel {
            background: transparent !important;
        }
        mat-expansion-panel-header{
            margin-bottom: 0px !important;
            &:hover{
                background: transparent !important;
            }
        }
        .menu-heading {
            position: relative;
            width: 100%;
            height: 40px;
            text-align: center;
            padding: 12px;
            background: #642782;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            h4{
                font-size: 14px;
                color: #fff;
            }
        }
        .menu-p-text {
            position: relative;
            width: 100%;
            padding: 12px 0;
            text-align: center;
            border-bottom: 1px solid rgba(51, 51, 51, 0.21176470588235294);
            p{margin: 0;}
        }
        .name-contains-area {
            padding: 15px;
            border-bottom: 1px solid rgba(51, 51, 51, 0.21176470588235294);
            .label{
                span{
                    font-size: 14px;
                }
            }
            mat-form-field{
                border: 1px solid rgba(51, 51, 51, 0.18823529411764706);
                border-radius: 5px;
                padding: 8px 10px;
                height: 40px;
                width: 100%;
                .mat-form-field-wrapper {
                    padding-bottom: 0px !important;
                    .mat-form-field-infix {
                        border-top: 0px !important;
                        padding: 3px !important;
                    }
                    span.mat-button-wrapper {
                        font-size: 25px !important;
                        color: #b1acac !important;
                        padding-right: 15px;
                    }
                    .mat-form-field-underline{
                        display: none !important;
                    }
                }
                
            }
        }
        .mat-expansion-panel{
            box-shadow: none !important;
        }
        .mat-expansion-panel-header{
            position: relative;
            padding: 0px 0px 0px 35px !important;
            height: 40px !important;
            margin-bottom: 5px;
            span.down-icon {
                position: absolute;
                top: 8px;
                left: 10px;
                i{
                    color: #f08c2e;
                }
            }
            &.mat-expanded{
                span.down-icon i:after{content: " arrow_drop_up "; position: absolute; left: 0; background: #fff;}
            }
            mat-panel-title.mat-expansion-panel-header-title {
                font-size: 15px;
                color: #642782;
            }
        }
        .mat-expansion-panel-body {
            padding: 10px 15px 15px !important;
        }
        .mat-checkbox{
            position: relative;
            display: block;
            .mat-checkbox-inner-container{
                width: 15px;
                height: 15px;
                margin-top: 4px;
            }
            span.filter-number {
                position: absolute;
                right: 0px;
                top: 0;
            }
        }
        .show-more-btn{
            a{
                color: #f08c2e;
            }
        }
    }
    .filter-result-main-area{
        .filter-result-signle-content{
            border-radius: 8px;
            margin-bottom: 30px;
            background: #fff;
            box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.06);
            .mobile-side-review-with-best-deal{
                display: none;
            }
            .signle-hotel-details{
                max-width: 640px;
                width: 100%;
                padding: 20px;
                border-right: 1px solid rgba(51, 51, 51, 0.21176470588235294);
                .hotel-details-header {
                    justify-content: space-between;
                    h4{
                        font-size: 16px;
                        color: #f08c2e;
                    }
                    p.location {
                        max-width: 480px;
                        width: 100%;
                        font-size: 14px;
                        color: #383737;
                        margin-top: 10px;
                        line-height: 20px;
                    }
                    // .hotel-review-area {
                    // 	margin-top: -10px;
                    // }
                    p.review {
                        font-size: 13px;
                        margin-bottom: 0px;
                        color: #652783;
                        text-align: center;
                    }
                    p.review-number {
                        font-size: 13px;
                        color: #f08c2e;
                        text-align: center;
                    }
                }
                .hotel-img-area {
                    max-width: 240px;
                    width: 100%;
                    margin-right: 25px;
                }
                .details-right-content {
                    max-width: 425px;
                    width: 100%;
                    justify-content: space-between;
                    .payment-details {
                        padding-top: 15px;
                        span.payment-icon {
                            max-width: 100px;
                            width: 100%;
                            display: inline-block;
                            margin-right: 5px;
                            margin-bottom: 5px;
                        }
                    }
                }
                ul.rating {
                    padding-left: 0px;
                    padding-top: 10px;
                    list-style: none;
                    li{
                        i{
                            color: #f08c2e;
                        }
                    }
                }
                .place-title{
                    margin-bottom: 5px;
                    span.icon{
                        margin-right: 10px;
                    }
                    span.location{
                        color: #642782;
                    }
                }
                .location-distance{
                    p{
                        margin-bottom: 5px !important;
                        color: #383737; 
                    }
                }
            }
            .best-deals-area {
                max-width: 140px;
                width: 100%;
                text-align: center;
                .website-count-area {
                    padding: 10px;
                    text-align: center;
                    position: relative;
                    width: 100%;
                    border-bottom: 1px solid rgba(51, 51, 51, 0.21176470588235294);
                    p{
                        font-size: 12px;
                        color: #817e7e;
                        margin-bottom: 0px !important;
                    }
                }
                .best-deal-inner {
                    padding-top: 30px;
                    .heading p {
                        font-size: 15px;
                        color: #642782;
                    }
                    p.deal-amount{
                        font-size: 22px;
                        color: #f08c2e;
                        font-weight: 600;
                    }
                    p.night {
                        font-size: 16px;
                        color: #000000;
                        font-weight: 600;
                    }
                    .chose-room-btn {
                        margin-top: 20px;
                        button{
                            background: #652783;
                            color: #fff;
                            border-radius: 5px;
                        }
                    }
                }
            }
        }
    }
}


.filter-modal-main{
    display: none;
}





// Tab responsive
@media screen and (max-width:1199px) {
    
    section.hotel-filter-header-area .filter-header-left-area .hotel-location-details .location-details p{
        padding-top:5px;
        font-size: 12px;
    }
    
    .filter-header-btn-area ul li button.refine{
        width: 140px !important;
        font-size: 16px !important;
    }
    .filter-header-btn-area ul li button.refine img{
        position: absolute;
        top: 12px !important;
        left: 10px !important;
    }
    .filter-header-btn-area ul li{
        margin-right: 10px !important;
    }
    section.main-search-area .trending-searches-area .trending-search-main ul{
        display: block !important;
        li{
            display: inline-block !important;
            margin-bottom: 5px;
        }
    }
    section.filter-result-area .filter-left-menu-area .menu-p-text p{
        font-size: 12px;
    }
    section.hotel-filter-search-area .hotel-filter-search-area-inner .single-accordion-box .distance-checkbox mat-checkbox{
        display: inline-block;
        width: auto !important;
        margin-right: 5px;
    }
    section.hotel-filter-search-area mat-expansion-panel-header mat-panel-title.mat-expansion-panel-header-title{
        font-size: 14px;
    }
    .filter-left-menu-area{
        .mat-checkbox-layout .mat-checkbox-label {
            font-size: 12px;
        }
    }
    section.main-search-area .hotel-booking-area mat-form-field.mat-input-container .mat-form-field-wrapper .mat-form-field-infix{
        width: 135px;
    }
    section.filter-result-area .filter-result-main-area .filter-result-signle-content .signle-hotel-details .hotel-details-header p.location{
        max-width: 400px;
    }
    section.filter-result-area .filter-result-main-area .filter-result-signle-content .signle-hotel-details .details-right-content .payment-details span.payment-icon{
        max-width: 80px;
    }
    section.filter-result-area .filter-result-main-area .filter-result-signle-content .signle-hotel-details .hotel-img-area{
        max-width: 185px;
        width: 100%;
        margin-right: 15px;
    }
    section.filter-result-area .filter-result-main-area .filter-result-signle-content .signle-hotel-details ul.rating{
        padding-top: 0px;
    }
    section.filter-result-area .filter-result-main-area .filter-result-signle-content .signle-hotel-details .details-right-content .payment-details{
        padding-top: 0px;
    }
    section.filter-result-area .filter-result-main-area .filter-result-signle-content .best-deals-area .best-deal-inner .chose-room-btn button{
        font-size: 12px;
        padding: 0px 10px;
    }
    section.filter-result-area .filter-left-menu-area .mat-expansion-panel-header mat-panel-title.mat-expansion-panel-header-title{
        font-size: 14px;
    }
}


// Tab Mini Css

@media screen and (max-width:999px){
    section.main-search-area .box-inner{
        margin-top: -220px;
        padding: 15px 20px;
    }
    section.main-search-area .search-area .mainSearch{
        margin-bottom: 10px;
    }
    section.main-search-area .trending-searches-area .trending-search-main{
        margin-bottom: 25px;
    }
    .reset-btn-area{
        padding-right: 0px !important;
        button.mat-button {
            margin-top: 20px;
            color: #f08c2e;
            padding-right: 30px;
        }
    }
    section.hotel-filter-header-area .filter-header-inner{
        border-radius: 15px;
        .header-map-area{
            img{
                border-top-right-radius: 15px;
            }
        }
    }
    section.hotel-filter-search-area mat-expansion-panel-header mat-panel-title.mat-expansion-panel-header-title{
        font-size: 10px;
    }
    section.hotel-filter-search-area .hotel-filter-search-area-inner .single-accordion-box ul{
        display: block !important;
    }
    .b-right{
        border-right: 0px !important;
    }
    .hotel-location-details.d-flex {
        border-bottom: 1px solid #33333330;
    }
    section.hotel-filter-header-area .filter-header-left-area .hotel-location-details .location-details p{
        padding-top: 15px;
    }
    section.hotel-filter-header-area .date-roome-details .night-info span.night-number{
        margin-top: -3px;
    }
    section.hotel-filter-header-area .filter-header-left-area .hotel-location-details .map-btn button{
        border-bottom-left-radius: 0px;
    }
    section.hotel-filter-header-area .filter-header-btn-area{
        padding: 50px 10px;
    }
    section.hotel-filter-header-area .filter-header-btn-area ul{
        justify-content: flex-end;
    }
    .hotel-booking-area mat-form-field.mat-input-container .mat-form-field-wrapper .mat-form-field-infix{
        width: 225px !important;
    }
    .hotel-booking-left-area {
        margin-bottom: 20px;
    }
    section.main-search-area .box-inner{
        padding: 30px 20px;
    }
    section.filter-result-area .filter-left-menu-area{
        display: none;
    }
}


// Mobile Screen Css



@media screen and (max-width:767px) {
    .newContainer{
        max-width: 550px;
    }
    section.hotel-filter-search-area{
        display: none;	
    }
    .bg-mobile{
        background: #f7f7f7 !important;
    }
    .section-heading h3{
        font-size: 22px;
    }
    .col-sm-6{
        width: 50% !important;
    }
    .m-mb{
        margin-bottom: 15px;
    }
    section.main-search-area.hotel-booking-feild{
        display: none;
    }
    section.hotel-filter-header-area{
        display: none;
    }	
    .filter-left-menu-area{
        display: none;
    }
    .mr-0{
        margin-right: 0px !important;
    }
    
    
    // Filter Modal Css


    .filter-modal-main{
        background: #fff;
        display: block !important;
        .price-range-slider{
            .slider-top-area{
                padding: 10px;
                border-bottom: 1px solid #33333324;
                h4{
                    font-size: 16px;
                    color: #000000;
                }
                .price-range-area{
                    p{
                        font-size: 15px;
                        color: #444444;
                        margin-bottom: 0px !important;
                    }
                }
                mat-slider.mat-slider.mat-accent.mat-slider-horizontal{
                    height: 45px !important;
                    padding: 0 !important;
                    min-width: 100% !important;
                }
                .mat-slider-horizontal .mat-slider-wrapper{
                    left: 0 !important;
                    right: 0 !important;
                }
            }
            .rating-checkbox-area{
                padding: 10px;
                border-bottom: 1px solid #33333324;
                h4{
                    position: relative;
                    span{
                        position: absolute;
                        right: 0;
                    }
                }
                mat-checkbox{
                    display: inline-block;
                    width: 105px;
                    margin-top: 5px;
                }
            }
            .dsitance-checkbox-area{
                padding: 10px;
                border-bottom: 1px solid #33333324;
                h4{
                    position: relative;
                    span{
                        position: absolute;
                        right: 0;
                    }
                }
                mat-checkbox{
                    display: inline-block;
                    width: 105px;
                    margin-top: 5px;
                }
            }
            .guest-rating-checkbox-area{
                padding: 10px;
                border-bottom: 1px solid #33333324;
                h4{
                    position: relative;
                    span{
                        position: absolute;
                        right: 0;
                    }
                }
                mat-checkbox{
                    display: inline-block;
                    width: 105px;
                    margin-top: 5px;
                }
            }
            .filter-modal-btn-area{
                ul{
                    padding:0 !important;
                    list-style: none;
                    margin-top: 10px;
                    justify-content: center;
                    li{
                        margin: 0px 5px;
                        background: #f08c2e;
                        border-radius: 5px;
                        color: #fff;
                        button{
                            width: 140px;
                        }
                    }
                }
            }
        }
    }


    section.filter-header-area-mobile-version{
        position: relative;
        background: #fde9d6;
        border-bottom: 1px solid #f08c2ec2;
        display: block !important;
        height: 65px;;
        .bg-gradient{
            position: absolute;
            left: 0;
            bottom: -201px;
            width: 100%;
            height: 200px;
            background-image:linear-gradient(0deg, #f7f7f752 10%, #fde9d6 90%);
            background-image: -moz-linear-gradient(0deg, #f7f7f752 10%, #fde9d6 90%);
            background-image: -webkit-linear-gradient(0deg, #f7f7f752 10%, #fde9d6 90%);
            background-image: -ms-linear-gradient(0deg, #f7f7f752 10%, #fde9d6 90%);
        }
         
        .filter-mobile-menu-main{
            justify-content: space-between;
            .header-menu-left-area{
                button{
                    min-width: 20px !important;
                    padding: 0 !important;
                    i{
                        color: #f08c2e;
                    }
                }
                span.location{
                    font-size: 13px;
                    color: #444444;
                }
                
            }
            .header-menu-right-area{
                ul{
                    padding: 0 !important;
                    list-style: none;
                    margin-top: 15px;
                    margin-bottom: 0px;
                    li{
                        margin-right: 0px;
                    }
                }
                button{
                    min-width: 20px;
                    padding: 0 5px !important;
                    i{
                        color: #949494;
                    }
                    &:hover , &:active , &:focus{
                        i{
                            color: #f08c2e;
                        }
                    }
                }
            }

        }
        .date-room-details {
            position: relative;
            margin-top: -12px;
            p{
                color: #686868;
                font-size: 13px;
                span.icon {
                    position: absolute;
                    left: 25px;
                    top: -3px;
                    i{
                        color: #686868;
                        font-size: 22px;
                    }
                }
                span.date {
                    padding-left: 50px;
                }
            }
            
        }
    }
    section.filter-result-area{
        margin-top: 0px !important;
        background: #f7f7f7 !important;
        padding-top: 10px;
        .filter-result-main-area{
            .filter-result-signle-content{
                margin-bottom: 15px !important;
                .signle-hotel-details{
                    padding: 10px !important;
                    border-right: 0px;
                }
                .hotel-details-wrapper{
                    display: block !important;
                }
                .hotel-title-area{
                    h4{
                        font-size: 13px !important;
                        margin-bottom: 0px !important;
                    }
                    p{
                        font-size: 12px !important;
                        margin-top: 5px !important;
                    }
                }
                .hotel-details-header{
                    .hotel-review-area{
                        display: none;
                    }
                }
                .hotel-details-wrapper{
                    .hotel-img-area{
                        max-width: 100% !important;
                        img{
                            width: 100%;
                            height: 200px;
                            object-fit: cover;
                        }
                    }
                }
                .details-right-content{
                    display: block !important;
                    max-width: 100% !important;
                }
                .details-right-content .payment-details{
                    padding-top: 20px !important;
                }
                ul.rating.d-flex {
                    margin-bottom: 0px;
                    padding-top: 10px !important;
                }
                .single-payment-item {
                    float: left;
                    width: 50%;
                    height: 25px;
                    display: flex;
                    margin-right: 25px;
                    span.payment-icon{
                        max-width: 80px !important;
                    }
                    span{
                        font-size: 12px;
                    }
                }
                .hotel-rating.mobile-side-review-section {
                    position: relative;
                    .place-title span.icon{
                        margin-right: 5px;
                        img{
                            width: 15px;
                        }
                    }
                    span.location {
                        font-size: 12px;
                    }
                    .location-distance{
                        p{
                            font-size: 11px;
                            margin-bottom: 0px !important;
                        }
                    }
                }

                .mobile-side-review-with-best-deal{
                    display: block !important;
                    position: absolute;
                    right: 0;
                    top: 10px;
                    p.review {
                        font-size: 12px;
                        margin-bottom: 0px;
                        color: #652783;
                        text-align: center;
                    }
                    p.review-number {
                        font-size: 12px;
                        color: #f08c2e;
                        text-align: center;
                    }
                    .best-deal-inner-mobile {
                        text-align: right;
                        .heading p {
                            font-size: 12px;
                            color: #642782;
                            margin-bottom: 0px !important;
                        }
                        p.deal-amount{
                            font-size: 18px;
                            color: #f08c2e;
                            font-weight: 600;
                            margin-bottom: 0px !important;

                        }
                        p.night {
                            font-size: 11px;
                            color: #8f8d8d;
                            font-weight: 600;
                        }
                    }
                }
                .best-deals-area{
                    display: none;
                }
                .payment-details{
                    .single-payment-item{
                        margin-right: 0px;
                    }
                    .single-payment-item.mr-0.ml-25 {
                        justify-content: flex-end;
                    }
                }
            }
        }
    }
}



@media screen and (max-width:580px) {
    section.filter-header-area-mobile-version {
        height: 60px;
    }
    section.filter-header-area-mobile-version .filter-mobile-menu-main .header-menu-left-area button {
        margin-top: -2px;
    }
    section.filter-header-area-mobile-version .date-room-details{
        margin-top: -19px;
    }
    section.filter-header-area-mobile-version .date-room-details p span.date {
        padding-left: 50px;
    }
    section.filter-header-area-mobile-version .date-room-details p span.icon {
        position: absolute;
        left: 25px;
        top: -3px;
    }
    .single-payment-item.mr-0.ml-25 {
        justify-content: flex-end;
    }
    .payment-details{
        display: block !important;
        .single-payment-item{
            &.mr-0{
                margin-right: 0px !important;
            }
        }
    }
}
@media screen and (max-width:480px) {
    .hotel-img-area{
        max-width: 100% !important;
        img{
            width: 100%;
            height: 150px !important;
            object-fit: cover;
        }
    }
}

}