<div class="hotel-landing-main">




    <!-- Filter header area mobile version -->
  
  <section class="filter-header-area-mobile-version">
      <div class="bg-gradient"></div>
      <div class="mobilenewContainer">
          <div class="filter-mobile-menu-main d-flex">
              <div class="header-menu-left-area">
                  <div class="btn-back-wrap">
                      <button class="btn-back" mat-button>
                          <i class="material-icons">
                              arrow_back
                          </i>
                      </button>
                      <span class="location">
                          New delhi, india
                      </span>
                  </div>
              </div>
              <div class="header-menu-right-area">
                  <ul class="menu-main d-flex">
                      <li>
                          <button class="btn-back" mat-button>
                              <i class="material-icons">
                                  room
                              </i>
                          </button>
                      </li>
                      <li>
                          <button class="btn-back" mat-button>
                              <img src="assets/img/room/filter-mobile.png" alt="">
                          </button>
                      </li>
                      <li>
                          <button class="btn-back" mat-button>
                              <i class="material-icons">
                                  house
                              </i>
                          </button>
                      </li>
                  </ul>
              </div>
          </div>
          <div class="date-room-details">
              <p class="date-room-people">
                  <span class="date-area">
                      <span class="icon">
                          <i class="material-icons">
                              date_range
                          </i>
                      </span>
                      <span class="date">
                          01 May | 05 May, 
                      </span>
                      <span class="people-count">
                          2 Adult,
                      </span>
                      <span class="night-count">
                          4 nights
                      </span>
                  </span>
              </p>
          </div>
      </div>
  </section>







      <!-- Filter header area mobile version end -->



 
  <!-- Filter Header Area Start -->

  <section class="hotel-filter-header-area"  *ngIf="!searchOnMap">
      <div class="newContainer">
          <div class="filter-header-inner">
              <div class="row no-gutter">
                  <div class="col-lg-4 col-md-12 no-col-gutter b-right">
                      <div class="filter-header-left-area">
                          <div class="header-map-area">
                              <img src="assets/img/room/header-map.png" alt="header map" class="header-map">
                          </div>
                          <div class="hotel-location-details d-flex">
                              <div class="map-btn">
                                  <button mat-button (click)="searchMap()">
                                      <i class="material-icons">
                                          search
                                      </i>
                                      View on Map
                                  </button>
                              </div>
                              <div class="location-details">
                                  <p>
                                      <span>
                                          Okhla Phase 1, New Delhi, India
                                      </span>
                                  </p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6 no-col-gutter b-right">
                      <div class="date-roome-details">
                          <div class="date-info d-flex">
                              <div class="check-in-date">
                                  <p>
                                      <mat-icon class="align-bottom">date_range</mat-icon>
                                      <span class="check-in-date">01/05/ 2019 </span>
                                  </p>
                              </div>
                              <div class="check-out-date">
                                  <p>
                                    <mat-icon class="align-bottom">date_range</mat-icon>
                                      <span class="check-out-date">07/05/ 2019 </span>
                                  </p>
                              </div>
                          </div>
                          <div class="night-info">
                              <i class="material-icons">
                                  calendar_today
                              </i>
                              <span class="night-number">3</span>
                              <span class="night-heading">Night</span>
                          </div>
                          <div class="guest-and-room-details d-flex">
                              <div class="guest-details">
                                  <p class="guest-info">
                                     <span class="adult-count"><span>1</span>Adult,</span>
                                     <span class="Children-count"><span>3</span>Children</span>
                                  </p>
                              </div>
                              <div class="room-details">
                                  <p class="room-info">
                                      <span>1</span>
                                      Room
                                  </p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6 no-col-gutter">
                      <div class="filter-header-btn-area">
                          <ul class="d-flex">
                              <li>
                                  <button class="filter-close" mat-button  (click)="modifyFun()">
                                      Modify
                                  </button>
                              </li>
                              <li>
                                  <button class="refine" [disabled]="searchModify" mat-button  (click)="refineFun()">
                                      <span class="icon">
                                          <img src="assets/img/d-fliter.png" alt="">
                                      </span>
                                      Refine Result
                                  </button>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <!-- Filter Header Area End-->


   <!-- Hotel search map header menu start -->
   <section class="hotel-search-map-header  mb-4" *ngIf="searchOnMap">
        <div class="newContainer">
            <div class="hotel-map-search-inner d-flex">
                <div class="search-map-header-left-area">
                    <p class="place">New Delhi, India</p>
                    <p class="guest-details">
                        <span class="date">Fri 14 - Fri- 21 June</span>,
                        <span class="night-count">7 Nights</span>,
                        <span class="room-count">1 Room</span>,
                        <span class="guest-count">2 Adults</span>
                    </p>
                </div>
                <div class="search-map-header-right-area d-flex">
                    <div class="modify-btn-area">
                        <button class="btn-modify" mat-button (click)="modifyFun()">Modify</button>
                    </div>
                    <div class="btn-view text-center">
                        <button class="btn-view" mat-button (click)="searchMap()">
                            <img src="assets/img/view-icon.png" alt="View icon" class="view-icon">
                        </button>
                        <p (click)="searchMap()">List Viwe</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hotel search map header menu end -->


 <!-- Main Search & Boking Start -->

        <section class="main-search-area hotel-booking-feild bg-mobile" *ngIf="searchModify">
            <div class="newContainer">
                <div class="box-inner">
                    <div class="search-area">
                        <div class="label"><span>Destinition</span></div>
                        <div class="mainSearch">                             
                            <div class="searchLeft">                                
                                <div class="inputBox2">
                                    <input class="searchField" placeholder="Pickup current location" type="text" (keyup)="keyUpSearch(postCode,$event)" >                
                                    <mat-icon class="delete" (click)="cross()" *ngIf="crossView" style="right: 55px;">close</mat-icon>
                                    <mat-icon class="delete" (click)="currentLocation()" >gps_fixed</mat-icon>
                                </div>                                                         
                            </div>  
                            <div class="rightBTN">
                                <button ion-button class="appBtn" (click)="search()"><mat-icon>search</mat-icon></button>
                            </div>        
                        </div>   
                      
                    </div>
                    <div class="hotel-booking-area">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 ">
                                <div class="hotel-booking-left-area">
                                    <div class="row">
                                        <div class="col-md-6 tw-50">
                                            <div class="check-in-area d-flex">
                                                <div class="night-count">
                                                    <i class="material-icons">
                                                        calendar_today
                                                    </i>
                                                    <span class="night-number">3</span>
                                                    <div class="night count-heading">Nights</div>
                                                </div>
                                                <div class="check-in-main m-mb">
                                                    <div class="label"><span>Check in</span></div>
                                                    <mat-form-field>
                                                        <input matInput [matDatepicker]="picker" placeholder="MM.DD.YY">
                                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                        <mat-datepicker #picker></mat-datepicker>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 tw-50">
                                            <div class="check-out-main">
                                                <div class="label"><span>Check Out</span></div>
                                                <mat-form-field>
                                                    <input matInput [matDatepicker]="picker2" placeholder="MM.DD.YY">
                                                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker2></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="hotel-booking-right-area">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="room-count m-mb">
                                                <div class="label"><span>Room</span></div>
                                                <mat-form-field>
                                                    <mat-select [(value)]="selected" placeholder="Delux Room">
                                                        <mat-option>None</mat-option>
                                                        <mat-option value="1">Room Type</mat-option>
                                                        <mat-option value="2">Room Type</mat-option>
                                                        <mat-option value="3">Room Type</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="adult-count m-mb">
                                                <div class="label"><span>Adult</span></div>
                                                <mat-form-field>
                                                    <mat-select [(value)]="selected" placeholder="2">
                                                        <mat-option>None</mat-option>
                                                        <mat-option value="1">Option 1</mat-option>
                                                        <mat-option value="2">Option 2</mat-option>
                                                        <mat-option value="3">Option 3</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                                <div class="label-bottom text-right"><span>Age +18</span></div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="children-count m-mb">
                                                <div class="label"><span>Children</span></div>
                                                <mat-form-field>
                                                    <mat-select [(value)]="selected" placeholder="4">
                                                        <mat-option>None</mat-option>
                                                        <mat-option value="1">Option 1</mat-option>
                                                        <mat-option value="2">Option 2</mat-option>
                                                        <mat-option value="3">Option 3</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                                <div class="label-bottom text-right"><span>Age 0-17</span></div>
                                            </div>
                                        </div>     
                                    </div>
                                </div>

                                <!-- Room booking for mobile screen -->

                                <div class="mobile-booking-area">
                                    <div class="mobile-screen-booking-main">
                                        <div class="people-count-area">
                                            <p class="icon">
                                                <i class="material-icons">
                                                    person
                                                </i>
                                            </p>
                                            <p class="adult"><span class="adult-count">0</span>Adult</p>
                                            <p class="children"><span class="adult-count">0</span>Children</p>
                                            <p class="icon">
                                                <i class="material-icons">
                                                    expand_more
                                                </i>
                                            </p>
                                        </div>
                                        <div class="night-count-area">
                                            <p>
                                                <span class="night-number">3</span>
                                                Night(s)
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Advance Search Start -->

                    <div class="advance-search-area">
                        <div class="advance-search-main">
                            <mat-accordion>
                                <mat-expansion-panel>
                                  <mat-expansion-panel-header>
                                    <mat-panel-title>
                                      Advance Search Option
                                    </mat-panel-title>
                                    
                                  </mat-expansion-panel-header>
                              
                                  <div class="advance-search-content-area">
                                      <div class="row">
                                          <div class="col-md-3 col-sm-6">
                                              <div class="advance-search-single-box m-mb">
                                                    <div class="search-title">
                                                        <h4>
                                                            <strong>
                                                                $ Price (Per night)
                                                            </strong>
                                                        </h4>
                                                    </div>
                                                    <div class="search-checkbox-area">
                                                        <mat-checkbox class="example-margin">0.00	- 09.99</mat-checkbox>
                                                        <mat-checkbox class="example-margin">10.00  - 19.99</mat-checkbox>
                                                        <mat-checkbox class="example-margin">20.00  - 39,99</mat-checkbox>
                                                        <mat-checkbox class="example-margin">40.00  - 59.00</mat-checkbox>
                                                        <mat-checkbox class="example-margin">60.00 +</mat-checkbox>
                                                    </div>
                                              </div>
                                          </div>
                                          <div class="col-md-3 col-sm-6">
                                                <div class="advance-search-single-box m-mb">
                                                    <div class="search-title">
                                                        <h4>
                                                            <strong>
                                                                <span class="icon">
                                                                    <i class="material-icons">
                                                                        star
                                                                    </i>
                                                                </span>
                                                                <span class="rating-title">Rating (x)</span>
                                                            </strong>
                                                        </h4>
                                                    </div>
                                                    <div class="search-checkbox-area">
                                                        <mat-checkbox class="example-margin">1 Star</mat-checkbox>
                                                        <mat-checkbox class="example-margin">2 Star</mat-checkbox>
                                                        <mat-checkbox class="example-margin">3 Star</mat-checkbox>
                                                        <mat-checkbox class="example-margin">4 Star</mat-checkbox>
                                                        <mat-checkbox class="example-margin">5 Star</mat-checkbox>
                                                    </div>
                                                </div>
                                          </div>
                                          <div class="col-md-3 col-sm-6">
                                                <div class="advance-search-single-box m-mb{
                                                    margin-bottom: 15px;
                                                }">
                                                    <div class="search-title">
                                                        <h4>
                                                            <strong>
                                                                Guest Rating
                                                            </strong>
                                                        </h4>
                                                    </div>
                                                    <div class="search-checkbox-area">
                                                        <mat-checkbox class="example-margin">Superb</mat-checkbox>
                                                        <mat-checkbox class="example-margin">Very Good</mat-checkbox>
                                                        <mat-checkbox class="example-margin">Good</mat-checkbox>
                                                        <mat-checkbox class="example-margin">Average</mat-checkbox>
                                                        <mat-checkbox class="example-margin">No rating</mat-checkbox>
                                                    </div>
                                                </div>
                                          </div>
                                          <div class="col-md-3 col-sm-6">
                                                <div class="advance-search-single-box m-mb">
                                                    <div class="search-title">
                                                        <h4>
                                                            <strong>
                                                                Property Type
                                                            </strong>
                                                        </h4>
                                                    </div>
                                                    <div class="search-checkbox-area">
                                                        <mat-checkbox class="example-margin">Hotel</mat-checkbox>
                                                        <mat-checkbox class="example-margin">Apartments</mat-checkbox>
                                                        <mat-checkbox class="example-margin">Hostels</mat-checkbox>
                                                        <mat-checkbox class="example-margin">Motel</mat-checkbox>
                                                        <mat-checkbox class="example-margin">Bed and Breakfasts</mat-checkbox>
                                                    </div>
                                                </div>
                                          </div>
                                      </div>
                                      <div class="btn-reset">
                                            <button mat-button>
                                                <i class="material-icons">
                                                    refresh
                                                </i>
                                                Reset
                                            </button>
                                      </div>
                                  </div>
                                </mat-expansion-panel>
                              </mat-accordion>
                        </div>
                    </div>

                    <!-- Advance Search end -->

                    <div class="trending-searches-area">
                        <div class="trending-search-main">
                            <ul class="trending-menu">
                                <p class="title">Trending Searches:</p>
                                <li><a href="">Goa</a></li>
                                <li><a href="">Dubai</a></li>
                                <li><a href="">Singapore</a></li>
                                <li><a href="">Mumbay</a></li>
                                <li><a href="">Bangkok</a></li>
                                <li><a href="">London</a></li>
                                <li><a href="">Mossoorle</a></li>
                                <li><a href="">Shimla</a></li>
                                <li><a href="">Nainital</a></li>
                                <li><a href="">New Delhi</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="search-btn-area">
                        <button mat-button routerLink="/hotel/search">Search</button>
                    </div>
                </div>
            </div>
        </section>

         <!-- Main Search & Boking End -->



  <!-- Hotel filter search menu area start -->
  <section class="hotel-filter-search-area" *ngIf="searchFilter">
      <div class="newContainer">
          <div class="hotel-filter-search-area-inner">
              <div class="row no-gutter">
                  <div class="col-md-10">
                      <div class="search-left-area">
                          <div class="row">
                              <div class="col-md-3 no-col-padding ">
                                  <div class="price-area single-accordion-box br-round bl-radius" [ngClass]="{'show-radius-b1': radius_go}">
                                      <div class="label"><span>$Price</span></div>
                                      <div class="price-accordion">
                                          <mat-accordion>
                                              <mat-expansion-panel hideToggle  #first>
                                                  <mat-expansion-panel-header class="more-option-panel-header" [collapsedHeight]="customCollapsedHeight" [expandedHeight]="customExpandedHeight"
                                                  [collapsedHeight]="customCollapsedHeight" [expandedHeight]="customExpandedHeight" (click)="showRadius()">
                                                      <mat-panel-title class="more-option-heading">
                                                          $13,826  –  $ 25,000 
                                                          <span class="icon-down">
                                                              <i class="material-icons">
                                                                  arrow_drop_down
                                                              </i>
                                                          </span>
                                                      </mat-panel-title>
                                                  </mat-expansion-panel-header>
                                                  <div class="price-range-slider">
                                                      <mat-slider></mat-slider>
                                                      <p class="price-range">
                                                          <span class="min">Min</span>
                                                          <span class="max">Max</span>
                                                      </p>
                                                  </div>
                                              </mat-expansion-panel>
                                          </mat-accordion>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-3 no-col-padding ">
                                  <div class="rating-area single-accordion-box br-round " [ngClass]="{'show-radius-b2': radius_go2}" >
                                      <div class="label">
                                          <span class="icon">
                                              <i class="material-icons">
                                                  star
                                              </i>
                                          </span>
                                          <span class="text">Rating</span>
                                      </div>
                                      <div class="rating-accordion">
                                          <mat-accordion>
                                              <mat-expansion-panel hideToggle  #scond>
                                                  <mat-expansion-panel-header class="more-option-panel-header" [collapsedHeight]="customCollapsedHeight" [expandedHeight]="customExpandedHeight"
                                                  [collapsedHeight]="customCollapsedHeight" [expandedHeight]="customExpandedHeight" (click)="showRadius2()">
                                                      <mat-panel-title class="more-option-heading">
                                                          Star Rating
                                                          <span class="icon-down">
                                                              <i class="material-icons">
                                                                  arrow_drop_down
                                                              </i>
                                                          </span>
                                                      </mat-panel-title>
                                                  </mat-expansion-panel-header>
                                                  <div class="rating-checkbox">
                                                      <mat-checkbox class="example-margin">1 Star</mat-checkbox>
                                                      <mat-checkbox class="example-margin">2 Star</mat-checkbox>
                                                      <mat-checkbox class="example-margin">3 Star</mat-checkbox>
                                                      <mat-checkbox class="example-margin">4 Star</mat-checkbox>
                                                      <mat-checkbox class="example-margin">5 Star</mat-checkbox>
                                                  </div>
                                              </mat-expansion-panel>
                                          </mat-accordion>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-3 no-col-padding ">
                                  <div class="ditance-area single-accordion-box br-round" [ngClass]="{'show-radius-b3': radius_go3}" >
                                      <div class="label"><span>Distance</span></div>
                                      <div class="distance-accordion">
                                          <mat-accordion>
                                              <mat-expansion-panel hideToggle  #third>
                                                  <mat-expansion-panel-header class="more-option-panel-header"  [collapsedHeight]="customCollapsedHeight" [expandedHeight]="customExpandedHeight"
                                                  [collapsedHeight]="customCollapsedHeight" [expandedHeight]="customExpandedHeight" (click)="showRadius3()">
                                                      <mat-panel-title class="more-option-heading">
                                                          City Center, IGI Airport
                                                          <span class="icon-down">
                                                              <i class="material-icons">
                                                                  arrow_drop_down
                                                              </i>
                                                          </span>
                                                      </mat-panel-title>
                                                  </mat-expansion-panel-header>
                                                  <div class="distance-checkbox">
                                                      <ul class="d-flex">
                                                          <li>
                                                              <span class="chekbox-heading">Landmark </span>
                                                              <mat-checkbox class="example-margin">City Center</mat-checkbox>
                                                          </li>
                                                          <li>
                                                              <span class="chekbox-heading">Airport </span>
                                                              <mat-checkbox class="example-margin">IGI Airport</mat-checkbox>
                                                          </li>
                                                      </ul>
                                                  </div>
                                              </mat-expansion-panel>
                                          </mat-accordion>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-3 no-col-padding ">
                                  <div class="guest-rating-area single-accordion-box br-round" [ngClass]="{'show-radius-b4': radius_go4}" >
                                      <div class="label"><span>Guest Rating</span></div>
                                      <div class="guest-rating-accordion">
                                          <mat-accordion>
                                              <mat-expansion-panel hideToggle  #fourth>
                                                  <mat-expansion-panel-header class="more-option-panel-header"  [collapsedHeight]="customCollapsedHeight" [expandedHeight]="customExpandedHeight"
                                                  [collapsedHeight]="customCollapsedHeight" [expandedHeight]="customExpandedHeight" (click)="showRadius4()">
                                                      <mat-panel-title class="more-option-heading">
                                                          Superb, Very Good
                                                          <span class="icon-down">
                                                              <i class="material-icons">
                                                                  arrow_drop_down
                                                              </i>
                                                          </span>
                                                      </mat-panel-title>
                                                  </mat-expansion-panel-header>
                                                  <div class="distance-checkbox">
                                                      <mat-checkbox class="example-margin">Superb</mat-checkbox>
                                                      <mat-checkbox class="example-margin">Average</mat-checkbox>
                                                      <mat-checkbox class="example-margin">Very Good</mat-checkbox>
                                                      <mat-checkbox class="example-margin">Good</mat-checkbox>
                                                      <mat-checkbox class="example-margin">No Rating</mat-checkbox>
                                                  </div>
                                              </mat-expansion-panel>
                                          </mat-accordion>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-2 pl-0">
                      <div class="reset-btn-area text-center br-radius">
                          <button mat-button>
                              <i class="material-icons">
                                  refresh
                              </i>
                          </button>
                          <p>Reset</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
 
  <div class="newContainer" *ngIf="searchFilter"><hr></div>






  <!-- Hotel filter search menu area end -->











   
  <!-- Filer Result Area Start -->

  <section class="filter-result-area">
      <div class="newContainer">
          <div class="filter-result-inner">
              <div class="row">
                  <div class="col-lg-3">
                      <div class="filter-left-menu-area">
                          <div class="menu-heading">
                              <h4>
                                  Refine Your Search
                              </h4>
                          </div>
                          <div class="menu-p-text">
                              <p>
                                  2.800 Hotels and holiday rentals
                              </p>
                          </div>
                          <div class="name-contains-area">
                              <div class="label">
                                  <span>
                                      Name Contains
                                  </span>
                              </div>
                              <mat-form-field>
                                  <mat-select [(value)]="selected">
                                      <mat-option value="1">Property Name</mat-option>
                                      <mat-option value="2">Property Name</mat-option>
                                      <mat-option value="3">Property Name</mat-option>
                                  </mat-select>
                              </mat-form-field>
                          </div>
                          <div class="popular-filter-area b-border">
                              <mat-accordion>
                                  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
                                      <mat-expansion-panel-header [collapsedHeight]="customCollapsedHeight" [expandedHeight]="customExpandedHeight">
                                          <span class="down-icon">
                                              <i class="material-icons">
                                                  arrow_drop_down
                                              </i>
                                          </span>
                                          <mat-panel-title>
                                              <strong>Popular Filters</strong>
                                          </mat-panel-title>
                                         
                                      </mat-expansion-panel-header >
                                      <div class="search-checkbox-area">
                                          <mat-checkbox class="example-margin"><strong>Free Wi-fi <span class="filter-number">(2006)</span></strong></mat-checkbox>
                                          <mat-checkbox class="example-margin"><strong>Kitchen<span class="filter-number">(1167)</span></strong></mat-checkbox>
                                          <mat-checkbox class="example-margin"><strong>Luggage Storage<span class="filter-number">(949)</span></strong></mat-checkbox>
                                          <mat-checkbox class="example-margin"><strong>Parking  <span class="filter-number">(1362)</span></strong></mat-checkbox>
                                          <mat-checkbox class="example-margin"><strong>Restaurant/Bar   <span class="filter-number">(0)</span></strong></mat-checkbox>
                                          <mat-checkbox class="example-margin"><strong>Swimming Pool<span class="filter-number">(257)</span> </strong></mat-checkbox>
                                      </div>
                                  </mat-expansion-panel>
                              </mat-accordion>
                          </div>
                          <div class="payment-filter-area b-border">
                              <mat-accordion>
                                  <mat-expansion-panel hideToggle>
                                      <mat-expansion-panel-header [collapsedHeight]="customCollapsedHeight" [expandedHeight]="customExpandedHeight">
                                          <span class="down-icon">
                                              <i class="material-icons">
                                                  arrow_drop_down
                                              </i>
                                          </span>
                                          <mat-panel-title>
                                             <strong> Payment & Cancelation</strong>
                                          </mat-panel-title>
                                      
                                      </mat-expansion-panel-header>
                                      <div class="search-checkbox-area">
                                          <mat-checkbox class="example-margin">Paypal</mat-checkbox>
                                          <mat-checkbox class="example-margin">Payoneer</mat-checkbox>
                                      </div>
                                  </mat-expansion-panel>
                              </mat-accordion>
                          </div>
                          <div class="landmark-filter-area b-border">
                              <mat-accordion>
                                  <mat-expansion-panel hideToggle>
                                      <mat-expansion-panel-header [collapsedHeight]="customCollapsedHeight" [expandedHeight]="customExpandedHeight">
                                          <span class="down-icon">
                                              <i class="material-icons">
                                                  arrow_drop_down
                                              </i>
                                          </span>
                                          <mat-panel-title>
                                              <strong>Landmark</strong>
                                          </mat-panel-title>
                                      
                                      </mat-expansion-panel-header>
                                      <div class="search-checkbox-area">
                                          <mat-checkbox class="example-margin"><strong>City Center</strong></mat-checkbox>
                                          <mat-checkbox class="example-margin"><strong>IGI Airport</strong></mat-checkbox>
                                      </div>
                                      <div class="show-more-btn">
                                          <a href="" class="btn-show-more">Show More</a>
                                      </div>
                                  </mat-expansion-panel>
                              </mat-accordion>
                          </div>
                          <div class="aacomodation-filter-area">
                              <mat-accordion>
                                  <mat-expansion-panel  hideToggle>
                                      <mat-expansion-panel-header [collapsedHeight]="customCollapsedHeight" [expandedHeight]="customExpandedHeight">
                                          <span class="down-icon">
                                              <i class="material-icons">
                                                  arrow_drop_down
                                              </i>
                                          </span>
                                          <mat-panel-title>
                                              <strong>Accomodation Type</strong>
                                          </mat-panel-title>
                                      
                                      </mat-expansion-panel-header>
                                      <div class="search-checkbox-area">
                                          <mat-checkbox class="example-margin"><strong>Apartment   <span class="filter-number">(148)</span></strong></mat-checkbox>
                                          <mat-checkbox class="example-margin"><strong>Ayurvedic Treatment<span class="filter-number">(10)</span></strong></mat-checkbox>
                                          <mat-checkbox class="example-margin"><strong>BnB<span class="filter-number">(95)</span></strong></mat-checkbox>
                                          <mat-checkbox class="example-margin"><strong>Bungalow  <span class="filter-number">(1)</span></strong></mat-checkbox>
                                          <mat-checkbox class="example-margin"><strong>Camp    <span class="filter-number">(2)</span></strong></mat-checkbox>
                                          <mat-checkbox class="example-margin"><strong>Cottage<span class="filter-number">(17)</span> </strong></mat-checkbox>
                                          <mat-checkbox class="example-margin"><strong>Couple Friendly<span class="filter-number">(20)</span> </strong></mat-checkbox>
                                          <mat-checkbox class="example-margin"><strong>Farm House<span class="filter-number">(7)</span> </strong></mat-checkbox>
                                      </div>
                                  </mat-expansion-panel>
                              </mat-accordion>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-9 col-md-12">
                      <div class="filter-result-main-area" *ngIf="!searchOnMap">
                          <div class="filter-result-signle-content d-flex">
                              <div class="signle-hotel-details">
                                  <div class="hotel-details-header">
                                      <div class="hotel-title-area">
                                          <h4 class="hotel-title">
                                              WelcomHotel Dwarka, New Delhi - ITC Hotel Group
                                          </h4>
                                          <div class="hotel-location-details">
                                              <p class="location">
                                                  Plot no 3, Sector 10, 205 Delhi Road District Center, Dwarka,110075,Delhi,New Delhi,India
                                              </p>
                                          </div>
                                      </div>
                                  </div>
                                 
                                  <div class="hotel-details-wrapper d-flex">
                                      <div class="hotel-img-area">
                                          <img src="assets/img/room/hotel1.png" alt="hotel image" class="hotel-img">
                                      </div>
                                      <div class="details-right-content d-flex">
                                          <div class="hotel-rating mobile-side-review-section">
                                              <ul class="rating d-flex">
                                                  <li>
                                                      <i class="material-icons">
                                                          star
                                                      </i>
                                                  </li>
                                                  <li>
                                                      <i class="material-icons">
                                                          star
                                                      </i>
                                                  </li>
                                                  <li>
                                                      <i class="material-icons">
                                                          star
                                                      </i>
                                                  </li>
                                                  <li>
                                                      <i class="material-icons">
                                                          star
                                                      </i>
                                                  </li>
                                              </ul>
                                              <div class="place-title">
                                                  <span class="icon">
                                                      <img src="assets/img/location-icon.png" alt="" class="location-icon">
                                                  </span>
                                                  <span class="location">
                                                      <strong>Sylhet</strong>
                                                  </span>
                                              </div>
                                              <div class="location-distance">
                                                  <p class="distance">
                                                      1.0 km to City Center
                                                  </p>
                                                  <p class="distance">
                                                      2.2 km to IGI Airport
                                                  </p>
                                              </div>
                                              <div class="mobile-side-review-with-best-deal">
                                                  <div class="hotel-review-area">
                                                      <p class="review">
                                                          <span>
                                                             <strong> Very Good 8.2</strong>
                                                          </span>
                                                      </p>
                                                      <p class="review-number">
                                                          <span>
                                                              2546 
                                                          </span>
                                                          Reviews
                                                      </p>
                                                  </div>
                                                  <div class="best-deal-inner-mobile">
                                                      <div class="heading">
                                                          <p><strong>Best Deal</strong></p>
                                                      </div>
                                                      <div class="deal-amount-area">
                                                          <p class="deal-amount">
                                                              $12.22
                                                          </p>
                                                      </div>
                                                      <div class="night-deatils">
                                                          <p class="night">
                                                              For 2 Night
                                                          </p>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="inner-review-area text-right hidden-xs">
                                                <h6>Very Good 8.2</h6>
                                                <strong>2546 Reviews</strong>  
                                                <p class="text-secondary">Limited Availablity</p>                                                
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="best-deals-area">
                                  <div class="website-count-area">
                                      <p>From 7 Websites</p>
                                  </div>
                                  <div class="best-deal-inner">
                                      <div class="heading">
                                          <p><strong>Best Deal</strong></p>
                                      </div>
                                      <div class="deal-amount-area">
                                          <p class="deal-amount">
                                              $12.22
                                          </p>
                                      </div>
                                      <div class="night-deatils">
                                          <p class="night">
                                              For 2 Night
                                          </p>
                                      </div>
                                      <div class="chose-room-btn">
                                          <button class="chose-room" mat-button routerLink="/hotel/details">Chose a Room</button>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="filter-result-signle-content d-flex">
                              <div class="signle-hotel-details">
                                  <div class="hotel-details-header d-flex">
                                      <div class="hotel-title-area">
                                          <h4 class="hotel-title">
                                              ibis New Delhi Aerocity - An AccorHotels Brand
                                          </h4>
                                          <div class="hotel-location-details">
                                              <p class="location">
                                                  Asset No.9 Hospitality District,Delhi Aerocity,IGI Airport,New Delhi,India,110037,Delhi,New Delhi,India
                                              </p>
                                          </div>
                                      </div>
                                      <div class="hotel-review-area">
                                          <p class="review">
                                              <span>
                                                 <strong> Very Good 8.2</strong>
                                              </span>
                                          </p>
                                          <p class="review-number">
                                              <span>
                                                  2546 
                                              </span>
                                              Reviews
                                          </p>
                                      </div>
                                  </div>
                                 
                                  <div class="hotel-details-wrapper d-flex">
                                      <div class="hotel-img-area">
                                          <img src="assets/img/room/hotel2.png" alt="hotel image" class="hotel-img">
                                      </div>
                                      <div class="details-right-content d-flex">
                                          <div class="hotel-rating mobile-side-review-section">
                                              <ul class="rating d-flex">
                                                  <li>
                                                      <i class="material-icons">
                                                          star
                                                      </i>
                                                  </li>
                                                  <li>
                                                      <i class="material-icons">
                                                          star
                                                      </i>
                                                  </li>
                                                  <li>
                                                      <i class="material-icons">
                                                          star
                                                      </i>
                                                  </li>
                                                  <li>
                                                      <i class="material-icons">
                                                          star
                                                      </i>
                                                  </li>
                                              </ul>
                                              <div class="place-title">
                                                  <span class="icon">
                                                      <img src="assets/img/location-icon.png" alt="" class="location-icon">
                                                  </span>
                                                  <span class="location">
                                                      <strong>Sylhet</strong>
                                                  </span>
                                              </div>
                                              <div class="location-distance">
                                                  <p class="distance">
                                                      1.0 km to City Center
                                                  </p>
                                                  <p class="distance">
                                                      2.2 km to IGI Airport
                                                  </p>
                                              </div>
                                              <div class="mobile-side-review-with-best-deal">
                                                  <div class="hotel-review-area">
                                                      <p class="review">
                                                          <span>
                                                             <strong> Very Good 8.2</strong>
                                                          </span>
                                                      </p>
                                                      <p class="review-number">
                                                          <span>
                                                              2546 
                                                          </span>
                                                          Reviews
                                                      </p>
                                                  </div>
                                                  <div class="best-deal-inner-mobile">
                                                      <div class="heading">
                                                          <p><strong>Best Deal</strong></p>
                                                      </div>
                                                      <div class="deal-amount-area">
                                                          <p class="deal-amount">
                                                              $12.22
                                                          </p>
                                                      </div>
                                                      <div class="night-deatils">
                                                          <p class="night">
                                                              For 2 Night
                                                          </p>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="payment-details">
                                              <div class="single-payment-item">
                                                  <span class="payment-icon">
                                                      <img src="assets/img/room/booking.png" alt="booking icon" class="payment-icon">
                                                  </span>
                                                  <span class="payment-amount">
                                                      <strong>$12.22</strong>
                                                  </span>
                                              </div>
                                              <div class="single-payment-item mr-0 ml-25">
                                                  <span class="payment-icon">
                                                      <img src="assets/img/room/via.png" alt="via icon" class="payment-icon">
                                                  </span>
                                                  <span class="payment-amount">
                                                      <strong>$13.22</strong>
                                                  </span>
                                              </div>
                                              <div class="single-payment-item">
                                                  <span class="payment-icon">
                                                      <img src="assets/img/room/skycanner.png" alt="skycanner icon" class="payment-icon">
                                                  </span>
                                                  <span class="payment-amount">
                                                      <strong>$12.52</strong>
                                                  </span>
                                              </div>
                                              <div class="single-payment-item mr-0 ml-25">
                                                  <span class="payment-icon">
                                                      <img src="assets/img/room/goibibo.png" alt="goibibo icon" class="payment-icon">
                                                  </span>
                                                  <span class="payment-amount">
                                                      <strong>$13.32</strong>
                                                  </span>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="best-deals-area">
                                  <div class="website-count-area">
                                      <p>From 6 Websites</p>
                                  </div>
                                  <div class="best-deal-inner">
                                      <div class="heading">
                                          <p><strong>Best Deal</strong></p>
                                      </div>
                                      <div class="deal-amount-area">
                                          <p class="deal-amount">
                                              $15.22
                                          </p>
                                      </div>
                                      <div class="night-deatils">
                                          <p class="night">
                                              For 2 Night
                                          </p>
                                      </div>
                                      <div class="chose-room-btn">
                                          <button class="chose-room" mat-button>Chose a Room</button>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="filter-result-signle-content d-flex">
                              <div class="signle-hotel-details">
                                  <div class="hotel-details-header d-flex">
                                      <div class="hotel-title-area">
                                          <h4 class="hotel-title">
                                              Holiday Inn New Delhi International Airport
                                          </h4>
                                          <div class="hotel-location-details">
                                              <p class="location">
                                                  Area 12, Hospitality District, Aero City,, Near Aero City Metro Station,,110037,Delhi,New Delhi,India
                                              </p>
                                          </div>
                                      </div>
                                      <div class="hotel-review-area">
                                          <p class="review">
                                              <span>
                                                 <strong> Very Good 8.2</strong>
                                              </span>
                                          </p>
                                          <p class="review-number">
                                              <span>
                                                  2546 
                                              </span>
                                              Reviews
                                          </p>
                                      </div>
                                  </div>
                                 
                                  <div class="hotel-details-wrapper d-flex">
                                      <div class="hotel-img-area">
                                          <img src="assets/img/room/hotel3.png" alt="hotel image" class="hotel-img">
                                      </div>
                                      <div class="details-right-content d-flex">
                                          <div class="hotel-rating mobile-side-review-section">
                                              <ul class="rating d-flex">
                                                  <li>
                                                      <i class="material-icons">
                                                          star
                                                      </i>
                                                  </li>
                                                  <li>
                                                      <i class="material-icons">
                                                          star
                                                      </i>
                                                  </li>
                                                  <li>
                                                      <i class="material-icons">
                                                          star
                                                      </i>
                                                  </li>
                                                  <li>
                                                      <i class="material-icons">
                                                          star
                                                      </i>
                                                  </li>
                                              </ul>
                                              <div class="place-title">
                                                  <span class="icon">
                                                      <img src="assets/img/location-icon.png" alt="" class="location-icon">
                                                  </span>
                                                  <span class="location">
                                                      <strong>Sylhet</strong>
                                                  </span>
                                              </div>
                                              <div class="location-distance">
                                                  <p class="distance">
                                                      1.0 km to City Center
                                                  </p>
                                                  <p class="distance">
                                                      2.2 km to IGI Airport
                                                  </p>
                                              </div>
                                              <div class="mobile-side-review-with-best-deal">
                                                  <div class="hotel-review-area">
                                                      <p class="review">
                                                          <span>
                                                             <strong> Very Good 8.2</strong>
                                                          </span>
                                                      </p>
                                                      <p class="review-number">
                                                          <span>
                                                              2546 
                                                          </span>
                                                          Reviews
                                                      </p>
                                                  </div>
                                                  <div class="best-deal-inner-mobile">
                                                      <div class="heading">
                                                          <p><strong>Best Deal</strong></p>
                                                      </div>
                                                      <div class="deal-amount-area">
                                                          <p class="deal-amount">
                                                              $12.22
                                                          </p>
                                                      </div>
                                                      <div class="night-deatils">
                                                          <p class="night">
                                                              For 2 Night
                                                          </p>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="payment-details">
                                              <div class="single-payment-item">
                                                  <span class="payment-icon">
                                                      <img src="assets/img/room/booking.png" alt="booking icon" class="payment-icon">
                                                  </span>
                                                  <span class="payment-amount">
                                                      <strong>$12.22</strong>
                                                  </span>
                                              </div>
                                              <div class="single-payment-item mr-0 ml-25">
                                                  <span class="payment-icon">
                                                      <img src="assets/img/room/via.png" alt="via icon" class="payment-icon">
                                                  </span>
                                                  <span class="payment-amount">
                                                      <strong>$13.22</strong>
                                                  </span>
                                              </div>
                                              <div class="single-payment-item">
                                                  <span class="payment-icon">
                                                      <img src="assets/img/room/skycanner.png" alt="skycanner icon" class="payment-icon">
                                                  </span>
                                                  <span class="payment-amount">
                                                      <strong>$12.52</strong>
                                                  </span>
                                              </div>
                                              <div class="single-payment-item mr-0 ml-25">
                                                  <span class="payment-icon">
                                                      <img src="assets/img/room/goibibo.png" alt="goibibo icon" class="payment-icon">
                                                  </span>
                                                  <span class="payment-amount">
                                                      <strong>$13.32</strong>
                                                  </span>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="best-deals-area">
                                  <div class="website-count-area">
                                      <p>From 5 Websites</p>
                                  </div>
                                  <div class="best-deal-inner">
                                      <div class="heading">
                                          <p><strong>Best Deal</strong></p>
                                      </div>
                                      <div class="deal-amount-area">
                                          <p class="deal-amount">
                                              $11.22
                                          </p>
                                      </div>
                                      <div class="night-deatils">
                                          <p class="night">
                                              For 2 Night
                                          </p>
                                      </div>
                                      <div class="chose-room-btn">
                                          <button class="chose-room" mat-button >Chose a Room</button>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>

                      <div *ngIf="searchOnMap" class="viewMap">
                            <img src="assets/img/room/filter-map.png">
                            <div class="resInfoOnMap">
                                <h6>WelcomHotel Dwarka, New Delhi - ITC Hotel Group</h6>
                                <p>Plot no 3, Sector 10, 205 Delhi Road District Center, Dwarka,110075,Delhi,New Delhi,India</p>
                                <section class="media">
                                    <img class="d-flex align-self-center mr-3" height="80px" width="100px" src="assets/img/room/delux-room1.png" alt="res">
                                    <div class="media-body"> 
                                        <div class="d-flex  justify-content-between">
                                            <aside>
                                            <p class="mb-0"><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon></p>
                                            <img src="assets/img/location-icon.png" width="15px" class="float-left"> 
                                            <p class="m-0 ml-4">
                                                <strong>Sylhet</strong><br>
                                                <span>1.0 km to City Center</span><br>
                                                <span>2.2 km to IGI Airport</span>                                               
                                            </p>
                                            </aside>
                                            <aside class="text-right">
                                                <strong>Very Good 8.2</strong>
                                                <h5>2546 Reviews</h5>
                                                <button mat-button>Select a hotel</button>
                                            </aside>
                                        </div>                                       
                                    </div>
                                </section>
                            </div>
                      </div>
                      
                  </div>
              </div>
          </div>
      </div>
  </section>

  <!-- Filer Result Area End -->


</div>
  