
    // // Nesting inside css already used   (2)
	//    $col:red; 				//Variables (1)
    // // @include 'filepath'.   //Modules  (4)
    
	//    @mixin border($property){ //Mixins   (5)
        // 	  border:solid red $property;
        // 	  color: $colG;
        // }
        //    Partials (3) Operators + - * / %(6)
	 


	// %share{background: rgba(0,0,0,0.2);}// @extend
	// h3{color: $col; @include border(1px); @extend %share; width: 600px / 960px * 100%;}//Operators 
    // p{ @extend %share; color: green;}
    


$orange:#f08c2e;

@mixin mybtn{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    color: #fff; background: $orange; 
}