@import "~@angular/material/prebuilt-themes/indigo-pink.css";
// @import "~animate.css/animate.min.css";
// @import '~swiper/dist/css/swiper.min.css';
// html,body{width:100%;}
body{margin:0; font-family: 'Open Sans', sans-serif !important; background: #f7f7f7 !important; font-size: 14px !important;}
.mat-tab-group{font-family: 'Open Sans', sans-serif !important;}
/* Main Container Start */
.newContainer {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
  @media (min-width: 768px) {
    .newContainer, .container {
      width: 720px !important;
    }
  }
  @media (min-width: 992px) {
    .newContainer, .container {
      width: 960px !important;
    }
  }
  @media (min-width: 1200px) {
    .newContainer, .container {
      width: 1080px !important;
    }
  }
  @media (max-width: 480px) {
    .newContainer {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
  }
/* Main Container End */



// form{width:420px;margin:35px auto 100px;display:block;float:none;}
// .mat-form-field{width:100%;}
// .misc-bottom-padding{margin:8px 0 20px;}
// .misc-bottom-padding mat-label{margin-right:15px;}
// .mat-radio-label{margin:0 15px 0 0;}
// .title-center{margin:0 auto;}
// .button-wrapper{margin-top:10px;}
button, button:focus, *[role="button"]{border:none; outline: none !important;}
button[ng-reflect-disabled="true"]{background: #b7b7b7 !important;cursor: no-drop !important; color: #fff !important;}
img {max-width: 100%;border: 0;}
.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #f08c2e;
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #f08c2e;
}
.mat-radio-button.mat-accent .mat-radio-inner-circle{
    background-color: #f08c2e;
}
@media screen and (min-width: 768px){
    .visible-xs{display: none;}
}
@media screen and (max-width: 767px){
    .hidden-xs{display: none;}
}

// h s inc
.mat-calendar-body-selected{background-color: #f28c2d;}
.cityDwoprownList.mat-autocomplete-panel {    max-width: 340px !important; position: absolute !important; width: 340px; top: 11px;
  mat-option{padding: 8px 10px; font-size: 14px; height: auto; line-height: normal;
    span{font-weight: normal; text-transform: capitalize; color: #797979;
      p{margin: 3px 0 0 30px; font-size: 13px;    overflow: hidden;text-overflow: ellipsis;}
      mat-icon{transform: rotate(45deg); margin-right: 2px; color: #212a30;font-size: 22px;margin-top: 3px;float: left;}

      strong{font-weight: 500; font-size: 15px; float: right;}
      
      & > bdo{margin: 0 0 0 4px; color: #222; font-size: 15px;}
    }
    &:nth-child(odd){background: #f9f9f9;}
  }
}
@media screen and (min-width: 768px) and (max-width: 991px){
  .cityDwoprownList.mat-autocomplete-panel {max-width: 345px !important;}
}
@media screen and (max-width: 767px){
  .cityDwoprownList.mat-autocomplete-panel{max-width: calc(100vw - 30px) !important; width: 100vw;}
  .cityDwoprownList.mat-autocomplete-panel._fto{left: auto; right: -8px;}
}
@media screen and (max-width: 575px){
  .cityDwoprownList.mat-autocomplete-panel{max-width: calc(100vw - 8px) !important;}
}
// h s inc