<div class="travellers-details-main">


    
    <!-- Filter header area mobile version -->
        

    <section class="filter-header-area-mobile-version">
        <div class="bg-gradient"></div>
        <div class="mobilenewContainer">
            <div class="filter-mobile-menu-main d-flex">
                <div class="header-menu-left-area">
                    <div class="btn-back-wrap">
                        <button class="btn-back" mat-button>
                            <i class="material-icons">
                                arrow_back
                            </i>
                        </button>
                        <span class="location">
                            New delhi, india
                        </span>
                    </div>
                </div>
                <div class="header-menu-right-area">
                    <ul class="menu-main d-flex">
                        <li>
                            <button class="btn-back" mat-button>
                                <i class="material-icons">
                                    room
                                </i>
                            </button>
                        </li>
                        <li>
                            <button class="btn-back" mat-button>
                                <img src="assets/img/room/filter-mobile.png" alt="">
                            </button>
                        </li>
                        <li>
                            <button class="btn-back" mat-button>
                                <i class="material-icons">
                                    house
                                </i>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="date-room-details">
                <p class="date-room-people">
                    <span class="date-area">
                        <span class="icon">
                            <i class="material-icons">
                                date_range
                            </i>
                        </span>
                        <span class="date">
                            01 May | 05 May, 
                        </span>
                        <span class="people-count">
                            2 Adult,
                        </span>
                        <span class="night-count">
                            4 nights
                        </span>
                    </span>
                </p>
            </div>
        </div>
    </section>
        
    <!-- Filter header area mobile version end -->
    

    <!-- travellers Deatils Start -->
    
    <section class="travellers-details-area">
        <div class="newContainer">
            <div class="row">
                <!-- Left menu start -->
                <div class="col-lg-3">
                    <div class="left-menu-area">
                        <div class="main-menu">
                            <ul>
                                <li>
                                    <a class="menu-item active" href="#">
                                        Travellers Details
                                        <i class="material-icons">
                                            keyboard_arrow_right
                                        </i>
                                    </a>
                                </li>
                                <li><a class="menu-item" href="">Final Payment</a></li>
                            </ul>
                        </div>
                        <div class="flight-info-area inner-padding b-border">
                            <div class="flight-info-heading d-flex">
                                <div class="dep-title"><span>DEL</span></div>
                                <div class="icon-container">
                                    <mat-icon>local_airport</mat-icon>
                                </div>
                                <div class="arv-title"><span>DEL</span></div>
                            </div>
                            <div class="flight-info-main d-flex">
                                <div class="airlines-area d-flex">
                                    <div class="img-area">
                                        <img src="assets/img/flight/indigo-icon.png" alt="Airline Logo" class="airline-logo">
                                    </div>
                                    <div class="airline-title">
                                        <p>
                                            IndiGo
                                            <span class="air-model">AI - 863</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="flight-schedule">
                                    <span class="schedule-time">21:30</span>
                                </div>
                            </div>
                            <div class="flight-info-btn">
                                <button class="flight-details-btn">
                                    View Complete Flight Details
                                    <i class="material-icons">
                                        arrow_drop_down
                                    </i>
                                </button>
                            </div>
                        </div>
                        <div class="flight-inclusions-area inner-padding b-border">
                            <div class="section-title"><span>View Flight Inclusions</span></div>
                            <div class="inclusion-box d-flex">
                                <div class="inclusion-title">
                                    <p>
                                        <span class="icon-area">
                                            <img src="assets/img/flight/bag-icon.png" alt="Bag Icon">
                                        </span>
                                        Cabin Baggage 
                                    </p>
                                </div>
                                <div class="inclusion-amount">
                                    <p class="adult-amount">7 kg, Adult</p>
                                    <p class="child-amount">7 kg, Child</p>
                                </div>
                            </div>
                            <div class="inclusion-box d-flex">
                                <div class="inclusion-title">
                                    <p>
                                        <span class="icon-area">
                                            <img src="assets/img/flight/suitcase-icon.png" alt="Bag Icon">
                                        </span>
                                        Check-in Baggage
                                    </p>
                                </div>
                                <div class="inclusion-amount">
                                    <p class="adult-amount">15 kg, Adult</p>
                                    <p class="child-amount mb-0">15 kg, Child</p>
                                </div>
                            </div>
                        </div>
                        <div class="fare-rule-area inner-padding b-border">
                            <div class="section-title"><span>View Fare Rules</span></div>
                            <div class="rule-box">
                                <div class="cancel-fee d-flex">
                                    <p class="title">
                                        Cancellation Fee
                                        <span class="s-note">(Per passenger)</span>
                                    </p>
                                    <p class="cancel-amount">$3.00</p>
                                </div>
                                <div class="date-cng-fee d-flex">
                                    <p class="title">
                                        Date Change Fee:
                                        <span class="s-note">(Per passenger)</span>
                                    </p>
                                    <p class="date-cng-amount">$2.00 <span class="s-note">+ Fare difference</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="note-area inner-padding">
                            <div class="note">
                                <p>
                                    This airline allows cancellation only before 2 hrs from departure time.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- left menu end -->
                <div class="col-lg-9 col-md-12">
                    <!-- Details main start -->
                    <div class="travellers-info-field">
                        <div class="section-inner n-bb  pt-0">
                            <mat-accordion>
                                <mat-expansion-panel  [expanded]="step === 0" (opened)="setStep(0)">
                                    <mat-expansion-panel-header [collapsedHeight]="customCollapsedHeight" [expandedHeight]="customExpandedHeight">
                                    <mat-panel-title>
                                        Adult 1: <span> Above 12 Years <span class="i-text">(Travellers details should be as per ypur’s ID proff)</span></span>
                                    </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <div class="name-form-area">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="title-select">
                                                    <div class="label"><span><strong>Title</strong></span></div>
                                                    <mat-form-field>
                                                        <mat-select [(value)]="selected">
                                                            <mat-option>Title</mat-option>
                                                            <mat-option value="option1"> Mr</mat-option>
                                                            <mat-option value="option2"> Mrs</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="first-name-input">
                                                    <div class="label"><span>First Name</span></div>
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput  value="Enter First Name">
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="last-name-input">
                                                    <div class="label"><span>Last Name</span></div>
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput  value="Enter Last Name">
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="mt-3 mb-0"><span class="moreoption" (click)="moreOptionFun()">More Option: 
                                            <i class="align-middle material-icons" *ngIf="moreOption">arrow_drop_up</i>
                                            <i class="align-middle material-icons" *ngIf="!moreOption">arrow_drop_down</i>
                                        </span></p>
                                        <div class="more-option-form-area mt-3" *ngIf="moreOption">
                                            <div class="row">
                                                <div class="special-selection-area col-6 ">
                                                    <div class="label"><span><strong>Extra Baggage</strong></span></div>
                                                    <mat-form-field>
                                                        <mat-select [(value)]="selected">
                                                            <mat-option>No baggage</mat-option>
                                                            <mat-option value="option1"> No baggage</mat-option>
                                                            <mat-option value="option2"> No baggage</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                                <div class="special-selection-area col-6 ">
                                                    <div class="label"><span><strong>Meals</strong></span></div>
                                                    <mat-form-field>
                                                        <mat-select [(value)]="selected">
                                                            <mat-option>No meals</mat-option>
                                                            <mat-option value="option1"> Pizza</mat-option>
                                                            <mat-option value="option2"> Pasta</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </mat-expansion-panel>
                                <mat-expansion-panel >
                                    <mat-expansion-panel-header [collapsedHeight]="customCollapsedHeight" [expandedHeight]="customExpandedHeight">
                                        <mat-panel-title>
                                            Adult 2: <span> Above 12 Years <span class="i-text">(Travellers details should be as per ypur’s ID proff)</span></span>
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <div class="name-form-area">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="title-select">
                                                    <div class="label"><span><strong>Title</strong></span></div>
                                                    <mat-form-field>
                                                        <mat-select [(value)]="selected">
                                                            <mat-option>Title</mat-option>
                                                            <mat-option value="option1"> Mr</mat-option>
                                                            <mat-option value="option2"> Mrs</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="first-name-input">
                                                    <div class="label"><span>First Name</span></div>
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput  value="Enter First Name">
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="last-name-input">
                                                    <div class="label"><span>Last Name</span></div>
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput  value="Enter Last Name">
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="mt-3 mb-0"><span class="moreoption" (click)="moreOptionFun()">More Option: 
                                                <i class="align-middle material-icons" *ngIf="moreOption">arrow_drop_up</i>
                                                <i class="align-middle material-icons" *ngIf="!moreOption">arrow_drop_down</i>
                                            </span></p>
                                        <div class="more-option-form-area mt-3" *ngIf="moreOption">
                                            <div class="row">
                                                <div class="special-selection-area col-6 ">
                                                    <div class="label"><span><strong>Extra Baggage</strong></span></div>
                                                    <mat-form-field>
                                                        <mat-select [(value)]="selected">
                                                            <mat-option>No baggage</mat-option>
                                                            <mat-option value="option1"> No baggage</mat-option>
                                                            <mat-option value="option2"> No baggage</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                                <div class="special-selection-area col-6 ">
                                                    <div class="label"><span><strong>Meals</strong></span></div>
                                                    <mat-form-field>
                                                        <mat-select [(value)]="selected">
                                                            <mat-option>No meals</mat-option>
                                                            <mat-option value="option1"> Pizza</mat-option>
                                                            <mat-option value="option2"> Pasta</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </mat-expansion-panel>
                                    
                                <mat-expansion-panel >
                                    <mat-expansion-panel-header [collapsedHeight]="customCollapsedHeight" [expandedHeight]="customExpandedHeight">
                                        <mat-panel-title>
                                            Child 1: <span> 2 to 12 Years   <span class="i-text">(Travellers details should be as per ypur’s ID proff)</span></span>
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <div class="name-form-area">
                                        <div class="row">
                                            <div class="col-md-2">
                                               <div class="title-select">
                                                    <div class="label"><span><strong>Title</strong></span></div>
                                                    <mat-form-field>
                                                        <mat-select [(value)]="selected">
                                                            <mat-option>Title</mat-option>
                                                            <mat-option value="option1"> Mr</mat-option>
                                                            <mat-option value="option2"> Mrs</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                               </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="first-name-input">
                                                    <div class="label"><span>First Name</span></div>
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput  value="Enter First Name">
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="last-name-input">
                                                    <div class="label"><span>Last Name</span></div>
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput  value="Enter Last Name">
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="birth-date-area col-md-6 no-col-padding">
                                            <div class="label"><span>Date of Birth</span></div>
                                            <div class="row">
                                                <div class="col-4">
                                                    <div class="day-input">
                                                        <mat-form-field>
                                                            <mat-select [(value)]="selected">
                                                                <mat-option value="option2"> DD</mat-option>
                                                                <mat-option value="option1"> 01</mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="month-input">
                                                        <mat-form-field>
                                                            <mat-select [(value)]="selected">
                                                                <mat-option value="option2"> MM</mat-option>
                                                                <mat-option value="option1"> 01</mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="year-input">
                                                        <mat-form-field>
                                                            <mat-select [(value)]="selected">
                                                                <mat-option value="option2"> YYYY</mat-option>
                                                                <mat-option value="option1"> 01</mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="mt-3 mb-0"><span class="moreoption" (click)="moreOptionFun()">More Option: 
                                                <i class="align-middle material-icons" *ngIf="moreOption">arrow_drop_up</i>
                                                <i class="align-middle material-icons" *ngIf="!moreOption">arrow_drop_down</i>
                                            </span></p>
                                        <div class="more-option-form-area mt-3" *ngIf="moreOption">
                                            <div class="row">
                                                <div class="special-selection-area col-6 ">
                                                    <div class="label"><span><strong>Extra Baggage</strong></span></div>
                                                    <mat-form-field>
                                                        <mat-select [(value)]="selected">
                                                            <mat-option>No baggage</mat-option>
                                                            <mat-option value="option1"> No baggage</mat-option>
                                                            <mat-option value="option2"> No baggage</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                                <div class="special-selection-area col-6 ">
                                                    <div class="label"><span><strong>Meals</strong></span></div>
                                                    <mat-form-field>
                                                        <mat-select [(value)]="selected">
                                                            <mat-option>No meals</mat-option>
                                                            <mat-option value="option1"> Pizza</mat-option>
                                                            <mat-option value="option2"> Pasta</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>

                        <!-- travellers Mobile Email Inout Area -->
                        <div class="travellers-mobile-email-feild-area">
                            <div class="section-inner">
                                <h4 class="title"><strong>Please confirm your email-id and mobile number</strong></h4>
                                <div class="mobile-email-form">
                                    <div class="row no-gutter">
                                        <div class="col-md-7 no-col-padding">
                                            <div class="mobile-form">
                                                <div class="label"><span>Mobile Number</span></div>
                                                <div class="row md-flex">
                                                    <div class="col-md-3 col-sm-3 col-xs-3 md-30">
                                                        <mat-form-field>
                                                            <mat-select [(value)]="selected">
                                                                <mat-option>+88</mat-option>
                                                                <mat-option value="option1"> +11</mat-option>
                                                                <mat-option value="option2"> +002</mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-md-9 col-sm-9 col-xs-9 md-70">
                                                        <mat-form-field class="example-full-width">
                                                            <input matInput  value="Enter Mobile Number">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-5  no-padding-mb">
                                            <div class="label"><span>Email Id</span></div>
                                            <mat-form-field class="example-full-width">
                                                <input matInput  value="Enter Email Id">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- travellers Mobile Email Inout End -->

                        <!-- Insurance area start -->

                        <div class="insurance-area">
                            <div class="section-inner">
                                <h4 class="title">
                                    <strong>To safeguard you and your luggage, please select insurance. Read terms and conditions for more information.</strong> 
                                </h4>
                                <div class="check-box-area">
                                    <mat-checkbox><strong>Add Travel insurance:</strong> <span class="title-side-text"><strong> Safeguard your trove, yourself @ 520 (Per Passenger)</strong></span></mat-checkbox>
                                    <button class="btn-show d-none" [ngClass]="{'active' : show_insurence }" (click) = "showInsurence()">
                                        <i class="material-icons">
                                            expand_more
                                        </i>
                                    </button>
                                    <div class="insulernce-inner" [ngClass]="{'show-insurence-mb' : show_insurence}">
                                        <p>
                                            <strong>
                                                Travel with peace of mind, with travel insurance from !GIG! 
                                                Lombard, no paperwork, comprehensive coverage ,Available from US)
                                            </strong>
                                        </p>
                                        <div class="insurance-menu">
                                            <ul class="d-flex">
                                                <li><a href="">Claim Process </a></li>
                                                <li><a href="">Policy Infrmation  </a></li>
                                                <li><a href="">Coverage	 </a></li>
                                                <li><a href="">FAQs </a></li>
                                            </ul>
                                        </div>
                                        <hr>
                                        <div class="agreement-check-box-area">
                                            <mat-checkbox>I have READ and AGREE to the Terrns & Conditions.</mat-checkbox>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Insurance area end -->

                        <!-- Ride Pickup Area Start -->

                        <div class="ride-pickup-area">
                            <div class="section-inner">
                                <h4 class="title">
                                    <strong>Book a cab for your destination, Read Term & Conditions for more infoemation.</strong> 
                                </h4>
                                <div class="check-box-area">
                                    <mat-checkbox><strong>Schedule A Ride :</strong> <span><strong class="title-side-text"> 10% OFF Lorem Ipsum is simply dummy text of the printing and typesetting industry.</strong></span></mat-checkbox>
                                    <button class="btn-show ride-show d-none" [ngClass]="{'active' : show_ride_input }" (click) = "showRideinput()">
                                        <i class="material-icons">
                                            expand_more
                                        </i>
                                    </button>
                                </div>
                                <div class="ride-input-feild-area" [ngClass]="{'show-ride-input-mb' : show_ride_input}">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-wrap d-flex">
                                                <div class="ride-input-label"><span>Pickup</span></div>
                                                <div class="input-area">
                                                    <input type="text" class="form-control" value="Indira Gandhi International Airport">
                                                    <div class="icon">
                                                        <i class="material-icons">
                                                        edit
                                                        </i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-wrap d-flex">
                                                <div class="ride-input-label"><span>Drop</span></div>
                                                <div class="input-area">
                                                    <input type="text" class="form-control" value="Where to?">
                                                    <div class="icon">
                                                        <i class="material-icons">
                                                             time_to_leave
                                                        </i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="agreement-check-box-area">
                                        <mat-checkbox>I have READ and AGREE to the Terrns & Conditions.</mat-checkbox>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Ride Pickup Area End-->

                        <!-- Payment section area start -->

                        <div class="payment-section-area">
                            <div class="section-inner n-bb">
                                <div class="payment-area-main">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="payment-left-area">
                                                <h4 class="title">Payment and refund is subject to Airlines</h4>
                                                <div class="voucher-area">
                                                    <p class="voucher">YOFooDy50</p>
                                                    <p class="voucher-title"><strong>Available Vouchers</strong></p>
                                                </div>
                                                <div class="voucher-input-area d-flex">
                                                    <input type="text" class="form-control" placeholder="Enter Voucher Code">
                                                    <button class="btn-voucher" mat-button>Validate</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="offset-md-1 col-md-6">
                                            <div class="payment-right-area">
                                                <h4 class="title">Fare Summary</h4>
                                                <div class="payment-inner">
                                                    <div class="payment-summary-area">
                                                        <p class="fare-title"><strong>Base Fare</strong></p>
                                                        <p class="adilt-payment">
                                                            Adult(s)
                                                            <span class="amount-details">
                                                                (
                                                                    <span class="count-number">2</span>
                                                                    X
                                                                    <span class="count-amount">$15.00</span>
                                                                )
                                                            </span>
                                                            <span class="adult-total r-align">$30.00</span>
                                                        </p>
                                                        <p class="children-payment">
                                                            Children(s)
                                                            <span class="amount-details">
                                                                (
                                                                    <span class="count-number">1</span>
                                                                    X
                                                                    <span class="count-amount">$15.00</span>
                                                                )
                                                            </span>
                                                            <span class="children-total r-align">$15.00</span>
                                                        </p>
                                                        <p class="fee-payment">Fee & Surcharges  <span class="fee-total r-align">$15.00</span></p>
                                                        <p class="other-payment">Other Service  <span class="other-total r-align">$15.00</span></p>
                                                    </div>
                                                    <div class="payment-bottom-area">
                                                        <p class="pr-total">Amount <span class="pr-amount r-align">$75.00</span></p>
                                                        <p class="insurence-total">Insurence <span class="insurence-amount r-align">$20.00</span></p>
                                                        <p class="voucher-total">Voucher <span class="voucher-amount r-align">-$15.00</span></p>
                                                    </div>
                                                    <div class="grand-total">
                                                        <p class="total-main">Total Amount:   <span class="g-total r-align">$80.00</span></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Payment section area end -->

                        <!-- Booking Area Start -->

                        <div class="booking-area">
                            <div class="booking-area-main d-flex">
                                <div class="bottom-check-box-area">
                                    <mat-checkbox>I agree with the Terms & Conditions</mat-checkbox>
                                </div>
                                <div class="booking-btn-area">
                                    <button class="btn-booking" mat-button>Proceed to Booking</button>
                                </div>
                            </div>
                        </div>
                        <!-- Booking Area end -->
                    </div>
                    <!-- Details main end -->
                </div>
            </div>
        </div>
    </section>

    <!-- travellers Deatils End -->

    </div>
        